{% extends 'page.html.twig' %}

{% set pagetitle = 'My notifications'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="mb-0">{{ pagetitle }}</h3>
            <span></span>
        </div>
        {% for notification in rows %}
            <div class="card-body">
                <div class="mb-5">
                    <h4 class="mb-0">{{ 'Notification'|trans }}</h4>
                    <a href="{{ notification.url }}" class="text-danger mb-2 d-block">
                        <u>{{ notification.message | raw }}</u>
                    </a>
                    <p>{{ notification.createdAt | ago }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
