{% set routename = app.request.get('_route') %}
{% set random = setting.generateReference(5) %}

<a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">{{ 'Menu'|trans }}</a>
<button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="bi bi-list"></span>
</button>
<div class="collapse navbar-collapse" id="sidenav">
    <div class="navbar-nav flex-column">
        <span class="navbar-header">{{ 'Dashboard'|trans }}</span>
        <ul class="list-unstyled ms-n2 mb-4">
            {% if not is_granted('ROLE_CREATOR') %}
                <li class="nav-item">
                    <a class="nav-link {% if routename == "dashboard_admin_index" or routename == "dashboard_restaurant_index" or routename == "dashboard_pointofsale_index" or routename == "dashboard_scanner_index" %}active{% endif %}" href="{{ path('dashboard_main') }}">
                        {% if is_granted("ROLE_POINTOFSALE") %}
                            <i class="bi bi-book nav-icon"></i>
                            {{ 'Recipes on sale'|trans }}
                        {% elseif is_granted("ROLE_SCANNER") %}
                            <i class="bi bi-calendar-date nav-icon"></i>
                            {{ 'Recipes list'|trans }}
                        {% elseif is_granted("ROLE_ADMIN_APPLICATION") or is_granted('ROLE_ADMIN') %}
                            <i class="bi bi-speedometer nav-icon"></i>
                            {{ 'Dashboard'|trans }}
                        {% elseif is_granted("ROLE_RESTAURANT") %}
                            <i class="bi bi-speedometer nav-icon"></i>
                            {{ 'Dashboard'|trans }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_CREATOR') or is_granted('ROLE_USER') %}
                <li class="nav-item {% if routename == "dashboard_creator_account_dashboard" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_creator_account_dashboard') }}">
                        <i class="bi bi-speedometer nav-icon"></i>
                        {{ 'Dashboard'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if routename == "dashboard_creator_favorites_index" or routename == "dashboard_creator_favorites_create"  or routename == "dashboard_creator_favorites_remove" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_creator_favorites_index') }}">
                        <i class="bi bi-heart nav-icon"></i>
                        {{ 'My favorites'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if routename == "dashboard_creator_review_index" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_creator_review_index') }}">
                        <i class="bi bi-star nav-icon"></i>
                        {{ 'My reviews'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if routename == "dashboard_creator_following_index" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_creator_following_index') }}">
                        <i class="bi bi-folder nav-icon"></i>
                        {{ 'Following'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if routename == "dashboard_creator_orders" or routename == "dashboard_creator_order_details" %}active{% endif %}" href="{{ path('dashboard_creator_orders') }}">
                        <i class="bi bi-ticket nav-icon"></i>
                        {{ 'My subscriptions'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if routename == "dashboard_creator_cart" %}active{% endif %}" href="{{ path('dashboard_creator_cart') }}">
                        <i class="bi bi-cart nav-icon"></i>
                        {{ 'My cart'|trans }}
                        <span class="badge bg-info-soft float-start ms-2">{{ app.user.getSubscriptionsInCartQuantitySum }}</span>
                    </a>
                </li>
            {% elseif is_granted('ROLE_RESTAURANT') %}
                <li class="nav-item {% if routename == "dashboard_restaurant_profile" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_restaurant_profile') }}">
                        <i class="bi bi-person-badge nav-icon"></i>
                        {{ 'My restaurant profile'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="bi bi-person-badge nav-icon"></i>
                        {{ 'Change password'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if routename == "dashboard_restaurant_recipe_index" or routename == "dashboard_restaurant_recipe_new"  or routename == "dashboard_restaurant_recipe_edit" or routename == "dashboard_restaurant_recipe_date_statistics_index" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_restaurant_recipe_index') }}">
                        <i class="bi bi-book nav-icon"></i>
                        {{ 'My recipes'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if routename == "dashboard_restaurant_venue_index" or routename == "dashboard_restaurant_venue_new"  or routename == "dashboard_restaurant_venue_edit" or routename == "dashboard_restaurant_venue_seating_plans_index" or routename == "dashboard_restaurant_venue_seating_plans_new" or routename == "dashboard_restaurant_venue_seating_plans_edit" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_restaurant_venue_index') }}">
                        <i class="bi bi-pin-map-fill nav-icon"></i>
                        {{ 'My venues'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if routename == "dashboard_restaurant_review_index" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_creator_review_index') }}">
                        <i class="bi bi-star nav-icon"></i>
                        {{ 'Reviews'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if routename == "dashboard_restaurant_reports_index" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_restaurant_reports_index') }}">
                        <i class="bi bi-funnel nav-icon"></i>
                        {{ 'Reports'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if routename == "dashboard_restaurant_pointofsale_index" or routename == "dashboard_restaurant_pointofsale_new" or routename == "dashboard_restaurant_pointofsale_edit" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_restaurant_pointofsale_index') }}">
                        <i class="bi bi-printer nav-icon"></i>
                        {{ 'My points of sale'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if routename == "dashboard_restaurant_scanner_index" or routename == "dashboard_restaurant_scanner_new" or routename == "dashboard_restaurant_scanner_edit" %}active{% endif %}" href="{{ path('dashboard_restaurant_scanner_index') }}">
                        <i class="bi bi-qr-code-scan nav-icon"></i>
                        {{ 'My scanners'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if routename == "dashboard_restaurant_setting_scanner_app" %}active{% endif %}" href="{{ path('dashboard_restaurant_setting_scanner_app') }}">
                        <i class="bi bi-qr-code-scan nav-icon"></i>
                        {{ 'Scanner App settings'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="bi bi-person-badge nav-icon"></i>
                        {{ 'Payout requests'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="bi bi-person-badge nav-icon"></i>
                        {{ 'Payout methods'|trans }}
                    </a>
                </li>
            {% elseif is_granted('ROLE_POINTOFSALE') %}
                <li class="nav-item {% if routename == "dashboard_pointofsale_orders" or routename == "dashboard_pointofsale_order_details" %}active{% endif %}">
                    <a class="nav-link" href="{{ path('dashboard_pointofsale_orders') }}">
                        <i class="bi bi-basket nav-icon"></i>
                        {{ 'My orders'|trans }}
                    </a>
                </li>
            {% endif %}

            <li class="nav-item {% if routename == "dashboard_ticket_index" or routename == "dashboard_ticket_new"  or routename == "dashboard_ticket_edit" %}active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard_ticket_index') }}">
                    <i class="bi bi-ticket nav-icon"></i>
                    {% if is_granted('ROLE_ADMIN_APPLICATION') or is_granted('ROLE_ADMIN') %}
                        {{ 'Manage tickets'|trans }}
                    {% elseif is_granted('ROLE_VERIFIED') or is_granted('ROLE_USER') or not is_granted('ROLE_CREATOR') %}
                        {{ 'My tickets'|trans }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {% if routename == "dashboard_application_index" or routename == "dashboard_application_new"  or routename == "dashboard_ticket_token" %}active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard_application_index') }}">
                    <i class="bi bi-app nav-icon"></i>
                    {{ 'My applications'|trans }}
                </a>
            </li>
            <li class="nav-item {% if routename == "dashboard_creator_testimonial_index" or routename == "dashboard_creator_testimonial_new"  or routename == "dashboard_testimonial_edit" %}active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard_creator_testimonial_index') }}">
                    <i class="bi bi-star nav-icon"></i>
                    {{ 'My testimonials'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="bi bi-credit-card nav-icon"></i>
                    {{ 'My payments'|trans }}
                </a>
            </li>
            <li class="nav-item {% if routename == "dashboard_invoice_index" or routename == "dashboard_invoice_show" %}active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard_invoice_index') }}">
                    <i class="bi bi-clipboard nav-icon"></i>
                    {{ 'My invoices'|trans }}
                </a>
            </li>
        </ul>
        <span class="navbar-header">{{ 'Account settings'|trans }}</span>
        <ul class="list-unstyled ms-n2 mb-0">
            {% if is_granted('ROLE_CREATOR') or is_granted('ROLE_USER') %}
                {% if app.user.facebookId is null and app.user.googleId is null %}
                    <li class="nav-item {% if routename == "dashboard_creator_account_index" %}active{% endif %}">
                        <a class="nav-link" href="{{ path('dashboard_creator_account_index') }}">
                            <i class="bi bi-person nav-icon"></i>
                            {{ 'My profile'|trans }}
                        </a>
                    </li>
                    <li class="nav-item {% if routename == "dashboard_change_password" %}active{% endif %}">
                        <a class="nav-link" href="{{ path('dashboard_change_password') }}">
                            <i class="bi bi-person-badge nav-icon"></i>
                            {{ 'Change password'|trans }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {#
            <li class="nav-item {% if routename == "dashboard_creator_account_social_profiles" %}active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard_creator_account_social_profiles') }}">
                    <i class="bi bi-arrow-clockwise nav-icon"></i>
                    {{ 'Social profiles'|trans }}
                </a>
            </li>
            <li class="nav-item {% if routename == "dashboard_account_profile" %}active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard_account_profile') }}">
                    <i class="bi bi-person nav-icon"></i>
                    {{ 'My profile'|trans }}
                </a>
            </li>
            <li class="nav-item {% if routename == "dashboard_account_edit" %}active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard_account_edit') }}">
                    <i class="bi bi-pen nav-icon"></i>
                    {{ 'Edit my profile'|trans }}
                </a>
            </li>
            #}
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="bi bi-bell nav-icon"></i>
                    {{ 'Notifications'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="bi bi-lock nav-icon"></i>
                    {{ 'Profile privacy'|trans }}
                </a>
            </li>
            <li class="nav-item {% if routename == "dashboard_linked_profiles" %}active{% endif %}">
                <a class="nav-link" href="{{ path('dashboard_linked_profiles') }}">
                    <i class="bi bi-person nav-icon"></i>
                    {{ 'Linked accounts'|trans }}
                </a>
            </li>
            {% if is_granted('IS_IMPERSONATOR') %}
                <li class="nav-item">
                    <a href="{{ impersonation_exit_path(path('home')) }}" class="nav-link">
                        <i class="bi bi-power nav-icon"></i>
                        {{ 'Sign out'|trans }}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();" class="nav-link">
                        <i class="bi bi-power nav-icon"></i>
                        {{ 'Sign out'|trans }}
                    </a>
                    <form id="js-logout-form" action="{{ path('logout') }}" method="POST" style="display: none;">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
