{% extends 'help.html.twig' %}

{% set bodyClass = 'bg-white' %}
{% set pagetitle = 'Help Center Article'|trans ~ " " ~ article.title %}
{% block title pagetitle %}

{% block pageheader %}
	<div class="py-8 bg-light">
		<div class="container">
			<div class="row">
				<div class="offset-md-2 col-md-8 col-12">
					<h1 class="fw-bold mb-1 display-4">{{ pagetitle }}</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "help_center": ('Help center'|trans), (path("help_center_category", { slug: article.category.slug })): article.category.name | raw | striptags | slice(0, 10) | raw, "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
	<section class="py-8">
		<div class="container mb-lg-8">
			<div class="row">
				<div class="offset-xl-2 col-xl-7 offset-lg-1 col-lg-8 col-md-8 col-12">
					<div class="mb-8">
						<h1 class="display-4 fw-semibold">{{ article.title }}</h1>
						<p class="mb-5 lead"></p>
						<div class="mb-3">
							<h2 class="fw-semibold"></h2>
							<p>{{ article.content | raw | nl2br }}</p>
						</div>
						<div class="d-flex justify-content-between align-items-center mb-5">
							<div>
								{% if article.tags %}
									<span class="ms-2">{{ 'Tags'|trans }}</span>
									{% for tag in article.tags|split(',') %}
										<a href="{{ path('help_center', { keyword: tag }) }}" class="btn btn-light btn-xs mb-2">
											{{ tag }}
										</a>
									{% endfor %}
								{% endif %}
							</div>
							<div>
								<div>
									<span class="ms-2">Content</span>
								</div>
							</div>
						</div>
						<div class="d-md-flex justify-content-between align-items-center">
							<div class="mb-2 mb-md-0">
								<p class="mb-0 fs-6">{{ 'Last updated'|trans }} {{ article.updatedAt | ago() }}</p>
							</div>
							<div>
								<h5 class="mb-0">
									{{ 'Was this article helpful?'|trans }}
									<a href="#" class="ms-2">
										<i class="bi bi-hand-thumbs-up"></i>
									</a>
									<a href="#" class="ms-2">
										<i class="bi bi-hand-thumbs-down"></i>
									</a>
								</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-4 mb-lg-0">
					<div class="mb-4">
						<form class="mb-3 position-relative" action="{{ path('help_center') }}">
							<input type="search" name="keyword" class="form-control" placeholder="{{ "Keyword"|trans }}">
							<span class="position-absolute end-0 top-0 mt-2 me-3">
								<i class="bi bi-search fs-5"></i>
							</span>
						</form>
					</div>
					<div class="card mb-4 border">
						<div class="card-body p-4">
							<h3>{{ "Popular"|trans }}</h3>
							<div class="mt-3">
								<ul class="list-unstyled mb-0">
									{% set populararticles = setting.getHelpCenterArticles({"limit": 5, "sort": "views", "otherthan": article.slug}).getQuery().getResult() %}
									{% for article in populararticles %}
										<li class="mb-3">
											<h4 class="lh-lg">
												<small class="text-muted">{{ article.category.name }}</small>
												<a href="{{ path('help_center_article', { slug : article.slug }) }}" class="text-inherit">
													{{ article.title }}
												</a>
											</h4>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="card mb-4 border">
						<div class="card-body p-4">
							<h3>{{ "Categories"|trans }}</h3>
							<div class="mt-3">
								<ul class="list-unstyled mb-0 nav nav-x-0 flex-column">
									{% set helpcentercategories = setting.getHelpCenterCategories({}).getQuery().getResult() %}
                                    {% for helpcentercategory in helpcentercategories %}
										<li class="lh-lg mb-1">
											<i class="bi bi-arrow-right"></i>
											<a href="{{ path('help_center_category', {slug: helpcentercategory.slug}) }}" class="text-link d-inline">
												{{ helpcentercategory.name }} {{ helpcentercategory.articles | length }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="card mb-4 border">
						<div class="card-body p-4">
							<h3>{{ "Tags"|trans }}</h3>
							<div class="mt-3">
								{% for tag in setting.getHelpCenterArticles({"selecttags": true}).getQuery().getOneOrNullResult()[1]|split(',') %}
									<a href="{{ path('help_center', { keyword: tag }) }}" class="btn btn-light btn-xs mb-2">{{ tag }}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
