{% extends 'help.html.twig' %}

{% set bodyClass = 'bg-white' %}
{% set pagetitle = 'Help Center FAQ'|trans %}
{% block title pagetitle %}

{% block pageheader %}
    <div class="py-8 bg-light">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8 col-12">
                    <h1 class="fw-bold mb-1 display-4">{{ 'Frequently Asked Questions'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8 col-12">
                    <div class="mb-4">
                        <h2 class="mb-0 fw-semibold">{{ 'Most frequently asked questions'|trans }}</h2>
                    </div>
                    {% if faqs | length > 0 %}
                        <div class="accordion accordion-flush" id="accordionFAQ">
                            {% for faq in faqs %}
                                <div class="border p-3 rounded-3 mb-2" id="heading-{{ faq.id }}">
                                    <h3 class="mb-0 fs-4">
                                        <a href="#" class="d-flex align-items-center text-inherit {{ (loop.first ) ? 'active' : '' }}" data-bs-toggle="collapse" data-bs-target="#collapse-{{ faq.id }}" aria-expanded="false" aria-controls="collapse-{{ faq.id }}">
                                            <span class="me-auto">{{ faq.question }}</span>
                                            <span class="collapse-toggle ms-4">
                                                <i class="bi bi-chevron-down"></i>
                                            </span>
                                        </a>
                                    </h3>
                                    <div id="collapse-{{ faq.id }}" class="collapse" aria-labelledby="heading-{{ faq.id }}" data-bs-parent="#accordionFAQ">
                                        <div class="pt-2">{{ faq.answer | html_markdown }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% include "global/message.html.twig" with { type: "dark", message: ('No faqs found'|trans), icon: "bi bi-exclamation-circle" } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
