{% extends 'auth.html.twig' %}

{% block layout %}{{ parent() }} login{% endblock %}

{% set pagetitle = 'Sign in'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="mb-4">
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/brand/logo/logo-icon.svg') }}" class="mb-4" alt="logo-icon">
            {# <img src="{{ asset(settings.getAppLayoutSettings.getLogoPath) }}" alt="{{ website_name }}" class="mb-4"> #}
        </a>
        <h1 class="mb-1 fw-bold">{{ pagetitle }}</h1>
        {% if '1' == settings['users_can_register'] %}
            <span>
                {{ 'You do not have an account?'|trans }}
                <a href="{{ path('register') }}" class="ms-1">{{ 'Sign up'|trans }}</a>
            </span>
        {% endif %}
    </div>
    <form method="post" class="needs-validation" novalidate="">
        {% if error %}
            {% include "global/message.html.twig" with { message: (error.messageKey|trans(error.messageData, 'security')), type: "danger", icon: "bi bi-exclamation-circle" } %}
        {% endif %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="mb-3">
            <label for="text">{{ 'User name or email :'|trans }}</label>
            <input type="text" id="text" class="form-control" name="username" placeholder="{{ 'Email address here'|trans }}" value="{{ last_username }}"  autocomplete="username" required autofocus>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">{{ 'Password'|trans }}</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="**************" autocomplete="current-password" required>
        </div>
        <div class="d-lg-flex justify-content-between align-items-center mb-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="rememberme" name="_remember_me" checked>
                <label class="form-check-label" for="rememberme">{{ 'Remember me'|trans }}</label>
            </div>
            <div>
                <a href="{{ path('forgot_password_request') }}">{{ 'Forgot your password?'|trans }}</a>
            </div>
        </div>
        <div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">{{ pagetitle }}</button>
            </div>
        </div>
        {% if '1' == settings['social_login_facebook_enabled'] or '1' == settings['social_login_google_enabled'] %}
            <hr class="my-4">
            {% include "global/_social-auth.html.twig" %}
        {% endif %}
    </form>
{% endblock %}
