<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="">
			<tr>
				<th># {# {{ knp_pagination_sortable(rows, '#', 'u.id') }} #}</th>
				<th>{{ 'User name / Email'|trans }}</th>
				<th>{{ 'Full name / Premium'|trans }}</th>
				<th>{{ 'Content'|trans }}</th>
				<th>{{ 'Rating'|trans }}</th>
				<th>{{ 'Last updated'|trans }}</th>
				<th>{{ 'Status'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for testimonial in testimonials %}
				{% set link = path('dashboard_admin_testimonial_edit', { id : testimonial.id }) %}
				<tr>
					<td>{{ testimonial.id }}</td>
					<td>
						<a href="{{ link }}" class="text-inherit">
							<div class="d-flex align-items-center">
								<div class="ms-3">
									<h4 class="mb-1 text-primary-hover">
                                        {{ testimonial.author.username | lower | capitalize }}
                                    <br>
										{{ testimonial.author.email }}
                                    </h4>
									<span>
										{{ 'Published the'|trans }}
										{{ testimonial.createdAt ? testimonial.createdAt | format_datetime(pattern="dd MMM. yyyy at kk:mm") }}
									</span>
								</div>
							</div>
						</a>
					</td>
					<td>{{ testimonial.author.getFullName() }}</td>
                    <td>{{ testimonial.content | html_markdown_excerpt(40) }}</td>
                    <td>
                        4.5
                        <span class="fs-6 align-top">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-star-fill text-secondary" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                            </path></svg>
                        </span>
                    </td>
					<td>
						{{ testimonial.updatedAt ? testimonial.updatedAt | format_date('long') : '' }}
					</td>
					<td>
						{% if testimonial.isOnline == false %}
							<span class="badge bg-danger-soft">
								<i class="bi bi-eye-slash"></i>
								{{ "Offline"|trans }}
							</span>
						{% else %}
							<span class="badge bg-success-soft">
								<i class="bi bi-eye"></i>
								{{ "Online"|trans }}
							</span>
						{% endif %}
						{% if testimonial.deletedAt %}
							<br>
							<br>
							<span class="badge bg-danger-soft">
								<i class="bi bi-alarm"></i>
								{{ "Deleted"|trans }}
							</span>
						{% endif %}
					</td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
								<a class="dropdown-item" href="{{ link }}">
									<i class="bi bi-pencil dropdown-item-icon"></i>
									{{ 'Edit'|trans }}
								</a>
                                {#  
								<a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-testimonial-delete-form').submit();" class="dropdown-item">
									<i class="bi bi-trash dropdown-item-icon"></i>
									{{ 'Delete'|trans }}
								</a>
								<form id="js-testimonial-delete-form" action="{{ path('dashboard_admin_testimonial_delete', {id: testimonial.id}) }}" method="post" class="">
									<input type="hidden" name="_token" value="{{ csrf_token('testimonial_deletion_' ~ testimonial.id) }}">
									<input type="hidden" name="_method" value="DELETE">
								</form>
                                #}
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
