{% extends 'default.html.twig' %}

{% block title %}
{{ setting.getSettings("website_description_" ~ (app.request.get('_locale') ? app.request.get('_locale') : app.request.defaultLocale)) }}
{% endblock %}

{% block page %}home{% endblock %}

{% block content %}
    {% if herosettings.content == "recipes" and herosettings.recipes | length %}

        {% for recipe in herosettings.recipes %}

        {% endfor %}

    {% endif %}

    {% if herosettings.content == "restaurants" and herosettings.restaurants | length %}
        <section class="bg-primary">
            <div class="container">
                {% for user in herosettings.restaurants %}
                    {% if user.restaurant.coverName %}
                        <div class="row align-items-center g-0">
                            <div class="col-xl-5 col-lg-6 col-md-12">
                                <div class="py-7 py-lg-0">
                                    <h1 class="text-white display-4 fw-bold">{{ user.restaurant.name }}</h1>
                                    {% if user.restaurant.content %}
                                        <p class="text-white-50 mb-4 lead">{{ user.restaurant.content | striptags }}</p>
                                    {% endif %}
                                    <a href="{{ path('recipes', { restaurant : user.restaurant.slug }) }}" class="btn btn-dark">
                                        {{ "Buy tickets"|trans }}
                                    </a>
                                    <a href="#" class="btn btn-white">Are You Creator?</a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-6 col-md-12 text-lg-end text-center">
                                <img src="{{ asset(user.restaurant.getCoverPath) }}" alt="{{ user.restaurant.name }}" class="img-fluid">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="bg-white py-4 shadow-sm">
            <div class="container">
                <div class="row align-items-center g-0">
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                        <div class="d-flex align-items-center">
                            <span class="icon-shape icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4">
                                <i class="bi bi-book"></i>
                            </span>
                            <div class="ms-3">
                                <h4 class="mb-0 fw-semibold">30,000 online restauranters</h4>
                                <p class="mb-0">Enjoy a variety of fresh topics</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                        <div class="d-flex align-items-center">
                            <span class="icon-shape icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4">
                                <i class="bi bi-people"></i>
                            </span>
                            <div class="ms-3">
                                <h4 class="mb-0 fw-semibold">Expert instruction</h4>
                                <p class="mb-0">Find the right instructor for you</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12">
                        <div class="d-flex align-items-center">
                            <span class="icon-shape icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4">
                                <i class="bi bi-alarm"></i>
                            </span>
                            <div class="ms-3">
                                <h4 class="mb-0 fw-semibold">Lifetime access</h4>
                                <p class="mb-0">Learn on your schedule</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if herosettings.content == "custom" %}
        <section class="bg-light py-8 bg-cover">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <div>
                            <div class="text-center text-md-start">
                            {% if herosettings.title %}
                                <h1 class="display-2 fw-bold mb-3">{{ herosettings.title }}</h1>
                            {% endif %}
                            {% if herosettings.paragraph %}
                                <p class="lead">{{ herosettings.paragraph }}</p>
                            {% endif %}
                            </div>
                            {% if herosettings.showSearchBox %}
                                <div class="mt-8">
                                    <div class="bg-white rounded-md-pill shadow rounded-3 mb-4">
                                        <div class="p-md-2 p-4">
                                            <form action="{{ path('recipes') }}" class="row g-1">
                                                <div class="col-12 col-md-3">
                                                    <div class="input-group mb-2 mb-md-0 border-md-0 border rounded-pill">
                                                        <label for="hero-search-category" class="form-label text-dark visually-hidden">
                                                            {{ "Looking for"|trans }}
                                                        </label>
                                                        <select id="hero-search-category" name="category" data-sort-options="1" class="form-select rounded-pill border-0 ps-3 form-focus-none">
                                                            <option value>{{ "Anything"|trans }}</option>
                                                            {% for category in setting.getCategories({}).getQuery().getResult() %}
                                                                <option value="{{ category.slug }}">{{ category.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <div class="input-group mb-3 mb-md-0 border-md-0 border rounded-pill">
                                                        <label for="hero-search-country" class="form-label text-dark visually-hidden">
                                                            {{ "In"|trans }}
                                                        </label>
                                                        <select id="hero-search-country" name="country" data-sort-options="1" class="form-select rounded-pill border-0 ps-3 form-focus-none">
                                                            <option value>{{ "Anywhere"|trans }}</option>
                                                            {% for country in setting.getCountries({}).getQuery().getResult() %}
                                                                <option value="{{ country.slug }}">{{ country.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3">
                                                    <div class="input-group mb-3 mb-md-0 border-md-0 border rounded-pill">
                                                        <label for="hero-search-stardate" class="form-label text-dark visually-hidden">
                                                            {{ "When"|trans }}
                                                        </label>
                                                        <select id="hero-search-stardate" name="startdate" class="form-select rounded-pill border-0 ps-3 form-focus-none">
                                                            <option value>{{ "Anytime"|trans }}</option>
                                                            <option value="today">{{ "Today"|trans }}</option>
                                                            <option value="tomorrow">{{ "Tomorrow"|trans }}</option>
                                                            <option value="thisweekend">{{ "This weekend"|trans }}</option>
                                                            <option value="thisweek">{{ "This week"|trans }}</option>
                                                            <option value="nextweek">{{ "Next week"|trans }}</option>
                                                            <option value="thismonth">{{ "This month"|trans }}</option>
                                                            <option value="nextmonth">{{ "Next month"|trans }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-3 text-end d-grid">
                                                    <button type="submit" class="btn btn-primary rounded-pill">{{ "Search"|trans }}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <span class="fs-4"></span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-5 col-12 text-center">
                        <div class="position-relative d-none d-lg-block">
                            {% if herosettings.customBackgroundName %}
                                <img src="{{ herosettings.getCustomBackgroundPath }}" class="img-fluid" alt="img">
                            {% endif %}
                            {% if herosettings.customBlockOneName %}
                                <div class="position-absolute top-0 mt-7 ms-n6 ms-md-n6 ms-lg-n12 start-0">
                                    <img src="{{ herosettings.getCustomBlockOnePath }}" class="img-fluid" alt="img">
                                </div>
                            {% endif %}
                            {% if herosettings.customBlockTwoName %}
                                <div class="position-absolute bottom-0 mb-8 me-n6 me-md-n4 me-lg-n12 end-0">
                                    <img src="{{ herosettings.getCustomBlockTwoPath }}" class="img-fluid" alt="img">
                                </div>
                            {% endif %}
                            {% if herosettings.customBlockThreeName %}
                                <div class="position-absolute bottom-0 mb-n4 ms-n1 ms-md-n4 ms-lg-n7 start-0">
                                    <img src="{{ herosettings.getCustomBlockThreePath }}" class="img-fluid" alt="img">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if '1' == settings["homepage_show_search_box"] %}
        <section class="py-8 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-10 col-12">
                        <div>
                            <div class="mb-4">
                                <h1 class="fw-bold mb-1"></h1>
                                <p></p>
                            </div>
                            <div class="bg-white rounded-md-pill me-lg-8 shadow rounded-3">
                                <div class="p-md-2 p-4">
                                    <form class="row g-1" action="{{ path('recipes') }}">
                                        <div class="col-12 col-md-3">
                                            <div class="input-group mb-2 mb-md-0 border-md-0 border rounded-pill">
                                                <span class="input-group-text bg-transparent border-0 pe-0 ps-md-3 ps-md-0" id="searchJob">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                                    </svg>
                                                </span>
                                                <label for="search-category" class="form-label text-dark visually-hidden">{{ "Looking for"|trans }}</label>
                                                <select id="search-category" name="category" data-sort-options="1" class="form-select rounded-pill border-0 ps-3 form-focus-none">
                                                    <option value>{{ "Anything"|trans }}</option>
                                                    {% for category in setting.getCategories({}).getQuery().getResult() %}
                                                        <option value="{{ category.slug }}">{{ category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="input-group mb-3 mb-md-0 border-md-0 border rounded-pill">
                                                <span class="input-group-text bg-transparent border-0 pe-0 ps-md-0" id="location">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
                                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                                    </svg>
                                                </span>
                                                <label for="search-country" class="form-label text-dark visually-hidden">{{ "In"|trans }}</label>
                                                <select id="search-country" name="country" data-sort-options="1" class="form-select rounded-pill border-0 ps-3 form-focus-none">
                                                    <option value>{{ "Anywhere"|trans }}</option>
                                                    {% for country in setting.getCountries({}).getQuery().getResult() %}
                                                        <option value="{{ country.slug }}">{{ country.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="input-group mb-3 mb-md-0 border-md-0 border rounded-pill">
                                                <span class="input-group-text bg-transparent border-0 pe-0 ps-md-0" id="location">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"></path>
                                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                                    </svg>
                                                </span>
                                                <label for="search-startdate" class="form-label text-dark visually-hidden">{{ "When"|trans }}</label>
                                                <select id="search-startdate" name="startdate" class="form-select rounded-pill border-0 ps-3 form-focus-none">
                                                    <option value>{{ "Anytime"|trans }}</option>
                                                    <option value="today">{{ "Today"|trans }}</option>
                                                    <option value="tomorrow">{{ "Tomorrow"|trans }}</option>
                                                    <option value="thisweekend">{{ "This weekend"|trans }}</option>
                                                    <option value="thisweek">{{ "This week"|trans }}</option>
                                                    <option value="nextweek">{{ "Next week"|trans }}</option>
                                                    <option value="thismonth">{{ "This month"|trans }}</option>
                                                    <option value="nextmonth">{{ "Next month"|trans }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3 text-end d-grid">
                                            <button type="submit" class="btn btn-primary rounded-pill">{{ "Search"|trans }}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if setting.getSettings('homepage_recipes_number') > 0 %}
        {% set latestRecipes = setting.getRecipes({"limit": setting.getSettings('homepage_recipes_number')}).getQuery().getResult() %}
        {% if latestRecipes | length > 0 %}

        {% endif %}
    {% endif %}

    {% if setting.getSettings('homepage_categories_number') > 0 %}
        <section class="bg-gray-100 py-8">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
                        <div class="row text-center">
                            <div class="col-md-12 px-lg-8 mb-8 mt-6">
                                <span class="text-uppercase text-primary fw-semibold ls-md">{{ 'Browse Category'|trans }}</span>
                                <h2 class="h1 fw-bold mt-3">{{ 'Featured categories'|trans }}</h2>
                                <p class="mb-0 fs-4"></p>
                            </div>
                        </div>
                        <div class="row gy-4">
                            {% for category in setting.getCategories({ "isFeatured": true, "limit": setting.getSettings('homepage_categories_number') }).getQuery().getResult() %}
                                <div class="col-lg-3 col-md-4 col-12">
                                    <div class="card border-top border-4 card-hover-with-icon">
                                        <div class="card-body">
                                            <div class="icon-shape icon-lg rounded-circle bg-light mb-3 card-icon">
                                                <i class="{{ category.icon }} fa-fw text-primary"></i>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div>
                                                    <h4 class="mb-0">{{ category.name }}</h4>
                                                    <p class="mb-0"></p>
                                                </div>
                                                <a href="{{ path('recipes', { category: category.slug }) }}" class="text-inherit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {# {% include "global/category-card.html.twig" with {category: category} %} #}
                                </div>
                            {% endfor %}
                            <div class="col-12 mt-8 text-center">
                                <a href="{{ path('categories') }}" class="btn btn-outline-primary">
                                    {{ 'View All Category'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if setting.getSettings('homepage_posts_number') > 0 %}
        {% set latestPosts = setting.getBlogPosts({"limit": setting.getSettings('homepage_posts_number')}).getQuery().getResult() %}
        {% if latestPosts | length %}
            <section class="py-lg-8 py-6">
                <div class="container my-lg-8">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-12">
                            <div class="mb-6 mb-lg-8">
                                <h2 class="h1 fw-bold">
                                    {{'Lastest'|trans}}
                                    <u class="text-warning"><span class="text-primary">{{'blog posts'|trans}}</span></u>
                                </h2>
                                <p class="mb-0 lead"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for post in latestPosts %}
                            {% include "global/post-card.html.twig" with {post: post, thumbnailsize: [241, 241]} %}
                        {% endfor %}
                        <div class="col-xl-12 col-md-12 col-12">
                            <div class="mt-4">
                                <a href="{{ path('post') }}" class="btn btn-light-primary text-primary">
                                    {{ 'Show more blog posts'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

    {% if setting.getSettings('homepage_testimonials_number') > 0 %}
        {% set latestTestimonials = setting.getTestimonials({"limit": 2, "order": "DESC", "isOnline": true}).getQuery().getResult() %}
        {% if latestTestimonials | length %}
            <section class="py-7 py-lg-8 bg-gray-100">
                <div class="container my-lg-8">
                    <div class="row mb-8 justify-content-center">
                        <div class="col-lg-6 col-md-12 col-12 text-center">
                            <span class="text-primary mb-3 d-block text-uppercase fw-semibold ls-xl">{{ 'Testimonials'|trans }}</span>
                            <h2 class="mb-2 display-4 fw-bold">{{ 'What our learners are saying'|trans }}</h2>
                            <p class="lead">
                                {{ '12+ million people are already learning on'|trans }} {{ website_name }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for testimonial in latestTestimonials %}
                            {% include "global/testimonial-card.html.twig" with {testimonial: testimonial, showuser: 1, index: loop.index} %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %}

    {% if '1' == settings["homepage_show_call_to_action"] %}
        {#  
        <section class="py-8 bg-gray-200">
            <div class="container my-lg-8">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 col-md-12 col-12 text-center">
                        <span class="fs-4 text-warning ls-md text-uppercase fw-semibold"></span>
                        <h2 class="display-3 fw-bold mt-4 mb-3 text-primary">
                            <span class="text-dark px-3 px-md-0">{{ "Are you ready to take your"|trans }}</span>
                            <span class="headingTyped text-primary">
                                {% for category in setting.getCategories({ "isFeatured": true, "limit": 9 }).getQuery().getResult() %}
                                    {{ category.name | lower }}
                                    {% if not loop.last %}
                                        <span class="typed-cursor typed-cursor--blink" aria-hidden="true">|</span>
                                    {% endif %}
                                {% endfor %}
                            </span>
                            {{ "recipe to the next level ?"|trans }}
                        </h2>
                        <p class="lead px-lg- 8 mb-6"></p>
                        <a href="{{ path('dashboard_restaurant_recipe_new') }}" class="btn btn-primary">{{ "Create my recipe"|trans }}</a>
                    </div>
                </div>
            </div>
        </section>
        #}

        <section class="py-8 bg-gray-200"
            style="background: url('{{ asset('images/background/homepage-graphics.svg') }}') no-repeat; background-size: cover; background-position: top center">
            <div class="container my-lg-8">
                <div class="row justify-content-center text-center">
                    <div class="col-md-9 col-12">
                        <h2 class="display-4">{{ "Are you ready to take your"|trans }}</h2>
                        <p class="lead px-lg-8 mb-6">
                            {% for category in setting.getCategories({ "isFeatured": true, "limit": 9 }).getQuery().getResult() %}
                                {{ category.name | lower }}
                                {% if not loop.last %}|{% endif %}
                            {% endfor %}
                            {{ "recipe to the next level ?"|trans }}
                        </p>
                        <div class="d-grid d-md-block">
                            <a href="{{ path('dashboard_restaurant_recipe_new') }}" class="btn btn-primary mb-2 mb-md-0">
                                {{ "Create my recipe"|trans }}
                            </a>
                            <a href="../sign-up.html" class="btn btn-info">Business</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
