{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Payout request details'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_restaurant_payout_requests": ("Payout requests"|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            {% if is_granted("ROLE_RESTAURANT") and payoutRequest.status == 0 %}
                {% include "global/message.html.twig" with { type: "info", message: ('Once the payout request submitted, the recipe date will be locked and the sales will be suspended for the specific recipe date. If you wish, you can wait until the start date of the recipe date before requesting the payout. You can cancel the payout request any time before it is processed'|trans), icon: "bi bi-exclamation-circle" } %}
            {% endif %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>{{ "Reference"|trans }}</b>
                    <h5 class="mt-1">{{ payoutRequest.reference }}</h5>
                </li>
                <li class="list-group-item">
                    <b>{{ "Requested at"|trans }}</b>
                    <h5 class="mt-1">
                        {{ payoutRequest.createdAt | localizeddate('full', 'non', app.request.locale, date_timezone, date_format) }}
                    </h5>
                </li>
                {% if payoutRequest.status != 0 %}
                    <li class="list-group-item">
                        <b>{{ "Processed at"|trans }}</b>
                        <h5 class="mt-1">
                            {{ payoutRequest.updatedAt | localizeddate('full', 'non', app.request.locale, date_timezone, date_format) }}
                        </h5>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <b>{{ "Status"|trans }}</b>
                    <h5 class="mt-1">
                        <span class="badge-dot bg-{{ payoutRequest.getStatusClass }} me-1 d-inline-block align-middle"></span>
                        {{ payoutRequest.stringifyStatus|trans }}
                        {% if payoutRequest.deletedAt %}
                            <span class="badge-dot bg-danger me-1 d-inline-block align-middle"></span>
                            {{ "Deleted"|trans }}
                        {% endif %}
                    </h5>
                </li>
                {% if payoutRequest.note %}
                    <li class="list-group-item">
                        <b>{{ "Note"|trans }}</b>
                        <h5 class="mt-1">{{ payoutRequest.note }}</h5>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <b>{{ "Restaurant"|trans }}</b>
                    <h5 class="mt-1">{{ payoutRequest.restaurant.name }}</h5>
                </li>
                <li class="list-group-item">
                    <b>{{ "Recipe"|trans }}</b>
                    <h5 class="mt-1">{{ payoutRequest.recipeDate.recipe.title }}</h5>
                </li>
                <li class="list-group-item">
                    <b>{{ "Date"|trans }}</b>
                    <h5 class="mt-1">
                        {{ payoutRequest.recipeDate.startdate | localizeddate('full', 'non', app.request.locale, date_timezone, date_format) }}
                    </h5>
                </li>
                <li class="list-group-item">
                    <b>{{ "Venue"|trans }}</b>
                    <h5 class="mt-1">
                        {{ payoutRequest.recipeDate.venue ? (payoutRequest.recipeDate.venue.name ~ ": " ~ payoutRequest.recipeDate.venue.stringifyAddress()) : ("Online"|trans) }}
                    </h5>
                </li>
                <li class="list-group-item">
                    <b class="mr-3">{{ "Subscriptions sold"|trans }}</b>
                    {% if is_granted("ROLE_RESTAURANT") %}
                        <a href="{{ path('dashboard_restaurant_recipe_date_statistics_index', {recipeSlug: payoutRequest.recipeDate.recipe.slug, recipeDateReference: payoutRequest.recipeDate.reference}) }}" target="_blank">
                            <i class="bi bi-bar-chart"></i> {{ "View detailed statistics"|trans }}
                        </a>
                    {% elseif is_granted("ROLE_ADMIN_APPLICATION") %}
                        <a href="{{ path('dashboard_admin_recipe_date_statistics_index', {recipeSlug: payoutRequest.recipeDate.recipe.slug, recipeDateReference: payoutRequest.recipeDate.reference}) }}" target="_blank">
                            <i class="bi bi-bar-chart"></i> {{ "View detailed statistics"|trans }}
                        </a>
                    {% endif %}
                    <h5 class="mt-1">{{ payoutRequest.recipeDate.getOrderElementsQuantitySum }}</h5>
                </li>
                <li class="list-group-item">
                    <b>{{ "Payout method"|trans }}</b>
                    <h5 class="mt-1">
                        <img src="{{ asset('images/icons/payment/'~ payoutRequest.paymentGateway.name|lower ~'.svg') }}" class="img-100-100" />
                    </h5>
                </li>
                <li class="list-group-item ">
                    <b>{{ "Gross sales"|trans }}</b>
                    <h5 class="mt-1">
                        {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ payoutRequest.recipeDate.getSales }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                    </h5>
                </li>
                <li class="list-group-item ">
                    <b>{{ "Percentage cut"|trans }}</b>
                    <h5 class="mt-1">
                        {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ payoutRequest.recipeDate.getSubscriptionPricePercentageCutSum }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                    </h5>
                </li>
                <li class="list-group-item  list-group-item-success">
                    <b>{{ "Net sales"|trans }}</b>
                    <h5 class="mt-1">
                        {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ payoutRequest.recipeDate.getRestaurantPayoutAmount }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                    </h5>
                </li>
            </ul>
            <hr>
            {% if is_granted('ROLE_RESTAURANT') %}
                {% if payoutRequest.status == 0 %}
                    <a class="btn btn-primary cursor-pointer payoutRequest-cancel-button" href="{{ path('dashboard_restaurant_payout_request_cancel', {reference : payoutRequest.reference}) }}" data-confirmation-text="{{ "You are about to cancel this payout request (this action cannot be undone), the recipe date related to this payout request will be unlocked"|trans }}">
                        <i class="bi bi-x"></i>
                        {{ 'Cancel'|trans }}
                    </a>
                {% endif %}
            {% elseif is_granted('ROLE_ADMIN_APPLICATION') %}
                {% if payoutRequest.status == 1 or payoutRequest.status == -2 %}
                    <a class="btn btn-primary cursor-pointer" data-bs-toggle="modal" data-bs-target="#payoutRequest-{{ payoutRequest.reference }}-payment-details">
                        <i class="bi bi-file"></i>
                        {{ 'Payment details'|trans }}
                    </a>
                {% elseif payoutRequest.status == 0 %}
                    <a class="btn btn-primary requires-confirmation" data-confirmation-text="{{ "You are about to approve the payout request"|trans }}<br>{{ "Amount" }}: <b>{{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ payoutRequest.recipeDate.getRestaurantPayoutAmount }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }} </b><br>{{ 'Payout method'|trans }}: <b>{{ payoutRequest.paymentGateway.name }}</b>" href="{{ path('dashboard_admin_payout_request_approve', {reference : payoutRequest.reference}) }}">
                        <i class="bi bi-cash-coin"></i>
                        {{ 'Approve'|trans }}
                    </a>
                    <a class="btn btn-primary payoutRequest-cancel-button" data-confirmation-text="{{ "You are about to cancel this payout request (this action cannot be undone), the recipe date related to this payout request will be unlocked"|trans }}" href="{{ path('dashboard_admin_payout_request_cancel', {reference : payoutRequest.reference}) }}">
                        <i class="bi bi-x"></i>
                        {{ 'Cancel'|trans }}
                    </a>
                {% endif %}
                {% if payoutRequest.deletedAt %}
                    <a class="btn btn-primary" href="{{ path('dashboard_admin_payout_request_restore', { reference : payoutRequest.reference }) }}">
                        <i class="bi bi-trash-fill"></i>
                        {{ 'Restore'|trans }}
                    </a>
                    <a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-payoutRequest-delete-form').submit();" class="btn btn-primary cursor-pointer requires-confirmation">
                        <i class="bi bi-trash"></i>
                        {{ 'Delete permanently'|trans }}
                    </a>
                    <form id="js-payoutRequest-delete-form" action="{{ path('dashboard_admin_payout_request_delete', { reference : payoutRequest.reference }) }}" method="post" class="">
                        <input type="hidden" name="_token" value="{{ csrf_token('payout_deletion_' ~ reference : payoutRequest.reference) }}">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                {% else %}
                    <a class="btn btn-primary cursor-pointer requires-confirmation" href="{{ path('dashboard_admin_payout_request_delete', { reference : payoutRequest.reference }) }}">
                        <i class="bi bi-alarm"></i>
                        {{ 'Delete'|trans }}
                    </a>
                {% endif %}
            {% endif %}
            {% if is_granted("ROLE_ADMIN_APPLICATION") and payoutRequest.status == 1 or payoutRequest.status == -2 %}
                <div class="modal fade" id="payoutRequest-{{ payoutRequest.reference }}-payment-details" tabindex="-1" role="dialog" aria-labelledby="payoutRequest-{{ payoutRequest.reference }}-payment-details" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="payoutRequest-{{ payoutRequest.reference }}-payment-details">
                                    {{ "Payout request payment details"|trans }} - {{ payoutRequest.reference }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ payoutRequest.payment|json_encode(constant('JSON_PRETTY_PRINT'))|nl2br }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Close"|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
