{% extends "Global/layout.html.twig" %}

{% set pagetitle = 'Payout request details' | trans %}

{% block title %}{{pagetitle}}{% endblock %}

{% block content %}

    {% set navigation = [{"dashboard_organizer_payout_requests": ("Payout requests"|trans), "current":(pagetitle)}] %}
    {% include "Global/navigation.html.twig" with navigation %}

    <section class="section-content padding-y bg-white">
        <div class="{{ services.getSetting("app_layout") }}">
            <div class="row">
                <aside class="col-lg-3 pt-3 pt-lg-0">
                    {% include "Dashboard/sidebar.html.twig" %}
                </aside>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="card box">
                        <div class="card-body">

                            {% if is_granted("ROLE_ORGANIZER") and payoutRequest.status == 0 %}
                                {% include "Global/message.html.twig" with { type: "info", message: ('Once the payout request submitted, the event date will be locked and the sales will be suspended for the specific event date. If you wish, you can wait until the start date of the event date before requesting the payout. You can cancel the payout request any time before it is processed'|trans), icon: "fas fa-exclamation-circle" } %}
                            {% endif %}

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <b>{{ "Reference"|trans }}</b>
                                    <h5 class="mt-1">{{ payoutRequest.reference }}</h5>
                                </li>
                                <li class="list-group-item">
                                    <b>{{ "Requested at"|trans }}</b>
                                    <h5 class="mt-1">{{ payoutRequest.createdAt|localizeddate('none', 'none', app.request.locale, date_timezone, date_format) }}</h5>
                                </li>
                                {% if payoutRequest.status != 0 %}
                                    <li class="list-group-item">
                                        <b>{{ "Processed at"|trans }}</b>
                                        <h5 class="mt-1">{{ payoutRequest.updatedAt|localizeddate('none', 'none', app.request.locale, date_timezone, date_format) }}</h5>
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <b>{{ "Status"|trans }}</b>
                                    <h5 class="mt-1">
                                        <span class="badge badge-{{ payoutRequest.getStatusClass }}">{{ payoutRequest.stringifyStatus|trans }}</span>
                                        {% if payoutRequest.deletedAt %}
                                            <br>
                                            <br>
                                            <span class="badge badge-danger"><i class="fas fa-times fa-fw"></i> {{ "Deleted"|trans }}</span>
                                        {% endif %}
                                    </h5>
                                </li>
                                {% if payoutRequest.note %}
                                    <li class="list-group-item">
                                        <b>{{ "Note"|trans }}</b>
                                        <h5 class="mt-1">{{ payoutRequest.note }}</h5>
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <b>{{ "Organizer"|trans }}</b>
                                    <h5 class="mt-1">{{ payoutRequest.organizer.name }}</h5>
                                </li>
                                <li class="list-group-item">
                                    <b>{{ "Event"|trans }}</b>
                                    <h5 class="mt-1">{{ payoutRequest.eventDate.event.name }}</h5>
                                </li>
                                <li class="list-group-item">
                                    <b>{{ "Date"|trans }}</b>
                                    <h5 class="mt-1">{{ payoutRequest.eventDate.startdate|localizeddate('none', 'none', app.request.locale, date_timezone, date_format) }}</h5>
                                </li>
                                <li class="list-group-item">
                                    <b>{{ "Venue"|trans }}</b>
                                    <h5 class="mt-1">{{ payoutRequest.eventDate.venue ? (payoutRequest.eventDate.venue.name ~ ": " ~ payoutRequest.eventDate.venue.stringifyAddress()) : ("Online"|trans) }}</h5>
                                </li>
                                <li class="list-group-item">
                                    <b class="mr-3">{{ "Tickets sold"|trans }}</b>
                                    {% if is_granted("ROLE_ORGANIZER") %}
                                        <a href="{{ path('dashboard_organizer_event_date_statistics', {eventSlug: payoutRequest.eventDate.event.slug, eventDateReference: payoutRequest.eventDate.reference}) }}" target="_blank"><i class="fas fa-chart-line"></i> {{ "View detailed statistics"|trans }}</a>
                                    {% elseif is_granted("ROLE_ADMINISTRATOR") %}
                                        <a href="{{ path('dashboard_administrator_event_date_statistics', {eventSlug: payoutRequest.eventDate.event.slug, eventDateReference: payoutRequest.eventDate.reference}) }}" target="_blank"><i class="fas fa-chart-line"></i> {{ "View detailed statistics"|trans }}</a>
                                    {% endif %}
                                    <h5 class="mt-1">{{ payoutRequest.eventDate.getOrderElementsQuantitySum }}</h5>
                                </li>
                                <li class="list-group-item">
                                    <b>{{ "Payout method"|trans }}</b>
                                    <h5 class="mt-1"><img src="{{  asset('assets/img/icons/payment/'~ payoutRequest.paymentGateway.name|lower ~'.svg') }}" class="img-100-100" /></h5>
                                </li>
                                <li class="list-group-item ">
                                    <b>{{ "Gross sales"|trans }}</b>
                                    <h5 class="mt-1">{{ services.getSetting('currency_position') == 'left' ? services.getSetting('currency_symbol') : '' }}{{ payoutRequest.eventDate.getSales }}{{ services.getSetting('currency_position') == 'right' ? services.getSetting('currency_symbol') : '' }}</h5>
                                </li>
                                <li class="list-group-item ">
                                    <b>{{ "Percentage cut"|trans }}</b>
                                    <h5 class="mt-1">{{ services.getSetting('currency_position') == 'left' ? services.getSetting('currency_symbol') : '' }}{{ payoutRequest.eventDate.getTicketPricePercentageCutSum }}{{ services.getSetting('currency_position') == 'right' ? services.getSetting('currency_symbol') : '' }}</h5>
                                </li>
                                <li class="list-group-item  list-group-item-success">
                                    <b>{{ "Net sales"|trans }}</b>
                                    <h5 class="mt-1">{{ services.getSetting('currency_position') == 'left' ? services.getSetting('currency_symbol') : '' }}{{ payoutRequest.eventDate.getOrganizerPayoutAmount }}{{ services.getSetting('currency_position') == 'right' ? services.getSetting('currency_symbol') : '' }}</h5>
                                </li>
                            </ul>

                            <hr>

                            {% if is_granted('ROLE_ORGANIZER') %}
                                {% if payoutRequest.status == 0 %}
                                    <a href="javascript:void(0)" data-target="{{ path('dashboard_organizer_payout_request_cancel', { reference : payoutRequest.reference }) }}" class="payoutRequest-cancel-button cursor-pointer btn btn-primary" data-confirmation-text="{{ "You are about to cancel this payout request (this action cannot be undone), the event date related to this payout request will be unlocked"|trans }}"><i class="fas fa-window-close fa-fw"></i> {{ "Cancel"|trans }}</a>
                                {% endif %}
                            {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                                {% if payoutRequest.status == 1 or payoutRequest.status == -2 %}
                                    <a href="javascript:void(0)" class="btn btn-primary cursor-pointer" data-toggle="modal" data-target="#payoutRequest-{{ payoutRequest.reference }}-payment-details"><i class="fas fa-file-alt fa-fw"></i> {{ "Payment details"|trans }}</a>
                                {% elseif payoutRequest.status == 0 %}
                                    <a href="javascript:void(0)" data-target="{{ path('dashboard_administrator_payout_request_approve', { reference : payoutRequest.reference }) }}" class="btn btn-primary cursor-pointer requires-confirmation" data-confirmation-text="{{ "You are about to approve the payout request"|trans }}<br>{{ "Amount" }}: <b>{{ services.getSetting('currency_position') == 'left' ? services.getSetting('currency_symbol') : '' }}{{ payoutRequest.eventDate.getOrganizerPayoutAmount }}{{ services.getSetting('currency_position') == 'right' ? services.getSetting('currency_symbol') : '' }}</b><br>{{ 'Payout method'|trans }}: <b>{{ payoutRequest.paymentGateway.name }}</b>"><i class="fas fa-money-check-alt fa-fw"></i> {{ "Approve"|trans }} </a>
                                    <a href="javascript:void(0)" data-target="{{ path('dashboard_administrator_payout_request_cancel', { reference : payoutRequest.reference }) }}" class="btn btn-primary cursor-pointer payoutRequest-cancel-button" data-confirmation-text="{{ "You are about to cancel this payout request (this action cannot be undone), the event date related to this payout request will be unlocked"|trans }}"><i class="fas fa-window-close fa-fw"></i> {{ "Cancel"|trans }}</a>
                                {%  endif %}
                                {% if payoutRequest.deletedAt %}
                                    <a href="javascript:void(0)" data-target="{{ path('dashboard_administrator_payout_request_delete', { reference : payoutRequest.reference, forceRedirect: 1 }) }}" class="btn btn-primary cursor-pointer requires-confirmation" data-confirmation-text="{{ "You are about to delete the payout request and all its related information"|trans ~ " " ~ "PERMANENTLY"|trans }}"><i class="fas fa-trash fa-fw"></i> {{ "Delete permanently"|trans }}</a>
                                    <a href="{{ path('dashboard_administrator_payout_request_restore', { reference : payoutRequest.reference }) }}" class="btn btn-primary"><i class="dropdown-icon fas fa-trash-restore fa-fw"></i> {{ "Restore"|trans }}</a>
                                {% else %}
                                    <a href="javascript:void(0)" data-target="{{ path('dashboard_administrator_payout_request_delete', { reference : payoutRequest.reference }) }}" class="btn btn-primary cursor-pointer requires-confirmation" data-confirmation-text="{{ "You are about to delete the payout request and all its related information"|trans }}"><i class="fas fa-times fa-fw"></i> {{ "Delete"|trans }} </a>
                                {% endif %}
                            {% endif %}

                            {% if is_granted("ROLE_ADMINISTRATOR") and payoutRequest.status == 1 or payoutRequest.status == -2 %}

                                <div class="modal fade" id="payoutRequest-{{ payoutRequest.reference }}-payment-details">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">{{ "Payout request payment details"|trans }} - {{ payoutRequest.reference }}</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                {{ payoutRequest.payment|json_encode(constant('JSON_PRETTY_PRINT'))|nl2br }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ "Close"|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}