{% extends 'auth.html.twig' %}

{% block layout %}{{ parent() }} register{% endblock %}

{% form_theme registrationForm '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}

{% set pagetitle = 'Take your recipes to the next level'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="mb-4">
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/brand/logo/logo-icon.svg') }}" class="mb-4" alt="logo">
            {# <img src="{{ asset(settings.getAppLayoutSettings.getLogoPath) }}" alt="{{ website_name }}" class="mb-4"> #}
        </a>
        <h1 class="mb-1 fw-bold">{{ pagetitle }} 👋</h1>
        <span>
            {{ 'Already have an account?'|trans }}
            <a href="{{ path('login') }}" class="ms-1">{{ 'Sign in'|trans }}</a>
        </span>
    </div>
    {% if errors | length > 0 %}
        <div class="d-flex alert alert-danger alert-icon" role="alert">
            {% for error in errors %}
                <i class="bi bi-exclamation-circle fs-xl pe-1 me-2"></i>
                <div>{{ error.message }}</div>
                {% if not loop.last %}
                    <br/>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
        <div class="mb-3">
            {{ form_row(registrationForm.restaurant.name) }}
        </div>
        <div class="mb-3">
            {{ form_row(registrationForm.firstname) }}
        </div>
        <div class="mb-3">
            {{ form_row(registrationForm.lastname) }}
        </div>
        <div class="mb-3">
            {{ form_row(registrationForm.username) }}
        </div>
        {% if registrationForm.email is defined %}
            <div class="mb-3">
                {{ form_row(registrationForm.email) }}
            </div>
        {% endif %}
        {% if registrationForm.plainPassword is defined %}
            <div class="mb-3">
                {{ form_row(registrationForm.plainPassword.first) }}
            </div>
            <div class="mb-3">
                {{ form_row(registrationForm.plainPassword.second) }}
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form_row(registrationForm.isAgreeTerms, {
                label: "By clicking the Sign Up button, I agree to"|trans
            }) }}
            {% if '1' == settings['show_terms_of_service_page'] %}
                <a href="{{ path('page', { slug : settings['terms_of_service_page_slug'] }) }}}" class="me-2">
                    {{ 'Terms of service'|trans }}
                </a>
            {% endif %}
            {% if '1' == settings['show_privacy_policy_page'] %}
                <a href="{{ path('page', { slug : settings['privacy_policy_page_slug'] }) }}}">
                    {{ 'Privacy policy'|trans }}
                </a>
            {% endif %}
        </div>
        {% if '1' == settings['google_recaptcha_enabled'] %}
            <div class="mb-3">
                {{ form_widget(registrationForm.recaptcha) }}
                {{ form_errors(registrationForm.recaptcha) }}
            </div>
        {% endif %}
        <div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">{{ "Create Account"|trans }}</button>
            </div>
        </div>
        {% include "global/_social-auth.html.twig" %}
        {{ form_widget(registrationForm._token) }}
    {{ form_end(registrationForm, {'render_rest': false}) }}
{% endblock %}
