{% extends 'auth.html.twig' %}

{% block layout %}{{ parent() }} register{% endblock %}

{% form_theme registrationForm '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}

{% set pagetitle = 'Sign up'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="mb-4">
        <a href="{{ path('home') }}"><img src="{{ asset('images/brand/logo/logo-icon.svg') }}" class="mb-4" alt="logo"></a>
        <h1 class="mb-1 fw-bold">{{ pagetitle }} 👋</h1>
        <span>
            {{ 'Already have an account?'|trans }}
            <a href="{{ path('login') }}" class="ms-1">{{ 'Sign in'|trans }}</a>
        </span>
    </div>
    {% if errors | length > 0 %}
        <div class="d-flex alert alert-danger alert-icon" role="alert">
            {% for error in errors %}
                <i class="bi bi-exclamation-circle fs-xl pe-1 me-2"></i>
                <div>{{ error.message }}</div>
                {% if not loop.last %}
                    <br/>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
        <div class="mb-3">
            {{ form_row(registrationForm.firstname) }}
        </div>
        <div class="mb-3">
            {{ form_row(registrationForm.lastname) }}
        </div>
        <div class="mb-3">
            {{ form_row(registrationForm.username) }}
        </div>
        {% if registrationForm.email is defined %}
            <div class="mb-3">
                {{ form_row(registrationForm.email) }}
            </div>
        {% endif %}
        {% if registrationForm.plainPassword is defined %}
            <div class="mb-3">
                {{ form_row(registrationForm.plainPassword.first) }}
            </div>
            <div class="mb-3">
                {{ form_row(registrationForm.plainPassword.second) }}
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form_row(registrationForm.isAgreeTerms, {
                label: "Accept the conditions of use of your personal data"|trans
            }) }} 
            <a href="{{ path('rgpd')}}">
                {{ 'General data protection regulations.'|trans }}
            </a>
        </div>
        <div class="mb-3">
            {{ form_widget(registrationForm.recaptcha) }}
            {{ form_errors(registrationForm.recaptcha) }}
        </div>
        <div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">{{ pagetitle }}</button>
            </div>
        </div>
        <hr class="my-4">
        {% include "global/_social-auth.html.twig" %}
    {{ form_end(registrationForm) }}
{% endblock %}
