<footer class="pt-lg-8 pt-5 footer bg-white">
    <div class="container mt-lg-2">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-4">
                    <img src="{{ asset('images/brand/logo/logo.svg') }}" alt="{{ website_name }}" class="logo-inverse">
                    {# <img src="{{ asset(settings.getAppLayoutSettings.getLogoPath) }}" alt="{{ website_name }}" class="logo-inverse"> #}
                    <div class="mt-4">
                        <p>{{ settings["website_about"] | raw | nl2br }}</p>
                        <div class="fs-4 mt-4">
                            {% include "global/_social-link.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-2 col-md-3 col-6">
                <div class="mb-4">
                    <h3 class="fw-bold mb-3">{{ 'Company'|trans }}</h3>
                    <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                        {% if '1' == settings['show_gdpr_compliance_page'] %}
                            <li>
                                <a href="{{ path('page', { slug : settings['about_page_slug'] }) }}" class="nav-link">
                                    {{ 'About'|trans }}
                                </a>
                            </li>
                        {% endif %}
                        {% if not app.user or not app.user.premium  %}
                            <li><a href="{{ path('pricing') }}" class="nav-link">{{ 'Pricing'|trans }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('post') }}" class="nav-link">{{ 'Blog'|trans }}</a></li>
                        <li><a href="{{ path('contact') }}" class="nav-link">{{ 'Contact'|trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6">
                <div class="mb-4">
                    <h3 class="fw-bold mb-3">{{ 'Support'|trans }}</h3>
                    <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                        <li><a href="{{ path('help_center') }}" class="nav-link">{{ 'Help and Support'|trans }}</a></li>
                        <li><a href="#" class="nav-link">{{ 'Get the app'|trans }}</a></li>
                        <li><a href="{{ path('help_center_faq') }}" class="nav-link">{{ "FAQ"|trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="mb-4">
                    <h3 class="fw-bold mb-3">{{ 'Get In Touch.'|trans }}</h3>
                    <p>{{ address | raw | nl2br }}</p>
                    <p class="mb-1">
                        {{ 'Email'|trans }}:
                        <a href="javascript:void;">{{ email }}</a>
                    </p>
                    <p>
                        {{ 'Phone'|trans }}:
                        <span class="text-dark fw-semibold">{{ phone }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center g-0 border-top py-2 mt-6">
            <div class="col-md-10 col-12">
                <div class="d-lg-flex align-items-center">
                    <div class="me-4">
                        <span>
                            © 2020 - {{ "now"|date('Y') }}
                            {{ website_name }}-{{ 'UI, Inc. All rights reserved.'|trans }}
                        </span>
                    </div>
                    <div>
                        <nav class="nav nav-footer">
                            {% if '1' == settings['show_privacy_policy_page'] %}
                                <a class="nav-link ps-0" href="{{ path('page', { slug : settings['privacy_policy_page_slug'] }) }}">
                                    {{ 'Privacy'|trans }}
                                </a>
                            {% endif %}
                            {% if '1' == settings['show_terms_of_service_page'] %}
                                <a class="nav-link" href="{{ path('page', { slug : settings['terms_of_service_page_slug'] }) }}">
                                    {{ 'Terms'|trans }}
                                </a>
                            {% endif %}
							{% if '1' == settings['show_cookie_policy_page'] %}
                                <a class="nav-link px-2 px-md-3" href="{{ path('page', { slug : settings['cookie_policy_page_slug'] }) }}">
                                    {{ 'Cookie Notice'|trans }}
                                </a>
							{% endif %}
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 d-md-flex justify-content-end">
                {% from 'global/_language_selector.html.twig' import render_language_selector %}
                {{ render_language_selector() }}
            </div>
        </div>
    </div>
</footer>

{% if settings["show_back_to_top_button"] == "1" %}
    <div class="btn-scroll-top">
        <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
            <path d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 139.988px, 139.988px; stroke-dashoffset: 139.988px;"></path>
        </svg>
    </div>
{% endif %}
