<footer class="footer">
    <div class="container">
        <div class="row align-items-center g-0 border-top py-2">
            <div class="col-md-10 col-12">
                <div class="d-lg-flex align-items-center">
                    <div class="me-4">
                        <span>
                            ©
                            <span id="copyright2">
                                <script>
                                    document.getElementById("copyright2").appendChild(document.createTextNode(new Date().getFullYear()));
                                </script>-2020
                            </span>
                            {{ website_name }}-{{ 'UI, Inc. All rights reserved.'|trans }}
                        </span>
                    </div>
                    <div>
                        <nav class="nav nav-footer">
                            <a class="nav-link active ps-0" href="#!">{{ 'Privacy'|trans }}</a>
                            <a class="nav-link" href="#!">{{ 'Terms'|trans }}</a>
                            <a class="nav-link" href="{{ path('testimonial') }}">{{ 'Feedback'|trans }}</a>
                            <a class="nav-link" href="{{ path('help_center') }}">{{ 'Support'|trans }}</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 d-md-flex justify-content-end">
                {% from 'global/_language_selector.html.twig' import render_language_selector %}
                {{ render_language_selector() }}
            </div>
        </div>
    </div>
</footer>

<div class="btn-scroll-top">
    <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
        <path d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 139.988px, 139.988px; stroke-dashoffset: 139.988px;"></path>
    </svg>
</div>
