{% set routename = app.request.get('_route') %}
{% set random = setting.generateReference(5) %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-0">
        <a class="navbar-brand" href="{{ path('home') }}">
            {# <img src="{{ asset(settings.getAppLayoutSettings.getLogoPath) }}" alt="{{ website_name }}"> #}
            {{ website_name }}
        </a>
        <div class="ms-auto d-flex align-items-center order-lg-3">
            <div class="dropdown">
                {% include "global/_bs-theme-text.html.twig" %}
            </div>
            <div class="dropdown">
                {% include "global/_cart.html.twig" %}
            </div>
            <ul class="navbar-nav navbar-right-wrap ms-2 flex-row d-none d-md-block">
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					{% if is_granted('ROLE_CREATOR') %}
						{# {% include "global/_cart.html.twig" %} #}
                        {% include "global/_notification.html.twig" %}
					{% endif %}
                    <li class="dropdown ms-2 d-inline-block position-static">
                        <a class="rounded-circle" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            <div class="avatar avatar-md avatar-indicators avatar-online">
                                {% if is_granted('ROLE_ADMIN_APPLICATION') %}
                                    <span class="avatar rounded-circle">
                                        <i class="bi bi-person fs-3"></i>
                                    </span>
                                {% else %}
                                    <img alt="avatar" src="{{ app.user.gravatarUrl }}" class="rounded-circle">
                                {% endif %}
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end position-absolute mx-3 my-5">
                            <div class="dropdown-item">
                                <div class="d-flex">
                                    <div class="avatar avatar-md avatar-indicators avatar-online">
                                        {% if is_granted('ROLE_ADMIN_APPLICATION') %}
                                            <span class="avatar rounded-circle">
                                                <i class="bi bi-person fs-3"></i>
                                            </span>
                                        {% else %}
                                            <img alt="avatar" src="{{ app.user.gravatarUrl }}" class="rounded-circle">
                                        {% endif %}
                                    </div>
                                    <div class="ms-3 lh-1">
                                        <h5 class="mb-1">{{ app.user.username }}</h5>
                                        <p class="mb-0">{{ app.user.email }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <ul class="list-unstyled">
                                <li class="dropdown-submenu dropstart-lg">
                                    <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                        <i class="bi bi-circle me-2"></i>
                                        Status
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <span class="badge-dot bg-success me-2"></span>
                                                Online
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <span class="badge-dot bg-secondary me-2"></span>
                                                Offline
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <span class="badge-dot bg-warning me-2"></span>
                                                Away
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <span class="badge-dot bg-danger me-2"></span>
                                                Busy
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('dashboard_main') }}">
										{% if is_granted("ROLE_POINTOFSALE") %}
											<i class="bi bi-book me-2"></i>
											{{ 'Recipes on sale'|trans }}
										{% elseif is_granted("ROLE_SCANNER") %}
											<i class="bi bi-calendar-date me-2"></i>
											{{ 'Recipes list'|trans }}
										{% else %}
											<i class="bi bi-speedometer me-2"></i>
											{{ 'Dashboard'|trans }}
										{% endif %}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('dashboard_creator_account_dashboard') }}">
                                        <i class="bi bi-person me-2"></i>
                                        {{ 'My dashboard'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#!">
                                        <i class="bi bi-star me-2"></i>
                                        {{ 'Subscription'|trans }}
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN_APPLICATION') %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('dashboard_admin_setting_layout') }}">
                                            <i class="bi bi-gear me-2"></i>
                                            {{ 'Settings'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="dropdown-divider"></div>
                            <ul class="list-unstyled">
                                {% if is_granted('IS_IMPERSONATOR') %}
                                    <li>
                                        <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">
                                            <i class="bi bi-power me-2"></i>
                                            {{ 'Sign out'|trans }}
                                        </a>
                                        <form id="js-logout-form" action="{{ path('logout') }}" method="POST" style="display: none;">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                                        </form>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="dropdown-item" href="{{ impersonation_exit_path(path('home')) }}">
                                            <i class="bi bi-power me-2"></i>
                                            {{ 'Sign out'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <div class="dropdown">
                        {% include "global/_login-register.html.twig" %}
                    </div>
                {% endif %}
            </ul>
        </div>
        <div>
            <button class="navbar-toggler collapsed ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav mt-3 mt-lg-0">
                {% for menuElement in setting.getMenus({"slug" : "header-menu"}).getQuery().getOneOrNullResult().getMenuElements() %}
                    {% set link = "#0" %}
                    {% if menuElement.customLink %}
                        {% set link = menuElement.customLink %}
                    {% endif %}
                    {% if menuElement.link %}
                        {% set link = setting.changeLinkLocale(app.request.locale, menuElement.link) %}
                    {% endif %}
                    {% if link == "categories_dropdown" %}
                        <li class="nav-item dropdown {% if routename == "categories" %}active{% endif %}">
                            <a class="nav-link dropdown-toggle {% if routename == "categories" %}active{% endif %}" href="#" id="navbarCategories" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="{{ menuElement.icon }} fa-fw"></i> {{ menuElement.label }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarCategories">
                                {% for category in setting.getCategories({ "isFeatured": true, "limit": 9 }).getQuery().getResult() %}
                                    <li>
                                        <a href="{{ path('recipes', { category: category.slug }) }}" class="dropdown-item justify-content-between {% if routename == "categories" %}active{% endif %}">
                                            <i class="{{ category.icon }} fa-fw"></i>
                                            {{ category.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                                <li>
                                    <a href="{{ path('categories') }}" class="dropdown-item justify-content-between">
                                        <i class="fas fa-folder-open fa-fw"></i> {{ "All categories"|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.pathinfo == link %}active{% endif %}" href="{{ link }}">
                                {% if menuElement.icon %}
                                    <i class="{{ menuElement.icon }} fa-fw"></i>
                                {% endif %}
                                {% if menuElement.label %}
                                    {{ menuElement.label }}
                                {% endif %}
                            </a>
                        </li> 
                    {% endif %}
                {% endfor %}
                {% if not app.user or not app.user.premium  %}
                    <li class="nav-item">
                        <a class="nav-link {% if routename == "pricing" %}active{% endif %}" href="{{ path('pricing') }}">
                            <i class="fas fa-p fa-fw"></i>
                            {{ 'Pricing'|trans }}
                        </a>
                    </li>
                {% endif %}
                {#  
                    <li class="nav-item">
                        <a class="nav-link {% if routename == "home" %}active{% endif %}" href="{{ path('home') }}">{{ "Home"|trans }}</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link {% if routename == "recipes" or routename == "recipe" %}active{% endif %}" href="{{ path('recipes') }}">{{ 'Recipes' }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if routename == "post" or routename == "post_article" or routename == "post_shared" %}active{% endif %}" href="{{ path('post') }}">{{ 'Blog'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if routename == "help_center" %}active{% endif %}" href="{{ path('help_center') }}">
                            {{ 'Help Center'|trans }}
                        </a>
                    </li>
                    {% if not app.user or not app.user.premium  %}
                        <li class="nav-item">
                            <a class="nav-link {% if routename == "pricing" %}active{% endif %}" href="{{ path('pricing') }}">
                                {{ 'Pricing'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if routename == "contact" %}active{% endif %}" href="{{ path('contact') }}">
                            {{ 'Contact'|trans }}
                        </a>
                    </li>
                #}
            </ul>
            <form action="{{ path('recipes') }}" class="mt-3 mt-lg-0 ms-lg-3 d-flex align-items-center">
                <span class="position-absolute ps-3 search-icon">
                    <i class="bi bi-search"></i>
                </span>
                <label for="search" class="visually-hidden"></label>
                <input type="search" id="search" name="keyword" class="form-control ps-6" placeholder="{{ "Search for recipes"|trans }}">
            </form>
        </div>
    </div>
</nav>
