{% macro render_language_selector(display_current_language = false) %}
<div class="dropdown">
	<a href="#" class="dropdown-toggle text-body" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="bi bi-globe me-2 align-middle"></i>
		{{ 'Choose your language'|trans }}
        {% if display_current_language %}
            <span class="current-language">{{ app.request.locale | locale_name }}</span>
        {% endif %}
	</a>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for locale in locales() %}
            {% set is_active = app.request.locale == locale.code %}
            {% set is_rtl = locale.code in ['ar', 'fa', 'he'] %}
            <li class="{{ is_active ? 'active' }} {{ is_rtl ? 'rtl' }}" translate="no">
                <a 
                    class="dropdown-item" 
                    lang="{{ locale.code }}" 
                    hreflang="{{ locale.code }}" 
                    href="{{ path(app.request.get('_route', 'home'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}"
                >
                    <span class="flag flag-{{ locale.code }} me-2" width="16" height="13"></span>
                    {{ locale.name | capitalize }}
                    <small class="ms-2 align-middle">{{ locale.code }}</small>
                </a>
            </li>
        {% endfor %}
	</ul>
</div>
{% endmacro %}
