{% macro render_language_selector(display_current_language = false) %}
<div class="dropdown">
	<a href="#" class="dropdown-toggle text-body" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="bi bi-globe me-2 align-middle"></i>
		{{ 'Choose your language'|trans }}
        {% if display_current_language %}
            <span class="current-language">{{ app.request.locale | locale_name }}</span>
        {% endif %}
	</a>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for locale in locales() %}
            {% set is_active = app.request.locale == locale.code %}
            {% set is_rtl = locale.code in ['ar', 'fa', 'he'] %}
            <li class="{{ is_active ? 'active' }} {{ is_rtl ? 'rtl' }}" translate="no">
                <a 
                    class="dropdown-item" 
                    lang="{{ locale.code }}" 
                    hreflang="{{ locale.code }}" 
                    href="{{ path(app.request.get('_route', 'home'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}"
                >
                    <span class="me-2">
                        <svg width="16" height="13" viewbox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_5543_19736)">
                                <path d="M0 0.5H16V12.5H0V0.5Z" fill="#012169"></path>
                                <path d="M1.875 0.5L7.975 5.025L14.05 0.5H16V2.05L10 6.525L16 10.975V12.5H14L8 8.025L2.025 12.5H0V11L5.975 6.55L0 2.1V0.5H1.875Z" fill="white"></path>
                                <path d="M10.6 7.525L16 11.5V12.5L9.225 7.525H10.6ZM6 8.025L6.15 8.9L1.35 12.5H0L6 8.025ZM16 0.5V0.575L9.775 5.275L9.825 4.175L14.75 0.5H16ZM0 0.5L5.975 4.9H4.475L0 1.55V0.5Z" fill="#C8102E"></path>
                                <path d="M6.025 0.5V12.5H10.025V0.5H6.025ZM0 4.5V8.5H16V4.5H0Z" fill="white"></path>
                                <path d="M0 5.325V7.725H16V5.325H0ZM6.825 0.5V12.5H9.225V0.5H6.825Z" fill="#C8102E"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_5543_19736">
                                    <rect width="16" height="12" fill="white" transform="translate(0 0.5)"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </span>
                    {{ locale.name | capitalize }}
                    <small class="ms-2 align-middle">{{ locale.code }}</small>
                </a>
            </li>
        {% endfor %}
	</ul>
</div>
{% endmacro %}
