<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('dashboard_main_panel') }}">Tableau de bord</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link {{ app.current_route == 'home' ? 'active' : '' }}" href="{{ path('home') }}">{{ 'Home'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.current_route starts with 'dashboard_admin_recipe_' ? 'active' : '' }}" href="{{ path('dashboard_admin_recipe_index') }}">{{ 'Recipes'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.current_route starts with 'dashboard_admin_category_' ? 'active' : '' }}" href="{{ path('dashboard_admin_recipe_category_index') }}">{{ 'Categories'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.current_route starts with 'dashboard_admin_blog_' ? 'active' : '' }}" href="{{ path('dashboard_admin_blog_index') }}">{{ 'Blog'|trans }}</a>
				</li>
				{#  
				<li class="nav-item">
					<a class="nav-link {{ app.current_route starts with 'dashboard_admin_blog_category_' ? 'active' : '' }}" href="{{ path('dashboard_admin_blog_category_index') }}">{{ 'Blog Category'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{ app.current_route starts with 'dashboard_admin_blog_keyword_' ? 'active' : '' }}" href="{{ path('dashboard_admin_blog_keyword_index') }}">{{ 'Blog Keyword'|trans }}</a>
				</li>
				#}
			</ul>
		</div>
	</div>
</nav>
