{% set routename = app.request.get('_route') %}
{% set random = setting.generateReference(5) %}

<nav class="navbar-vertical navbar">
	<div class="vh-100 simplebar-scrollable-y" data-simplebar="init">
		<div class="simplebar-wrapper">
			<div class="simplebar-height-auto-observer-wrapper">
				<div class="simplebar-height-auto-observer"></div>
			</div>
			<div class="simplebar-mask">
				<div class="simplebar-offset">
					<div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content">
						<div class="simplebar-content">
							<a class="navbar-brand" href="{{ path('home') }}">
								{# <img src="{{ asset(settings.getAppLayoutSettings.getLogoPath) }}" alt="{{ website_name }}"> #}
								{{ website_name }}
							</a>
							<ul class="navbar-nav flex-column" id="sideNavbar">
								<li class="nav-item">
									<a class="nav-link" href="{{ path('home') }}">
										<i class="nav-icon bi bi-house-dash me-2"></i>
										{{ 'Home'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if routename == "dashboard_admin_index" %}active{% endif %}" href="{{ path('dashboard_admin_index') }}">
										<i class="nav-icon bi bi-speedometer2 me-2"></i>
										{{ 'Dashboard'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<div class="nav-divider"></div>
								</li>
								<li class="nav-item">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#recipe-submenu-{{random}}" aria-expanded="false" aria-controls="recipe-submenu-{{random}}">
										<i class="nav-icon bi bi-book me-2"></i>
										{{ 'Recipe'|trans }}
									</a>
									<div id="recipe-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_recipe_index" or routename == "dashboard_admin_recipe_new" or routename == "dashboard_admin_recipe_edit" or routename == "dashboard_admin_recipe_category_index" or routename == "dashboard_admin_recipe_category_new" or routename == "dashboard_admin_recipe_category_edit" %}show{% endif %}" data-bs-parent="#sideNavbar">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_recipe_index" or routename == "dashboard_admin_recipe_new" or routename == "dashboard_admin_recipe_edit" %}active{% endif %}" href="{{ path('dashboard_admin_recipe_index') }}">
													{{ 'Recipe'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_recipe_category_index" or routename == "dashboard_admin_recipe_category_new" or routename == "dashboard_admin_recipe_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_recipe_category_index') }}">
													{{ 'Category'|trans }}
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#blog-submenu-{{random}}" aria-expanded="false" aria-controls="blog-submenu-{{random}}">
										<i class="nav-icon bi bi-newspaper me-2"></i>
										{{ 'Blog'|trans }}
									</a>
									<div id="blog-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_post_index" or routename == "dashboard_admin_post_new" or routename == "dashboard_admin_post_edit" or routename == "dashboard_admin_post_category_index" or routename == "dashboard_admin_post_category_new" or routename == "dashboard_admin_post_category_edit" %}show{% endif %}" data-bs-parent="#sideNavbar">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_post_index" or routename == "dashboard_admin_post_new" or routename == "dashboard_admin_post_edit" %}active{% endif %}" href="{{ path('dashboard_admin_post_index') }}">
													{{ 'Articles'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_post_category_index" or routename == "dashboard_admin_post_category_new" or routename == "dashboard_admin_post_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_post_category_index') }}">
													{{ 'Categories'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="">
													{{ 'Comments'|trans }}
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#helpcenter-submenu-{{random}}" aria-expanded="false" aria-controls="helpcenter-submenu-{{random}}">
										<i class="nav-icon bi bi-question-circle me-2"></i>
										{{'Help center' | trans}}
									</a>
									<div id="helpcenter-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_help_center_category_index" or routename == "dashboard_admin_help_center_category_new" or routename == "dashboard_admin_help_center_category_edit" or routename == "dashboard_admin_help_center_article_index" or routename == "dashboard_admin_help_center_article_new" or routename == "dashboard_admin_help_center_article_edit" %}show{% endif %}" data-bs-parent="#sideNavbar" style="">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_help_center_article_index" or routename == "dashboard_admin_help_center_article_new" or routename == "dashboard_admin_help_center_article_edit" %}active{% endif %}" href="{{ path('dashboard_admin_help_center_article_index') }}">
													{{ 'Articles'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_help_center_category_index" or routename == "dashboard_admin_help_center_category_new" or routename == "dashboard_admin_help_center_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_help_center_category_index') }}">
													{{ 'Categories'|trans }}
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="nav-item">
									<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#settings-submenu-{{random}}" aria-expanded="false" aria-controls="settings-submenu-{{random}}">
										<i class="nav-icon bi bi-gear me-2"></i>
										{{'Setting' | trans}}
									</a>
									<div id="settings-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_setting_homepage" or routename == "dashboard_admin_setting_payment" or routename == "dashboard_admin_setting_newsletter" or routename == "dashboard_admin_setting_layout" or routename == "dashboard_admin_setting_payment_gateways_new" or routename == "dashboard_admin_setting_payment_gateways_edit" or routename == "dashboard_admin_setting_checkout" or routename == "dashboard_admin_setting_blog" or routename == "dashboard_admin_setting_mail_server" or routename == "dashboard_admin_setting_google_recaptcha" or routename == "dashboard_admin_setting_google_maps" or routename == "dashboard_admin_setting_social_login" or routename == "dashboard_admin_setting_menus" or routename == "dashboard_admin_setting_menus_edit" or routename == "dashboard_admin_setting_currency_index" or routename == "dashboard_admin_setting_currency_new" or routename == "dashboard_admin_setting_currency_edit" or routename == "dashboard_admin_setting_recipes_list_page" or routename == "dashboard_admin_setting_venue_page" %}show{% endif %}" data-bs-parent="#sideNavbar" style="">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_layout" %}active{% endif %}" href="{{ path('dashboard_admin_setting_layout') }}">
													{{ 'Layout'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="">
													{{ 'Menus'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_homepage" %}active{% endif %}" href="{{ path('dashboard_admin_setting_homepage') }}">
													{{ 'Homepage'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="">
													{{ 'Payments'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_currency_index" or routename == "dashboard_admin_setting_currency_new" or routename == "dashboard_admin_setting_currency_edit" %}active{% endif %}" href="{{ path('dashboard_admin_setting_currency_index') }}">
													{{ 'Currencies'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="">
													{{ 'Checkout'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="">
													{{ 'Mail server'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_google_recaptcha" %}active{% endif %}" href="{{ path('dashboard_admin_setting_google_recaptcha') }}">
													{{ 'Google Recaptcha'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_google_maps" %}active{% endif %}" href="{{ path('dashboard_admin_setting_google_maps') }}">
													{{ 'Google Maps'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_social_login" %}active{% endif %}" href="{{ path('dashboard_admin_setting_social_login') }}">
													{{ 'Social Login'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_blog" %}active{% endif %}" href="{{ path('dashboard_admin_setting_blog') }}">
													{{ 'Blog settings'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_newsletter" %}active{% endif %}" href="{{ path('dashboard_admin_setting_newsletter') }}">
													{{ 'Newsletter'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_recipes_list_page" %}active{% endif %}" href="{{ path('dashboard_admin_setting_recipes_list_page') }}">
													{{ 'Recipes list page'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link {% if routename == "dashboard_admin_setting_venue_page" %}active{% endif %}" href="{{ path('dashboard_admin_setting_venue_page') }}">
													{{ 'Venue page'|trans }}
												</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{ path('PrestaSitemapBundle_section', {'_format': 'xml', 'name': 'default'}) }}" target="_blank">
													{{ 'Sitemap'|trans }}
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="nav-item">
									<div class="navbar-heading">{{ 'Premium'|trans }}</div>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if routename == "dashboard_admin_user_index" %}active{% endif %}" href="{{ path('dashboard_admin_user_index') }}">
										<i class="nav-icon bi bi-person me-2"></i>
										{{ 'Users'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#!">
										<i class="nav-icon bi bi-arrows-angle-contract me-2"></i>
										{{ 'Transactions'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if routename == "dashboard_admin_pricing_index" %}active{% endif %}" href="{{ path('dashboard_admin_pricing_index') }}">
										<i class="nav-icon bi bi-award me-2"></i>
										{{ 'Formulas'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<div class="navbar-heading">{{ 'Ticketing'|trans }}</div>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if routename == "dashboard_admin_level_index" %}active{% endif %}" href="{{ path('dashboard_admin_level_index') }}">
										<i class="nav-icon bi bi-reception-4 me-2"></i>
										{{ 'Levels'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if routename == "dashboard_admin_status_index" %}active{% endif %}" href="{{ path('dashboard_admin_status_index') }}">
										<i class="nav-icon bi bi-app me-2"></i>
										{{ 'Status'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<div class="navbar-heading">{{ 'Others'|trans }}</div>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if routename == "dashboard_admin_page_index" %}active{% endif %}" href="{{ path('dashboard_admin_page_index') }}">
										<i class="nav-icon bi bi-filetype-php me-2"></i>
										{{ 'Pages'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if routename == "dashboard_admin_review_index" %}active{% endif %}" href="{{ path('dashboard_admin_review_index') }}">
										<i class="nav-icon bi bi-star me-2"></i>
										{{ 'Reviews'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if routename == "dashboard_admin_testimonial_index" %}active{% endif %}" href="{{ path('dashboard_admin_testimonial_index') }}">
										<i class="nav-icon bi bi-star me-2"></i>
										{{ 'Testimonials'|trans }}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#!">
										<i class="nav-icon bi bi-bar-chart me-2"></i>
										{{ 'Stats'|trans }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="simplebar-placeholder"></div>
		</div>
		<div class="simplebar-track simplebar-horizontal">
			<div class="simplebar-scrollbar"></div>
		</div>
		<div class="simplebar-track simplebar-vertical">
			<div class="simplebar-scrollbar"></div>
		</div>
	</div>
</nav>
