<div class="mb-2 mb-lg-0">
	<h1 class="mb-0 h2 fw-bold">{{ breadcrumb|last['current'] }}</h1>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('dashboard_main_panel') }}">Tableau de bord</a>
			</li>
			{% for li in breadcrumb%}
				{% for routename, pagetitle in li %}
					{% if routename != "current" %}
						{% if '/' in routename %}
							{% set href = routename %}
						{% else %}
							{% set href = path(routename) %}
						{% endif %}
						<li class="breadcrumb-item">
							<a href="{{ href }}" class="">{{ pagetitle }}</a>
						</li>
					{% endif %}
				{% endfor %}
			{% endfor %}
			<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb|last['current'] }}</li>
		</ol>
	</nav>
</div>
