{% if comment.isApproved %}
    <div class="py-4">
        <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
            <div class="d-flex align-items-center me-3">
                {% include "global/user-avatar.html.twig" with { user: comment.author, type: "lg" } %}
                <div class="ps-3">
                    <h6 class="fw-semibold mb-0">{{ comment.author.getFullName | lower | capitalize }}</h6>
                    <span class="fs-6">
                        <a href="#c{{ comment.id }}" class="text-inherit">
                            {{ comment.publishedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) }}
                        </a>
                    </span>
                </div>
            </div>
            {% if is_granted('ROLE_USER') %}
                <a href="#add-comment" class="nav-link fs-6 px-0" type="button" data-reply data-id="{{comment.id}}">
                    <i class="bi bi-reply fs-lg me-2"></i>
                    {{ 'Reply'|trans }}
                </a>
            {% endif %}
        </div>
        <p class="mb-0 pb-2">{{ comment.content | markdown_to_html | sanitize_html }}</p>
        {% for reply in comment.replies %}
            <div class="position-relative ps-4 mt-4">
                <span class="position-absolute top-0 start-0 w-1 h-100 bg-primary"></span>
                <div class="d-flex align-items-center justify-content-between ps-3 pb-2 mb-1">
                    <div class="d-flex align-items-center me-3">
                        {% include "global/user-avatar.html.twig" with { user: reply.author, type: "lg" } %}
                        <div class="ps-3">
                            <h6 class="fw-semibold mb-0">{{ reply.author.getFullName | lower | capitalize }}</h6>
                            <span class="fs-6">
                                <a href="#c{{ reply.id }}" class="text-inherit">
                                    {{ reply.publishedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) }}
                                </a>
                            </span>
                        </div>
                    </div>
                    {% if is_granted('ROLE_USER') %}
                        <a href="#add-comment" class="nav-link fs-6 px-0" type="button" data-reply data-id="{{reply.id}}">
                            <i class="bi bi-reply fs-lg me-2"></i>
                            {{ 'Reply'|trans }}
                        </a>
                    {% endif %}
                </div>
                <p class="ps-3 mb-0">
                    <a href="{{ path('user_profil', { slug : reply.author.slug }) }}" class="fw-semibold text-decoration-none">
                        @{{ reply.author.getFullName | lower | capitalize }}
                    </a>
                    {{ reply.content | markdown_to_html | sanitize_html }}
                </p>
            </div>
        {% endfor %}
    </div>
    <hr class="my-2">

{#  
    <div class="d-flex align-items-start border-bottom pb-4 mb-4" id="c{{ comment.id }}">
        {% include "global/user-avatar.html.twig" with { user: comment.author, type: "lg" } %}
        <div class="ms-3">
            <h4 class="mb-1">
                {{ comment.author.username }}
                <span class="ms-1 fs-6">
                    <a href="#c{{ comment.id }}" class="text-inherit">
                        {{ comment.publishedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) }}
                    </a>
                </span>
            </h4>
            <div class="mb-2">
                <span class="fs-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                </span>
            </div>
            <p>{{ comment.content | markdown_to_html | sanitize_html }}</p>
            <div class="d-lg-flex">
                {# <p class="mb-0">Was this comment helpful?</p> }
                {% if app.user == comment.author %}
                    {% if comment.post or comment.venue %}
                        {% if comment.post %}
                            <form name="comment_delete" method="POST" action="{{ path('post_comment_delete', {'id': comment.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                <button type="submit" class="btn btn-xs btn-primary ms-lg-3">
                                    {{ 'Delete'|trans }}
                                </button>
                            </form>
                        {% endif %}
                        {% if comment.venue %}
                            <form name="comment_delete" method="POST" action="{{ path('venue_comment_delete', {'id': comment.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                <button type="submit" class="btn btn-xs btn-primary ms-lg-3">
                                    {{ 'Delete'|trans }}
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <a href="#add-comment" class="btn btn-xs btn-outline-secondary ms-1" type="button" data-reply data-id="{{comment.id}}">
                        {{ 'Reply'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% for reply in comment.replies %}
        <div class="d-flex align-items-start border-bottom pb-4 mb-4" id="c{{ reply.comment.id }}">
            {% include "global/user-avatar.html.twig" with { user: reply.author, type: "lg" } %}
            <div class="ms-3">
                <h4 class="mb-1">
                    @{{ reply.author.username }}
                    <span class="ms-1 fs-6">
                        <a href="#c{{ reply.id }}" class="text-inherit">
                            {{ reply.publishedAt | localizeddate('medium', 'short', app.request.locale, date_timezone, date_format) }}
                        </a>
                    </span>
                </h4>
                <div class="mb-2">
                    <span class="fs-6">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                        </svg>
                    </span>
                </div>
                <p>{{ reply.content | markdown_to_html | sanitize_html }}</p>
                <div class="d-lg-flex">
                    {% if app.user == reply.author %}
                        {% if reply.post or reply.venue %}
                            {% if reply.post %}
                                <form name="comment_delete" method="POST" action="{{ path('post_comment_delete', {'id': reply.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reply.id) }}">
                                    <button type="submit" class="btn btn-xs btn-primary ms-lg-3">
                                        {{ 'Delete'|trans }}
                                    </button>
                                </form>
                            {% endif %}
                            {% if reply.venue %}
                                <form name="comment_delete" method="POST" action="{{ path('venue_comment_delete', {'id': reply.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reply.id) }}">
                                    <button type="submit" class="btn btn-xs btn-primary ms-lg-3">
                                        {{ 'Delete'|trans }}
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
#}
{% endif %}

{% block javascripts %}
	<script>
		window.onload = () => {
			document.querySelectorAll("[data-reply]").forEach(element => {
				element.addEventListener("click", function(){
					document.querySelector("#comments_parentid").value = this.dataset.id;
				});
			});
		}
	</script>
{% endblock %}
