<div class="dropdown-item">
	<div class="d-flex">
		<div class="avatar avatar-md avatar-indicators avatar-online">
			{% if is_granted('ROLE_ADMIN_APPLICATION') %}
				<span class="avatar rounded-circle">
					<i class="bi bi-person fs-3"></i>
				</span>
			{% else %}
				{# <img alt="avatar" src="{{ app.user.gravatarUrl }}" class="rounded-circle"> #}
				{% include "global/user-avatar.html.twig" with { user: app.user, type: "md" } %}
			{% endif %}
		</div>
		<div class="ms-3 lh-1">
			<h5 class="mb-1">{{ app.user.username }}</h5>
			<p class="mb-0">{{ app.user.email }}</p>
		</div>
	</div>
</div>
<div class="dropdown-divider"></div>
<ul class="list-unstyled">
	<li>
		<a class="dropdown-item" href="{{ path('dashboard_main') }}">
			{% if is_granted("ROLE_POINTOFSALE") %}
				<i class="bi bi-book me-2"></i>
				{{ 'Recipes on sale'|trans }}
			{% elseif is_granted("ROLE_SCANNER") %}
				<i class="bi bi-calendar-date me-2"></i>
				{{ 'Recipes list'|trans }}
			{% else %}
				<i class="bi bi-speedometer2 me-2"></i>
				{{ 'Dashboard'|trans }}
			{% endif %}
		</a>
	</li>
	{% if is_granted('ROLE_CREATOR') %}
		<li>
			<a class="dropdown-item" href="{{ path('dashboard_creator_account_dashboard') }}">
				<i class="bi bi-person me-2"></i>
				{{ 'My profile'|trans }}
			</a>
		</li>
	{% endif %}
	<li>
		<a class="dropdown-item" href="#!">
			<i class="bi bi-star me-2"></i>
			{{ 'Subscription'|trans }}
		</a>
	</li>
	{% if is_granted('ROLE_ADMIN_APPLICATION') %}
		<li>
			<a class="dropdown-item" href="{{ path('dashboard_admin_setting_layout') }}">
				<i class="bi bi-gear me-2"></i>
				{{ 'Settings'|trans }}
			</a>
		</li>
	{% endif %}
</ul>
<div class="dropdown-divider"></div>
<ul class="list-unstyled">
	{% if is_granted('IS_IMPERSONATOR') %}
		<li>
			<a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">
				<i class="bi bi-power me-2"></i>
				{{ 'Sign out'|trans }}
			</a>
			<form id="js-logout-form" action="{{ path('logout') }}" method="POST" style="display: none;">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
			</form>
		</li>
	{% else %}
		<li>
			<a class="dropdown-item" href="{{ impersonation_exit_path(path('home')) }}">
				<i class="bi bi-power me-2"></i>
				{{ 'Sign out'|trans }}
			</a>
		</li>
	{% endif %}
</ul>
