{% set routename = app.request.get('_route') %}
{% set random = setting.generateReference(5) %}

<li class="nav-item">
	<a class="nav-link" href="{{ path('home') }}">
		<i class="nav-icon bi bi-house-dash me-2"></i>
		{{ 'Home'|trans }}
	</a>
</li>

{% if not is_granted('ROLE_CREATOR') or is_granted('ROLE_USER') %}
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_admin_index" or routename == "dashboard_restaurant_index" or routename == "dashboard_pointofsale_index" or routename == "dashboard_scanner_index" %}active{% endif %}" href="{{ path('dashboard_main') }}">
			{% if is_granted("ROLE_POINTOFSALE") %}
				<i class="nav-icon bi bi-book me-2"></i>
				{{ 'Recipes on sale'|trans }}
			{% elseif is_granted("ROLE_SCANNER") %}
				<i class="nav-icon bi bi-calendar-date me-2"></i>
				{{ 'Recipes list'|trans }}
			{% elseif is_granted("ROLE_ADMIN_APPLICATION") or is_granted('ROLE_ADMIN') %}
				<i class="nav-icon bi bi-speedometer2 me-2"></i>
				{{ 'Dashboard'|trans }}
			{% elseif is_granted("ROLE_RESTAURANT") %}
				<i class="nav-icon bi bi-speedometer2 me-2"></i>
				{{ 'Dashboard'|trans }}
			{% endif %}
		</a>
	</li>
{% endif %}

{# Administrator role sidebar links #}
{% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_ADMIN') %}
	{#  
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_admin_index" %}active{% endif %}" href="{{ path('dashboard_admin_index') }}">
			<i class="nav-icon bi bi-speedometer2 me-2"></i>
			{{ 'Dashboard'|trans }}
		</a>
	</li>
	#}
	<li class="nav-item">
		<div class="nav-divider"></div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#recipe-submenu-{{random}}" aria-expanded="false" aria-controls="recipe-submenu-{{random}}">
			<i class="nav-icon bi bi-book me-2"></i>
			{{ 'Recipes'|trans }}
		</a>
		<div id="recipe-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_recipe_index" or routename == "dashboard_admin_recipe_new" or routename == "dashboard_admin_recipe_edit" or routename == "dashboard_admin_recipe_date_statistics_index" or routename == "dashboard_admin_recipe_category_index" or routename == "dashboard_admin_recipe_category_new" or routename == "dashboard_admin_recipe_category_edit" or routename ==  "dashboard_admin_country_index" or routename == "dashboard_admin_country_new" or routename == "dashboard_admin_country_edit" or routename == "dashboard_admin_language_index" or routename == "dashboard_admin_language_new" or routename == "dashboard_admin_language_edit" or routename == "dashboard_admin_audience_index" or routename == "dashboard_admin_audience_new" or routename == "dashboard_admin_audience_edit" %}show{% endif %}" data-bs-parent="#sideNavbar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_recipe_index" or routename == "dashboard_admin_recipe_new" or routename == "dashboard_admin_recipe_edit" or routename == "dashboard_admin_recipe_date_statistics_index" %}active{% endif %}" href="{{ path('dashboard_admin_recipe_index') }}">
						{{ 'Manage recipes'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_recipe_category_index" or routename == "dashboard_admin_recipe_category_new" or routename == "dashboard_admin_recipe_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_recipe_category_index') }}">
						{{ 'Categories'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_country_index" or routename == "dashboard_admin_country_new" or routename == "dashboard_admin_country_edit" %}active{% endif %}" href="{{ path('dashboard_admin_country_index') }}">
						{{ 'Countries'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_language_index" or routename == "dashboard_admin_language_new" or routename == "dashboard_admin_language_edit" %}active{% endif %}" href="{{ path('dashboard_admin_language_index') }}">
						{{ 'Languages'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_audience_index" or routename == "dashboard_admin_audience_new" or routename == "dashboard_admin_audience_edit" %}active{% endif %}" href="{{ path('dashboard_admin_audience_index') }}">
						{{ 'Audiences'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#blog-submenu-{{random}}" aria-expanded="false" aria-controls="blog-submenu-{{random}}">
			<i class="nav-icon bi bi-newspaper me-2"></i>
			{{ 'Blog'|trans }}
		</a>
		<div id="blog-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_post_index" or routename == "dashboard_admin_post_new" or routename == "dashboard_admin_post_edit" or routename == "dashboard_admin_post_type_index" or routename == "dashboard_admin_post_type_new" or routename == "dashboard_admin_post_type_edit" or routename == "dashboard_admin_post_category_index" or routename == "dashboard_admin_post_category_new" or routename == "dashboard_admin_post_category_edit" or routename == "dashboard_admin_comment_index" %}show{% endif %}" data-bs-parent="#sideNavbar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_post_index" or routename == "dashboard_admin_post_new" or routename == "dashboard_admin_post_edit" %}active{% endif %}" href="{{ path('dashboard_admin_post_index') }}">
						{{ 'Articles'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_post_type_index" or routename == "dashboard_admin_post_type_new" or routename == "dashboard_admin_post_type_edit" %}active{% endif %}" href="{{ path('dashboard_admin_post_type_index') }}">
						{{ 'Post types'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_post_category_index" or routename == "dashboard_admin_post_category_new" or routename == "dashboard_admin_post_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_post_category_index') }}">
						{{ 'Categories'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_comment_index" %}active{% endif %}" href="{{ path('dashboard_admin_comment_index') }}">
						{{ 'Comments'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#helpcenter-submenu-{{random}}" aria-expanded="false" aria-controls="helpcenter-submenu-{{random}}">
			<i class="nav-icon bi bi-question-circle me-2"></i>
			{{'Help center' | trans}}
		</a>
		<div id="helpcenter-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_help_center_category_index" or routename == "dashboard_admin_help_center_category_new" or routename == "dashboard_admin_help_center_category_edit" or routename == "dashboard_admin_help_center_article_index" or routename == "dashboard_admin_help_center_article_new" or routename == "dashboard_admin_help_center_article_edit" %}show{% endif %}" data-bs-parent="#sideNavbar" style="">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_help_center_article_index" or routename == "dashboard_admin_help_center_article_new" or routename == "dashboard_admin_help_center_article_edit" %}active{% endif %}" href="{{ path('dashboard_admin_help_center_article_index') }}">
						{{ 'Articles'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_help_center_category_index" or routename == "dashboard_admin_help_center_category_new" or routename == "dashboard_admin_help_center_category_edit" %}active{% endif %}" href="{{ path('dashboard_admin_help_center_category_index') }}">
						{{ 'Categories'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#settings-submenu-{{random}}" aria-expanded="false" aria-controls="settings-submenu-{{random}}">
			<i class="nav-icon bi bi-gear me-2"></i>
			{{'Setting' | trans}}
		</a>
		<div id="settings-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_setting_homepage" or routename == "dashboard_admin_setting_payment" or routename == "dashboard_admin_setting_newsletter" or routename == "dashboard_admin_setting_layout" or routename == "dashboard_admin_setting_payment_gateways_new" or routename == "dashboard_admin_setting_payment_gateways_edit" or routename == "dashboard_admin_setting_checkout" or routename == "dashboard_admin_setting_blog" or routename == "dashboard_admin_setting_mail_server" or routename == "dashboard_admin_setting_google_recaptcha" or routename == "dashboard_admin_setting_google_maps" or routename == "dashboard_admin_setting_social_login" or routename == "dashboard_admin_setting_menus" or routename == "dashboard_admin_setting_menus_edit" or routename == "dashboard_admin_setting_currency_index" or routename == "dashboard_admin_setting_currency_new" or routename == "dashboard_admin_setting_currency_edit" or routename == "dashboard_admin_setting_recipes_list_page" or routename == "dashboard_admin_setting_reviews_list_page" or routename == "dashboard_admin_setting_venue_page" %}show{% endif %}" data-bs-parent="#sideNavbar" style="">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_layout" %}active{% endif %}" href="{{ path('dashboard_admin_setting_layout') }}">
						{{ 'Layout'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_menus" or routename == "dashboard_admin_setting_menus_edit" %}active{% endif %}" href="{{ path('dashboard_admin_setting_menus') }}">
						{{ 'Menus'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_homepage" %}active{% endif %}" href="{{ path('dashboard_admin_setting_homepage') }}">
						{{ 'Homepage'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_payment" %}active{% endif %}" href="{{ path('dashboard_admin_setting_payment') }}">
						{{ 'Payments'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_currency_index" or routename == "dashboard_admin_setting_currency_new" or routename == "dashboard_admin_setting_currency_edit" %}active{% endif %}" href="{{ path('dashboard_admin_setting_currency_index') }}">
						{{ 'Currencies'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_checkout" %}active{% endif %}" href="{{ path('dashboard_admin_setting_checkout') }}">
						{{ 'Checkout'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_mail_server" %}active{% endif %}" href="{{ path('dashboard_admin_setting_mail_server') }}">
						{{ 'Mail server'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_google_recaptcha" %}active{% endif %}" href="{{ path('dashboard_admin_setting_google_recaptcha') }}">
						{{ 'Google Recaptcha'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_google_maps" %}active{% endif %}" href="{{ path('dashboard_admin_setting_google_maps') }}">
						{{ 'Google Maps'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_social_login" %}active{% endif %}" href="{{ path('dashboard_admin_setting_social_login') }}">
						{{ 'Social Login'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_blog" %}active{% endif %}" href="{{ path('dashboard_admin_setting_blog') }}">
						{{ 'Blog settings'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_newsletter" %}active{% endif %}" href="{{ path('dashboard_admin_setting_newsletter') }}">
						{{ 'Newsletter'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_recipes_list_page" %}active{% endif %}" href="{{ path('dashboard_admin_setting_recipes_list_page') }}">
						{{ 'Recipes list page'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_reviews_list_page" %}active{% endif %}" href="{{ path('dashboard_admin_setting_reviews_list_page') }}">
						{{ 'Reviews list page'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_setting_venue_page" %}active{% endif %}" href="{{ path('dashboard_admin_setting_venue_page') }}">
						{{ 'Venue page'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('PrestaSitemapBundle_section', {'_format': 'xml', 'name': 'default'}) }}" target="_blank">
						{{ 'Sitemap'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#venues-submenu-{{random}}" aria-expanded="false" aria-controls="venues-submenu-{{random}}">
			<i class="nav-icon bi bi-pin-map me-2"></i>
			{{'Venues'|trans}}
		</a>
		<div id="venues-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_venue_index" or routename == "dashboard_admin_venue_new" or routename == "dashboard_admin_venue_edit" or routename == "dashboard_admin_venuetype_index" or routename == "dashboard_admin_venuetype_new" or routename == "dashboard_admin_venuetype_edit" or routename == "dashboard_admin_amenity_index" or routename == "dashboard_admin_amenity_new" or routename == "dashboard_admin_amenity_edit" %}show{% endif %}" data-bs-parent="#sideNavbar" style="">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_venue_index" or routename == "dashboard_admin_venue_new" or routename == "dashboard_admin_venue_edit" %}active{% endif %}" href="{{ path('dashboard_admin_venue_index') }}">
						{{ 'Manage venues'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_venuetype_index" or routename == "dashboard_admin_venuetype_new" or routename == "dashboard_admin_venuetype_edit" %}active{% endif %}" href="{{ path('dashboard_admin_venuetype_index') }}">
						{{ 'Venue types'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_amenity_index" or routename == "dashboard_admin_amenity_new" or routename == "dashboard_admin_amenity_edit" %}active{% endif %}" href="{{ path('dashboard_admin_amenity_index') }}">
						{{ 'Amenities'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#premium-submenu-{{random}}" aria-expanded="false" aria-controls="premium-submenu-{{random}}">
			<i class="nav-icon bi bi-award me-2"></i>
			{{ 'Premium'|trans }}
		</a>
		<div id="premium-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_pricing_index" or routename == "dashboard_admin_transaction_index" or routename == "dashboard_admin_pricing_new" or routename == "dashboard_admin_pricing_edit" or routename == "dashboard_admin_user_index" %}show{% endif %}" data-bs-parent="#sideNavbar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_pricing_index" or routename == "dashboard_admin_pricing_new" or routename == "dashboard_admin_pricing_edit" %}active{% endif %}" href="{{ path('dashboard_admin_pricing_index') }}">
						{{ 'Formulas'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_transaction_index" %}active{% endif %}" href="{{ path('dashboard_admin_transaction_index') }}">
						{{ 'Transactions'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_user_index" %}active{% endif %}" href="{{ path('dashboard_admin_user_index') }}">
						{{ 'Users'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#ticket-submenu-{{random}}" aria-expanded="false" aria-controls="ticket-submenu-{{random}}">
			<i class="nav-icon bi bi-ticket me-2"></i>
			{{ 'Ticketing'|trans }}
		</a>
		<div id="ticket-submenu-{{random}}" class="collapse {% if routename == "dashboard_admin_level_index" or routename == "dashboard_admin_level_new" or routename == "dashboard_admin_level_edit" or routename == "dashboard_admin_status_index" or routename == "dashboard_admin_status_new" or routename == "dashboard_admin_status_edit" %}show{% endif %}" data-bs-parent="#sideNavbar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_level_index" or routename == "dashboard_admin_level_new" or routename == "dashboard_admin_level_edit" %}active{% endif %}" href="{{ path('dashboard_admin_level_index') }}">
						{{ 'Levels'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_admin_status_index" or routename == "dashboard_admin_status_new" or routename == "dashboard_admin_status_edit" %}active{% endif %}" href="{{ path('dashboard_admin_status_index') }}">
						{{ 'Status'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#account-submenu-{{random}}" aria-expanded="false" aria-controls="account-submenu-{{random}}">
			<i class="nav-icon bi bi-people me-2"></i>
			{{ 'Account'|trans }}
		</a>
		<div id="account-submenu-{{random}}" class="collapse {% if routename == "dashboard_creator_account_change_password" %}show{% endif %}" data-bs-parent="#sideNavbar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_creator_account_change_password" %}active{% endif %}" href="{{ path('dashboard_creator_account_change_password') }}">
						{{ 'Change password'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<div class="navbar-heading">{{ 'Others'|trans }}</div>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_admin_page_index" %}active{% endif %}" href="{{ path('dashboard_admin_page_index') }}">
			<i class="nav-icon bi bi-filetype-php me-2"></i>
			{{ 'Pages'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_admin_review_index" %}active{% endif %}" href="{{ path('dashboard_admin_review_index') }}">
			<i class="nav-icon bi bi-star me-2"></i>
			{{ 'Reviews'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_admin_testimonial_index" %}active{% endif %}" href="{{ path('dashboard_admin_testimonial_index') }}">
			<i class="nav-icon bi bi-star me-2"></i>
			{{ 'Testimonials'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_admin_orders" or routename == "dashboard_admin_order_details" %}active{% endif %}" href="{{ path('dashboard_admin_orders') }}">
			<i class="nav-icon bi bi-cart me-2"></i>
			{{ 'Orders'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_admin_reports_index" %}active{% endif %}" href="{{ path('dashboard_admin_reports_index') }}">
			<i class="nav-icon bi bi-currency-dollar me-2"></i>
			{{ 'Reports'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_admin_translation_index" %}active{% endif %}" href="{{ path('dashboard_admin_translation_index') }}">
			<i class="nav-icon bi bi-currency-dollar me-2"></i>
			{{ 'Translations'|trans }}
		</a>
	</li>
{# Restaurant role sidebar links #}
{% elseif is_granted('ROLE_RESTAURANT') %}
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_restaurant_profile" %}active{% endif %}" href="{{ path('dashboard_restaurant_profile') }}">
			<i class="nav-icon bi bi-person-badge me-2"></i>
			{{ 'My restaurant profile'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_restaurant_recipe_index" or routename == "dashboard_restaurant_recipe_new"  or routename == "dashboard_restaurant_recipe_edit" or routename == "dashboard_restaurant_recipe_date_statistics_index" %}active{% endif %}" href="{{ path('dashboard_restaurant_recipe_index') }}">
			<i class="nav-icon bi bi-book me-2"></i>
			{{ 'My recipes'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_restaurant_venue_index" or routename == "dashboard_restaurant_venue_new"  or routename == "dashboard_restaurant_venue_edit" or routename == "dashboard_restaurant_venue_seating_plans_index" or routename == "dashboard_restaurant_venue_seating_plans_new" or routename == "dashboard_restaurant_venue_seating_plans_edit" %}active{% endif %}" href="{{ path('dashboard_restaurant_venue_index') }}">
			<i class="nav-icon bi bi-pin-map-fill me-2"></i>
			{{ 'My venues'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<div class="nav-divider"></div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#scanner-app-submenu-{{random}}" aria-expanded="false" aria-controls="scanner-app-submenu-{{random}}">
			<i class="nav-icon bi bi-qr-code-scan me-2"></i>
			{{ 'Scanner App'|trans }}
		</a>
		<div id="scanner-app-submenu-{{random}}" class="collapse {% if routename == "dashboard_restaurant_scanner_index" or routename == "dashboard_restaurant_scanner_edit" or routename == "dashboard_restaurant_scanner_edit" or routename == "dashboard_restaurant_setting_scanner_app" %}show{% endif %}" data-bs-parent="#sideNavbar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_restaurant_scanner_index" or routename == "dashboard_restaurant_scanner_new" or routename == "dashboard_restaurant_scanner_edit" %}active{% endif %}" href="{{ path('dashboard_restaurant_scanner_index') }}">
						{{ 'My scanners'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_restaurant_setting_scanner_app" %}active{% endif %}" href="{{ path('dashboard_restaurant_setting_scanner_app') }}">
						{{ 'Scanner App settings'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_restaurant_pointofsale_index" or routename == "dashboard_restaurant_pointofsale_new" or routename == "dashboard_restaurant_pointofsale_edit" %}active{% endif %}" href="{{ path('dashboard_restaurant_pointofsale_index') }}">
			<i class="nav-icon bi bi-printer me-2"></i>
			{{ 'My points of sale'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_restaurant_review_index" %}active{% endif %}" href="{{ path('dashboard_creator_review_index') }}">
			<i class="nav-icon bi bi-star me-2"></i>
			{{ 'Reviews'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#payout-submenu-{{random}}" aria-expanded="false" aria-controls="payout-submenu-{{random}}">
			<i class="nav-icon bi bi-person-badge me-2"></i>
			{{ 'Payouts'|trans }}
		</a>
		<div id="payout-submenu-{{random}}" class="collapse {% if routename == "dashboard_restaurant_recipe_date_request_payout" or routename == "dashboard_restaurant_payout_requests" or routename == "dashboard_restaurant_setting_payouts" or routename == "dashboard_restaurant_setting_payouts_new" or routename == "dashboard_restaurant_setting_payouts_edit" or routename == "dashboard_restaurant_payout_request_details" %}show{% endif %}" data-bs-parent="#sideNavbar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_restaurant_recipe_date_request_payout" or routename == "dashboard_restaurant_payout_requests" or routename == "dashboard_restaurant_payout_request_details" %}active{% endif %}" href="{{ path('dashboard_restaurant_payout_requests') }}">
						{{ 'Payout requests'|trans }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if routename == "dashboard_restaurant_setting_payouts" or routename == "dashboard_restaurant_setting_payouts_edit" or routename == "dashboard_restaurant_setting_payouts_new" %}active{% endif %}" href="{{ path('dashboard_restaurant_setting_payouts') }}">
						{{ 'Payout methods'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_restaurant_reports_index" %}active{% endif %}" href="{{ path('dashboard_restaurant_reports_index') }}">
			<i class="nav-icon bi bi-funnel me-2"></i>
			{{ 'Reports'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#account-submenu-{{random}}" aria-expanded="false" aria-controls="account-submenu-{{random}}">
			<i class="nav-icon bi bi-people me-2"></i>
			{{ 'Account'|trans }}
		</a>
		<div id="account-submenu-{{random}}" class="collapse {% if routename == "dashboard_creator_account_change_password" %}show{% endif %}" data-bs-parent="#sideNavbar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-lin {% if routename == "dashboard_creator_account_change_password" %}active{% endif %}" href="{{ path('dashboard_creator_account_change_password') }}">
						{{ 'Change password'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</li>
{# Creator (User) role sidebar links #}
{% elseif is_granted('ROLE_CREATOR') or is_granted('ROLE_USER') %}
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_creator_orders" or routename == "dashboard_creator_order_details" %}active{% endif %}" href="{{ path('dashboard_creator_orders') }}">
			<i class="nav-icon bi bi-ticket me-2"></i>
			{{ 'My subscriptions'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_creator_cart" %}active{% endif %}" href="{{ path('dashboard_creator_cart') }}">
			<i class="nav-icon bi bi-cart me-2"></i>
			{{ 'My cart'|trans }}
			<span class="badge bg-info-soft float-start ms-2">{{ app.user.getSubscriptionsInCartQuantitySum }}</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_creator_favorites_index" or routename == "dashboard_creator_favorites_create"  or routename == "dashboard_creator_favorites_remove" %}active{% endif %}" href="{{ path('dashboard_creator_favorites_index') }}">
			<i class="nav-icon bi bi-heart me-2"></i>
			{{ 'My favorites'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_creator_review_index" %}active{% endif %}" href="{{ path('dashboard_creator_review_index') }}">
			<i class="nav-icon bi bi-star me-2"></i>
			{{ 'My reviews'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_creator_following_index" %}active{% endif %}" href="{{ path('dashboard_creator_following_index') }}">
			<i class="nav-icon bi bi-folder me-2"></i>
			{{ 'Following'|trans }}
		</a>
	</li>
	<li class="nav-item">
		<div class="nav-divider"></div>
	</li>
	{% if app.user.facebookId is null and app.user.googleId is null %}
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#account-submenu-{{random}}" aria-expanded="false" aria-controls="account-submenu-{{random}}">
				<i class="nav-icon bi bi-people me-2"></i>
				{{ 'Account'|trans }}
			</a>
			<div id="account-submenu-{{random}}" class="collapse {% if routename == "dashboard_creator_account_index" or routename == "dashboard_creator_account_change_password" %}show{% endif %}" data-bs-parent="#sideNavbar">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link {% if routename == "dashboard_creator_account_index" %}active{% endif %}" href="{{ path('dashboard_creator_account_index') }}">
							{{ 'Settings'|trans }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-lin {% if routename == "dashboard_creator_account_change_password" %}active{% endif %}" href="{{ path('dashboard_creator_account_change_password') }}">
							{{ 'Change password'|trans }}
						</a>
					</li>
				</ul>
			</div>
		</li>
	{% endif %}
{# Point of sale role sidebar links #}
{% elseif is_granted('ROLE_POINTOFSALE') %}
	<li class="nav-item">
		<a class="nav-link {% if routename == "dashboard_pointofsale_orders" or routename == "dashboard_pointofsale_order_details" %}active{% endif %}" href="{{ path('dashboard_pointofsale_orders') }}">
			<i class="nav-icon bi bi-basket me-2"></i>
			{{ 'My orders'|trans }}
		</a>
	</li>
{% endif %}
