{# {% set runtimeConfig = {"thumbnail": {"size": thumbnailsize } } %} #}
{% set link = path('post_article', { slug : post.slug }) %}
<div class="col-xl-4 col-lg-4 col-md-6 col-12">
    <div class="card mb-4 shadow-lg card-lift">
        <a href="{{ link }}">
            <img src="{{ post.imageName ? (post.getImagePath) : post.getImagePlaceholder }}" class="card-img-top" alt="{{ post.title }}">
        </a>
        <div class="card-body">
            {% include "global/post-categories.html.twig" with {
                postcategories: post.postcategories 
            } only %}
            <h3>
                <a href="{{ link }}" class="text-inherit">{{ post.title | html_markdown_excerpt(20)}}</a>
            </h3>
            <p>{{ post.content | html_markdown_excerpt(72) }}</p>
            <div class="row align-items-center g-0 mt-4">
                <div class="col-auto">
                    {% include "global/user-avatar.html.twig" with { user: post.author, type: "sm", class: "me-2" } %}
                </div>
                <div class="col lh-1">
                    <h5 class="mb-1">{{ post.author.username }}</h5>
                    {% if showdate is defined %}
                        <p class="fs-6 mb-0">{{ post.createdAt | ago() }}</p>
                    {% endif %}
                </div>
                {% if post.readtime %}
                    <div class="col-auto">
                        <p class="fs-6 mb-0">{{ post.readtime }} {{ 'Minimum reading'|trans }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
