{% set pricings = repository('App\\Entity\\Pricing', 'findAllPricing') %}
{% for pricing in pricings %}
    <div class="col-lg-4 col-md-12 col-12">
        <div class="card mb-3 border border-top-0">
            <div class="border-top border-4 rounded-3 border-{{ pricing.border }}">
                <div class="p-5">
                    <div class="mb-5">
                        <h3 class="fw-bold">{{ pricing.title }}</h3>
                        <p class="mb-0">
                            {{ pricing.subtitle | raw }}
                        </p>
                        <h2 class="mb-3 fw-bold mt-5">
                            {{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                            {{ pricing.price }}
                            {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}
                            <span class="fs-5 fw-normal">/{{ pricing.monthly }}</span>
                        </h2>
                        <button type="submit" class="btn btn-{{ pricing.btn }}" plan="{{ pricing.id }}" price="{{ pricing.price }}" duration="{{ pricing.duration }}" stripe-key="{{ stripeKey() }}" paypal-id="{{ paypalClientId() }}">
                            {{ pricing.btntitle }}
                        </button>
                    </div>
                    <hr class="m-0">
                    <div class="mt-5">
                        <h4 class="fw-bold mb-4">Everything in Starter, plus:</h4>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <span class="text-success me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                    </svg>
                                </span>
                                <span>Offline viewing</span>
                            </li>
                            <li class="mb-1">
                                <span class="text-success me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                    </svg>
                                </span>
                                <span>
                                    <span class="fw-bold text-dark">Offline</span>
                                    projects
                                </span>
                            </li>
                            <li class="mb-1">
                                <span class="text-success me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                    </svg>
                                </span>
                                <span>
                                    <span class="fw-bold text-dark">Unlimited</span>
                                    storage
                                </span>
                            </li>
                            <li class="mb-1">
                                <span class="text-success me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                    </svg>
                                </span>
                                <span>Custom domain support</span>
                            </li>
                            <li class="mb-1">
                                <span class="text-success me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                    </svg>
                                </span>
                                <span>Bulk editing</span>
                            </li>
                            <li class="mb-1">
                                <span class="text-success me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                    </svg>
                                </span>
                                <span>12 / 5 support</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
