{{'
<script id="restaurant-info-box" type="text/x-handlebars-template">
    <div class="custom-img" style="background-image: url( {{{bgImg}}}"></div>
    <section class="custom-content">
        <h4 class="custom-header">
            <a href="{{link}}">{{title}}</a>
                <small>{{subtitle}}</small>
        </h4>
        <div class="custom-body">{{{body}}}</div>
    </section>
</script>
'}}
