<img src="{{ asset('images/avatar/avatar-1.jpg') }}" class="avatar-{{ type }} rounded-circle border border-4 border-white position-relative" alt="avatar">

{#  
<span class="avatar avatar-{{ type }} rounded-circle"{% if user.avatarName %}  style="background: url('{{ asset(user.getAvatarPath) }}');"{% elseif user.facebookProfilePicture %} style="background: url('{{ user.facebookProfilePicture }}');"{% endif %} {% if showusernametooltip is defined %}data-toggle="tooltip" title="{{ user.username }}" data-container="body"{% endif %} >
    {% if not user.avatarName and not user.facebookProfilePicture %}
        <i class="bi bi-person-circle fs-4"></i>
    {% endif %}
</span>
#}
