{% if review.isVisible %}
    <div class="d-flex align-items-start {{ review.id is odd ? 'border-bottom pb-4 mb-4' }}">
        {% if showuser is defined %}
            {% include "global/user-avatar.html.twig" with { user: review.user, type: "lg" } %}
        {% endif %}
        <div class="ms-3">
            {% if showuser is defined %}
                <h4 class="mb-1">
                    {{ review.user.getFullName }}
                    <span class="ms-1 fs-6">{{ review.createdAt | ago }}</span>
                </h4>
            {% endif %}
            <div class="mb-2">
                <span class="fs-6" style="width:{{ review.getRatingPercentage }}%">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                    </svg>
                </span>
                <p class="mb-0">{{ review.getRating }} {{ "out of 5 stars"|trans|lower }}</p>
            </div>
            <span class="h5">{{ review.headline }}</span>
            <p>{{ review.content | html_markdown_excerpt() }}</p>
            <div class="d-lg-flex">
                <p class="mb-0">{{ 'Was this review helpful?'|trans }}</p>
                <a href="#" class="btn btn-xs btn-primary ms-lg-3">{{ 'Yes'|trans }}</a>
                <a href="#" class="btn btn-xs btn-outline-secondary ms-1">{{ 'No'|trans }}</a>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN_APPLICATION') %}
        <div class="d-lg-flex align-items-center justify-content-between mb-5">
            <div class="mb-3 mb-lg-0">
                {% if review.isVisible == false %}
                    <span class="badge bg-danger-soft mb-0">
                        <i class="bi bi-eye-slash"></i>
                        {{ "Hidden"|trans }}
                    </span>
                {% else %}
                    <span class="badge bg-success-soft mb-0">
                        <i class="bi bi-eye"></i>
                        {{ "Visible"|trans }}
                    </span>
                {% endif %}
                {% if review.deletedAt %}
                    <span class="badge bg-danger-soft">
                        <i class="bi bi-alarm"></i>
                        {{ "Deleted"|trans }}
                    </span>
                {% endif %}
            </div>
            <div>
                <div class="dropdown dropstart">
                    <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
                        <span class="dropdown-header">{{ "Actions"|trans }}</span>
                        {% if review.isVisible == true %}
                            <a class="dropdown-item" href="{{ path('dashboard_admin_review_hide', { slug : review.slug }) }}">
                                <i class="bi bi-eye-slash dropdown-item-icon"></i> 
                                {{ "Hidden"|trans }}
                            </a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('dashboard_admin_review_show', { slug : review.slug }) }}">
                                <i class="bi bi-eye dropdown-item-icon"></i> 
                                {{ "Visible"|trans }}
                            </a>
                        {% endif %}
                        {% if review.deletedAt %}
                            <a class="dropdown-item" href="{{ path('dashboard_admin_review_restore', { slug : review.slug }) }}">
                                <i class="bi bi-trash-fill dropdown-item-icon"></i>
                                {{ 'Restore'|trans }}
                            </a>
                            <a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-review-delete-form').submit();" class="dropdown-item">
                                <i class="bi bi-trash dropdown-item-icon"></i>
                                {{ 'Delete permanently'|trans }}
                            </a>
                            <form id="js-review-delete-form" action="{{ path('dashboard_admin_review_delete_permanently', { slug : review.slug }) }}" method="post" class="">
                                <input type="hidden" name="_token" value="{{ csrf_token('review_deletion_' ~ review.slug) }}">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('dashboard_admin_review_delete', { slug : review.slug }) }}">
                                <i class="bi bi-alarm dropdown-item-icon"></i>
                                {{ 'Delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
