{% if review.isVisible %}
    <div class="d-flex align-items-start {{ review.id is odd ? 'border-bottom pb-4 mb-4' }}">
        {% if showuser is defined %}
            {% include "global/user-avatar.html.twig" with { user: review.author, type: "lg" } %}
        {% endif %}
        <div class="ms-3">
            {% if showuser is defined %}
                <h4 class="mb-1">
                    {{ review.author.getFullName | lower | capitalize }}
                    <span class="ms-1 fs-6">
                        {{ 'Published the'|trans }}
                        {{ review.createdAt | format_date('long') }}
                    </span>
                </h4>
            {% endif %}
            <div class="mb-2">
                <div class="rating-wrap fs-6">
                    <ul class="rating-stars">
                        <li style="width:{{ recipe.getRatingPercentage }}%" class="stars-active">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </li>
                    </ul>
                    <div class="label-rating mb-0 fs-6">
                        {{ review.getRating }}
                        {{ "out of 5 stars"|trans|lower }}
                    </div>
                </div>
            </div>
            <span class="h5">{{ review.headline }}</span>
            <p data-collapsed-height="200" data-height-margin="20">
                {{ review.content | html_markdown }}
            </p>
            <div class="d-lg-flex">
                <p class="mb-0">{{ 'Was this review helpful?'|trans }}</p>
                <a href="#" class="btn btn-xs btn-primary ms-lg-3">{{ 'Yes'|trans }}</a>
                <a href="#" class="btn btn-xs btn-outline-secondary ms-1">{{ 'No'|trans }}</a>
            </div>
        </div>
    </div>
{% endif %}
