{% set link = path('venue', { slug : venue.slug }) %}
<div class="card card-bordered mb-4 card-hover cursor-pointer">
    <div class="card-body">
        <div>
            <div class="d-lg-flex">
                <div class="mb-3 mb-lg-0">
                    <img src="{{ venue.images | length > 0 ? venue.getFirstImageOrPlaceholder : venue.getFirstImageOrPlaceholder }}" alt="..." class="icon-shape border rounded-3 icon-xxl">
                </div>
                <div class="w-100 ms-lg-4">
                    <div class="d-flex justify-content-between mt-1">
                        <div>
                            <h3 class="mb-1">
                                <a href="{{ link }}" class="text-inherit">{{ venue.name }}</a>
                            </h3>
                            <div>
                                <span class="text-dark fw-medium">
                                    {{ venue.type.name }}
                                </span>
                                <span class="ms-0"></span>
                            </div>
                        </div>
                        <div>
                            <a href="{{ link }}" class="btn btn-outline-primary btn-sm">{{ "More details"|trans }}</a>
                        </div>
                    </div>
                    <div>
                        <div class="mt-4">
                            {% if venue.amenities | length > 0 %}
                                <div class="row g-2">
                                    {% for amenity in venue.amenities %}
                                        <div class="col-12 col-md-6">
                                            <div>
                                                <span>
                                                    <i class="{{ amenity.icon }} align-text-bottom"></i>
                                                </span>
                                                <span class="ms-1">{{ amenity.name }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div>
                                <div class="mt-3">
                                    <p class="mb-0">{{ venue.description | html_markdown_excerpt(175) }}</p>
                                </div>
                            </div>
                            <div class="row g-2 mt-1">
                                <div class="col-12 col-md-6">
                                    <div>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-geo-alt-fill align-text-bottom" viewBox="0 0 16 16">
                                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                            </svg>
                                        <span class="ms-1">{{ venue.stringifyAddress }}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill align-text-bottom" viewBox="0 0 16 16">
                                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                                                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"></path>
                                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path>
                                            </svg>
                                        </span>
                                        <span class="ms-1">{{ "Guests"|trans }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

