{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Change password'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">{{ pagetitle }}</h3>
        </div>
        <div class="card-body">
            <div>
                <h4 class="mb-0">{{ 'Edit my password'|trans }}</h4>
                <p class="mb-4">{{ 'We will send you an email confirmation when you change your password, so please wait for this email after submitting it.'|trans }}</p>
                {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_errors(form) }}
                    <div class="mb-3 col-12 col-md-12">
                        {{ form_row(form.currentPassword) }}
                    </div>
                    <div class="mb-3 col-12 col-md-12">
                        {{ form_row(form.newPassword.first) }}
                    </div>
                    <div class="mb-3 col-12 col-md-12">
                        {{ form_row(form.newPassword.second) }}
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">{{ 'Apply changes'|trans }}</button>
                    </div>
                    <div class="col-12 mt-4">
                        <p class="mb-0">
                            {{ "Can't remember your current password?"|trans }}
                            <a href="{{ path('forgot_password_request') }}">
                                {{ 'Reset your password by email'|trans }}
                            </a>
                        </p>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
