{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Account settings'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <p class="mb-0">
                <span>{{ 'Account status'|trans }}</span>
                <span class="badge bg-info-soft ms-2"><i class="bi bi-person-check"></i> {{ "Enabled"|trans }}</span>
                <span class="ms-3">{{ "Last login"|trans }}</span> 
                <span class="badge bg-info-soft ms-3">
                    <i class="bi bi-box-arrow-in-right"></i> {{ app.user.lastLogin | ago }}
                </span>
                <span class="ms-3">{{ "Member since"|trans }}</span>
                <span class="badge bg-info-soft ms-3">
                    <i class="bi bi-person-add"></i> 
                    {{ app.user.createdAt | localizeddate('full', 'short', app.request.locale, date_timezone, date_format) }}
                </span>
            </p>
        </div>
        <div class="card-body">
            {% if app.request.attributes.get('_route') == 'dashboard_creator_account_index' %}
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center mb-4 mb-lg-0">
                        <img src="{{ user.avatarName ? asset(user.getAvatarPath) : user.getAvatarPlaceholder }}" id="img-uploaded" alt="avatar" class="avatar-xl rounded-circle">
                        <div class="ms-3">
                            <h4 class="mb-0">{{ 'Your avatar'|trans }}</h4>
                            <p class="mb-0">{{ 'PNG or JPG no bigger than 800px wide and tall.'|trans }}</p>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn btn-outline-secondary btn-sm">Update</a>
                        <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </div>
                <hr class="my-5">
            {% endif %}
            <div>
                <h4 class="mb-0">{{ 'Account details'|trans }}</h4>
                <p class="mb-4">{{ 'Change your personal information and address.'|trans }}</p>
                {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_widget(form._token) }}
                    {{ form_errors(form) }}
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(form.birthdate) }}
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(form.street) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(form.street2) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(form.city) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(form.postalcode) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(form.state) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(form.country) }}
                    </div>
                    <div class="mb-3 col-12 col-md-12">
                        {{ form_row(form.avatarFile) }}
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">{{ 'Apply changes'|trans }}</button>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
