{% extends 'page.html.twig' %}

{% form_theme form '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}

{% set bodyClass = 'bg-white' %}
{% set pagetitle = 'Contact us'|trans %}
{% block title pagetitle %}

{% block header '' %}
{% block footer '' %}

{% block content %}
    <section class="container-fluid">
        <div class="row align-items-center min-vh-100">
            <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-12">
                <div class="py-8 me-xl-8 pe-xl-8">
                    <div class="d-flex justify-content-between mb-7 align-items-center">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('images/brand/logo/logo.svg') }}" alt="logo" class="logo-inverse">
                            {# <img src="{{ asset(settings.getAppLayoutSettings.getLogoPath) }}" alt="{{ website_name }}" class="logo-inverse"> #}
                        </a>
                        <div class="form-check form-switch theme-switch d-none">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    </div>
                    <div>
                        <h1 class="display-4 fw-bold">{{ 'Get In Touch.'|trans }}</h1>
                        <p class="lead text-dark">
                            {{ 'Fill in the form to the right to get in touch with someone on our team, and we will reach out  shortly.'|trans }}
                        </p>
                        <div class="mt-8 fs-4">
                            <p class="mb-4">
                                {{ 'If you are seeking support please visit our'|trans }}
                                <a href="{{ path('help_center') }}">{{ 'support'|trans }}</a>
                                {{ 'before reaching out directly.'|trans }}
                            </p>
                            <p>
                                <i class="bi bi-telephone text-primary me-2"></i>
                                {{ phone }}
                            </p>
                            <p>
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                {{ email }}
                            </p>
                            <p class="d-flex">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                {{ address | raw | nl2br }}
                            </p>
                        </div>
                        <div class="mt-8">
                            {% include "global/_social-link.html.twig" %}
                        </div>
                    </div>
                </div>
                <div class="position-absolute bottom-0 m-4 ms-0">
                    <div class="dropdown">
                        {% include "global/_bs-theme-text.html.twig" %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex align-items-center w-lg-50 min-vh-lg-100 position-fixed-lg bg-cover bg-light top-0 right-0">
                <div class="px-4 px-xl-8 mx-xl-8 py-8 py-lg-0">
                    <div>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row needs-validation'} }) }}
                            <div class="mb-3 col-12 col-md-6">
                                {{ form_row(form.name) }}
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="mb-3 col-12">
                                {{ form_row(form.service) }}
                            </div>
                            <div class="mb-3 col-12">
                                {{ form_row(form.message) }}
                            </div>
                            {% if '1' == settings['google_recaptcha_enabled'] %}
                                <div class="mb-3 col-12">
                                    {{ form_widget(form.recaptcha) }}
                                    {{ form_errors(form.recaptcha) }}
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">{{ 'Send'|trans }}</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
