{% extends 'empty.html.twig' %}

{% set pagetitle = 'Maintenance mode'|trans %}
{% block title pagetitle %}

{% block content %}
	<div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
		<div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-12 text-center text-lg-start">
            {% if customMessage %}
                <h1 class="display-3 mb-2 fw-bold">{{ customMessage }}</h1>
            {% else %}
                <p class="mb-5 fs-4">
                    {{ "%websiteName% is undergoing a scheduled maintenance."|trans({"%websiteName%": website_name}) }}
                    {{ "We will be back shortly."|trans }}
                </p>
                <hr class="my-5">
                <div>
                    <h3 class="mb-3">{{ "Notify me when it’s ready."|trans }}</h3>
                    <form class="row d-inline-flex justify-content-center justify-content-lg-start needs-validation g-3" novalidate="">
                        <div class="col-md-10">
                            <label class="visually-hidden" for="subscribeInput">Email</label>
                            <input type="email" class="form-control mb-2 me-2" id="subscribeInput" placeholder="Your e-mail..." required="">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                        </div>
                    </form>
                </div>
            {% endif %}
		</div>
		<div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-12">
			<img src="{{ asset('images/background/maintenance-mode.svg') }}" alt="maintenance" class="w-100">
		</div>
	</div>
{% endblock %}
