{% extends 'page.html.twig' %}

{% set bodyClass = 'bg-white' %}
{% set pagetitle = 'All pages'|trans %}
{% block title pagetitle %}

{% block pageheader %}
    <div class="py-8 bg-light">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8 col-12">
                    <h1 class="fw-bold mb-1 display-4">{{ pagetitle }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <section class="py-8">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="card border mb-4">
                                <div class="card-body p-5">
                                    <div class="mb-5">
                                        <h2 class="fw-semibold">{{ 'Company'|trans }}</h2>
                                        <p></p>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            <a href="{{ path('pricing') }}" class="text-body">
                                                <span class="me-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                                    </svg>
                                                </span>
                                                <span>{{ 'Pricing'|trans }}</span>
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="{{ path('blog_list') }}" class="text-body">
                                                <span class="me-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                                    </svg>
                                                </span>
                                                <span>{{ 'Blog'|trans }}</span>
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="{{ path('contact') }}" class="text-body">
                                                <span class="me-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                                    </svg>
                                                </span>
                                                <span>{{ 'Contact'|trans }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="card border mb-4">
                                <div class="card-body p-5">
                                    <div class="mb-5">
                                        <h2 class="fw-semibold">{{ 'Support'|trans }}</h2>
                                        <p></p>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            <a href="{{ path('help_center') }}" class="text-body">
                                                <span class="me-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                                    </svg>
                                                </span>
                                                <span>{{ 'Help and Support'|trans }}</span>
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="#!" class="text-body">
                                                <span class="me-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                                    </svg>
                                                </span>
                                                <span>{{ 'Get the app'|trans }}</span>
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="{{ path('help_center_faq') }}" class="text-body">
                                                <span class="me-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                                    </svg>
                                                </span>
                                                <span>{{ "FAQ"|trans }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
