{% extends 'page.html.twig' %}

{% set bodyClass = 'bg-white' %}
{% set pagetitle = 'Become a premium member'|trans %}
{% block title pagetitle %}

{% block content %}
	<section class="pt-8">
		<div class="container mt-lg-8">
			<div class="row">
				<div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-12">
					<div class="text-center mb-8">
						<h1 class="display-3 mb-3 fw-bold">{{ "A plan for every projects"|trans }}</h1>
						<p class="lead px-md-14">{{ pagetitle }}</p>
					</div>
				</div>
				{% include 'global/pricing.html.twig' %}
			</div>
		</div>
	</section>
	<section class="py-8">
		<div class="container my-lg-8">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="mb-8">
						<h2 class="display-4 fw-bold mb-4 pe-8">
							{{ 'Compare plan &amp;'|trans }}
							<span class="text-primary">{{ 'additional features'|trans }}</span>
						</h2>
						<p class="lead">Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="table-responsive">
						<table class="table text-nowrap">
							<tbody>
								<tr>
									<td class="border-top-0 ps-0" colspan="5">
										<h2 class="fw-bold">Features</h2>
									</td>
									<td class="border-top-0 ps-0">
										<h3 class="mb-1 fw-bold">Free</h3>
										<a href="#">Try for free</a>
									</td>
									<td class="border-top-0 ps-0">
										<h3 class="mb-1 fw-bold">Growth</h3>
										<a href="#">Subscribe</a>
									</td>
									<td class="border-top-0 ps-0">
										<h3 class="mb-1 fw-bold">Enterprise</h3>
										<a href="#">Contact us</a>
									</td>
								</tr>
								<tr>
									<td class="pt-8 ps-0">
										<h3 class="mb-0">Essentials</h3>
									</td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
								</tr>
								<tr>
									<td class="border-top-0 ps-0" colspan="5">Unlimited viewers</td>
									<td class="border-top-0 ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="border-top-0 ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="border-top-0 ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
								<tr>
									<td class="ps-0" colspan="5">Public packages</td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
								<tr>
									<td class="ps-0" colspan="5">Cross-platform Desktop app</td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
								<tr>
									<td class="ps-0" colspan="5">Sketch &amp; Figma import</td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
							</tbody>
							<tbody class="border-top-0">
								<tr>
									<td class="pt-8 ps-0">
										<h3 class="mb-0">Customer Support and Success</h3>
									</td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
								</tr>

								<tr>
									<td class="border-top-0 ps-0" colspan="5">Community support</td>
									<td class="border-top-0 ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="border-top-0 ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="border-top-0 ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
								<tr>
									<td class="ps-0" colspan="5">Email support</td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
								<tr>
									<td class="ps-0" colspan="5">Dedicated account manager</td>
									<td class="ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
								<tr>
									<td class="ps-0" colspan="5">Sketch &amp; Figma import</td>
									<td class="ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
							</tbody>
							<tbody class="border-top-0">
								<tr>
									<td class="pt-8 ps-0">
										<h3 class="mb-0">Design Systems</h3>
									</td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
									<td class="pt-8 ps-0"></td>
								</tr>

								<tr>
									<td class="border-top-0 ps-0" colspan="5">Smart Components</td>
									<td class="border-top-0 ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="border-top-0 ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="border-top-0 ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>

								<tr>
									<td class="ps-0" colspan="5">Custom Fonts</td>
									<td class="ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
								<tr>
									<td class="ps-0" colspan="5">Figma Files</td>
									<td class="ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="ps-0"><i class="bi bi-x fs-3"></i></td>
									<td class="ps-0"><i class="bi bi-check fs-3 text-success"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="pb-8">
		<div class="container mb-lg-8">
			<div class="row">
				<div class="col-xl-6 col-lg-10 col-12">
					<div class="mb-8 pe-8">
						<h2 class="display-4 fw-bold mb-4">
							{{ 'Frequently asked questions,'|trans }}
							<span class="text-primary">{{ 'answered.'|trans }}</span>
						</h2>
						<p class="fs-4">
							{{ 'More questions? Visit the'|trans }}
							<a href="{{ path('help_center_faq') }}">{{ 'Help Center.'|trans }}</a>
						</p>
					</div>
				</div>
			</div>
			{% if faqs | length > 0 %}
				<div class="row">
					{% for faq in faqs %}
						<div class="col-md-6 col-12">
							<div class="mb-6 pe-lg-8">
								<h3 class="mb-2">{{ faq.question }}?</h3>
								<p class="fs-4">{{ faq.answer | html_markdown_excerpt(100) | nl2br }}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				{% include "global/message.html.twig" with { type: "dark", message: ('No faqs found'|trans), icon: "bi bi-exclamation-circle" } %}
			{% endif %}
		</div>
	</section>
	<section class="py-8 ps-0 bg-light">
		<div class="container my-lg-8">
			<div class="row">
				<div class="offset-xl-3 col-xl-6 col-md-12">
					<div class="text-center mb-8">
						<h2 class="display-4 fw-bold mb-3">
							Developer
							<span class="mx-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
								</svg>
							</span>
							
						</h2>
						<p class="fs-4">Our average call quality rating is 4.4 out of 5. That leads to happy tweets like these:</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="card mb-6 mb-lg-0">
						<div class="card-body p-6">
							<span class="mb-3 d-block">
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-quote text-light-primary" viewBox="0 0 16 16">
									<path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path>
								</svg>
							</span>
							<p class="fs-3 text-dark fw-semibold">
								" has created an incredibly seamless experience for app design. My mind is blown fusce consequat ligula in dui congue interdum."
							</p>
							<div class="d-flex mt-4 align-items-center">
								<img src="../assets/images/avatar/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle">
								<div class="ms-2">
									<h5 class="text-primary mb-0">Ronald Richards</h5>
									<p class="mb-0 fs-6">Payments Engineer</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-12">
					<div class="card">
						<div class="card-body p-6">
							<span class="mb-3 d-block">
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-quote text-light-primary" viewBox="0 0 16 16">
									<path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path>
								</svg>
							</span>
							<p class="fs-3 text-dark fw-semibold">
								"I am very satisfied with my purchase. Your team helped me a lot with the new release for RLT version. I hope you are always successful."
							</p>
							<div class="d-flex mt-4 align-items-center">
								<img src="../assets/images/avatar/avatar-9.jpg" alt="" class="avatar avatar-md rounded-circle">
								<div class="ms-2">
									<h5 class="text-primary mb-0">Darlene Robertson</h5>
									<p class="mb-0 fs-6">Senior Data Analyst</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
