{% extends 'admin.html.twig' %}

{% set pagetitle = 'Edit the revision'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "dashboard_admin_post_index": 'Manage posts'|trans, "current":(pagetitle) }] %}
                {% include "global/admin-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    <a href="{{ path('dashboard_admin_post_index') }}" class="btn btn-outline-secondary me-2">
                        {{ 'Return to list'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-xl-9 col-lg-8 col-md-12 col-12">
        <div class="card border-0 mb-4">
            <div class="card-header">
                <h4 class="mb-0">
                    {{ pagetitle }} 
                </h4>
            </div>
            <form action="{{ path('dashboard_admin_revise_edit', {id: revise.id}) }}" method="post" class="needs-validation">
                <div class="card-body">
                    <div class="mb-3 col-12">
                        <input type="text" id="revise-rejection-comment" name="comment" class="form-control" value="" placeholder="{{ 'Reason for refusal'|trans }}" >
                    </div>
                    <div class="col-12 mb-3 pt-2">
                        <button disabled type="submit" name="delete" class="btn btn-danger" 
                            onclick="return confirm('{{ "Are you sure you want to reject this revise?"|trans }}')">
                            {{ 'Deny'|trans }}
                        </button>
                        <button type="submit" class="btn btn-outline-primary">
                            {{ 'Accept'|trans }}
                        </button>
                    </div>
                    <div class="mb-3 col-12">
                        <textarea class="form-control" name="content" id="" rows="3" is="diff-editor" original="{{ revise.target.content | e('html_attr') }}" updated="{{ revise.content | e('html_attr') }}"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12 col-12"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('turbolinks:load', () => {
            /** @var {HTMLInputElement} */
            const input = document.querySelector('#revise-rejection-comment')
            input.addEventListener('input', () => {
                if (input.value === '') {
                input.nextElementSibling.setAttribute('disabled', 'disabled')
                } else {
                input.nextElementSibling.removeAttribute('disabled')
                }
            })
        })
    </script>
{% endblock %}
