{% extends 'auth.html.twig' %}

{% block layout %}{{ parent() }} request{% endblock %}

{% set pagetitle = "Reset your password"|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="mb-4">
        <a href="{{ path('home') }}"><img src="{{ asset('images/brand/logo/logo-icon.svg') }}" class="mb-4" alt="logo"></a>
        <h1 class="mb-1 fw-bold">{{ pagetitle }}</h1>
        <p>{{ 'Complete the form to reset your password.'|trans }}</p>
    </div>
    {{ form_start(requestForm, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
        <div class="mb-3">
            {{ form_row(requestForm.email) }}
        </div>
        <div>
            <small>
                {{ 'Enter your email address and we will send you a link to reset your password.'|trans }}
            </small>
        </div>
        <div class="mb-3 d-grid">
            <button type="submit" class="btn btn-primary">{{ 'Send a password reset email'|trans }}</button>
        </div>
        <span>
            {{ 'Return to'|trans }}
            <a href="{{ path('login') }}">{{ 'log in'|trans }}</a>
        </span>
    {{ form_end(requestForm) }}
{% endblock %}
