<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="table-light">
			<tr>
				<th>{{ 'Logo'|trans }}</th>
				<th>{{ 'Name / Username'|trans }}</th>
				<th>{{ 'Creation date / Last login'|trans }}</th>
				<th>{{ 'Recipes count'|trans}}</th>
				<th>{{ 'Status'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for user in rows %}
				{% set link = path('user_profil', { slug : user.slug }) %}
				<tr>
					<td>
						<a href="{{ link }}" class="text-inherit" target="_blank">
							<div class="d-flex align-items-center">
								<div>
									{% include "global/user-avatar.html.twig" with { user: user, type: "xl" } %}
								</div>
								<div class="ms-3">
									<h4 class="mb-1 text-primary-hover">{{ user.getCrossRoleName }}</h4>
									{% if user.country %}
										<i class="flag flag-{{user.country.code|lower}} me-1 fs-6 me-2 mb-1"></i>
									{% endif %}
									<span>
										{{ 'Joined'|trans }}
										{{ user.createdAt ? user.createdAt | format_date('long') }}
									</span>
								</div>
							</div>
						</a>
					</td>
					<td>
						{{ user.pointofsale.name }}
						/
						{{ user.username }}
					</td>
					<td>
						{% if user.lastLogin %}
							{{ user.lastLogin | ago}}
						{% else %}
							{{ "N/A"|trans }}
						{% endif %}
						<br>
						<a href="https://ipinfo.io/{{ user.lastLoginIp }}" target="_blank">{{ user.lastLoginIp }}</a>
						{% if user.lastLoginIp %}
							{{ ipService.getLocation(user.lastLoginIp).emoji ?? '' }}
						{% endif %}
					</td>
					<td>
						{{ user.pointofsale.recipedates | length }}
					</td>
                    <td>
						{% if user.isVerified == false %}
							<span class="badge bg-danger-soft">
								<i class="bi bi-eye-slash"></i>
								{{ "Offline"|trans }}
							</span>
						{% else %}
							<span class="badge bg-success-soft">
								<i class="bi bi-eye"></i>
								{{ "Online"|trans }}
							</span>
						{% endif %} 
						{% if user.deletedAt %}
							<span class="badge bg-danger-soft">
								<i class="bi bi-alarm"></i>
								{{ "Deleted"|trans }}
							</span>
						{% endif %}
                    </td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
                                <a class="dropdown-item" href="{{ path('dashboard_restaurant_pointofsale_edit', { slug : user.slug }) }}">
                                    <i class="bi bi-pencil dropdown-item-icon"></i>
                                    {{ 'Edit'|trans }}
                                </a>
								{% if user.isVerified  == true %}
									<a class="dropdown-item" href="{{ path('dashboard_restaurant_pointofsale_disable', { slug : user.slug }) }}">
										<i class="bi bi-eye-slash dropdown-item-icon"></i>
										{{ "Disable"|trans }}
									</a>
								{% else %}
									<a class="dropdown-item" href="{{ path('dashboard_restaurant_pointofsale_enable', { slug : user.slug }) }}">
										<i class="bi bi-eye dropdown-item-icon"></i>
										{{ "Enable"|trans }}
									</a>
								{% endif %}
                                {% if user.deletedAt %}
                                    <a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-pointofsale-delete-form').submit();" class="dropdown-item">
                                        <i class="bi bi-trash dropdown-item-icon"></i>
                                        {{ 'Delete permanently'|trans }}
                                    </a>
                                    <form id="js-pointofsale-delete-form" action="{{ path('dashboard_restaurant_pointofsale_delete_permanently', { slug : user.slug }) }}" method="post" class="">
                                        <input type="hidden" name="_token" value="{{ csrf_token('user_deletion_' ~ user.slug) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                    </form>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path('dashboard_restaurant_pointofsale_delete', { slug : user.slug }) }}">
                                        <i class="bi bi-alarm dropdown-item-icon"></i>
                                        {{ 'Delete'|trans }}
                                    </a>
                                {% endif %}
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="card-footer">
		{{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
	</div>
</div>
