{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Add a new point of sale'|trans %}
{% if pointofsale.id %}{% set pagetitle = 'Update the point of sale'|trans %}{% endif %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_restaurant_pointofsale_index": ('My points of sale'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span></span>
            </div>
            <div>
                <a href="{{ path('dashboard_restaurant_pointofsale_index') }}" class="btn btn-outline-primary btn-sm">
                    {{ 'Return to list'|trans }}
                </a>
            </div>
        </div>
        <div class="card-body">
            <div>
                {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                {% if pointofsale.id %}
                    {% include "global/message.html.twig" with { type: "dark", icon: "bi bi-exclamation-circle", "message": ("Leave the password empty to keep the old one"|trans) } %}
                {% endif %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_widget(form._token) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if pointofsale.id %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('#point_of_sale_username').val("{{ pointofsale.user.username }}");
            });
        </script>
    {% endif %}
{% endblock %}
