{% extends 'page.html.twig' %}

{% set link = path('post_article', { slug : revise.target.slug }) %}
{% set pagetitle = 'Suggest a change'|trans %}
{% block title pagetitle %}

{% block pageheader %}
	<section class="py-4 py-lg-6 bg-primary">
		<div class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10 col-md-12 col-12">
					<div class="d-lg-flex align-items-center justify-content-between">
						<div class="mb-4 mb-lg-0">
							<h1 class="text-white mb-1">{{ pagetitle }}</h1>
							<p class="mb-0 text-white lead">{{ 'Article :'|trans }}
								"{{ revise.target.title }}"</p>
						</div>
						<div>
							<a href="{{ link }}" class="btn btn-white">
								{{ 'Back to post'|trans }}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block content %}
	<section class="py-7 py-lg-8">
		<div class="container my-lg-8">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
				{{ form_widget(form._token) }}
				{{ form_errors(form) }}
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<div class="mb-4">
							<div class="mb-4">
								<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-postcard text-primary" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0zM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5M10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM13 8h-2V6h2z"/>
								</svg>
							</div>
							<h3>{{ "Here you can suggest your changes to the article"|trans }}</h3>
							<p>"<a href="{{ link }}">{{ revise.target.title }}</a>"</p>
							<p>{{ "to correct a spelling error or add additional clarification."|trans }}</p>
							<p>{{ 'Your changes will then be validated by an administrator.'|trans }}</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-7 col-md-8 col-12">
						<div>
							<div class="row">
								<div class="col-12 col-md-12 mb-3" id="page-editor">
									<label class="form-label">{{ 'Post description'|trans }}</label>
									{{ form_row(form.content, {label: false}) }}
								</div>
								<div class="col-12 col-md-12">
									<button type="submit" class="btn btn-primary">{{ 'Submit for Approval'|trans }}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{ form_end(form, {'render_rest': false}) }}
		</div>
	</section>
{% endblock %}
