{% extends 'email.html.twig' %}

{% block body %}
    <h1>{{ sender_name }} {{ "recommends you to read"|trans }} "{{ post.title }}"</h1>
    <p>
        {{ "Read"|trans }} "{{ post.title }}" {{ "at"|trans }}
        <a href="{{ url('blog_article', { slug: post.slug }) }}">
            {{ url('blog_article', { slug: post.slug }) }}
        </a>
    </p>
    {% if sender_comments %}
        <h2>{{ sender_name }} {{ "comments"|trans }}:</h2>
        <p>{{ sender_comments }}</p>
    {% endif %}
{% endblock %}
