{% extends 'email.html.twig' %}

{% block body %}
    <p>{{ 'A new contact request has been received'|trans }}</p>

    <p>{{ 'Name :'|trans }} {{ data.name }}</p>
    <p>{{ 'Email :'|trans }} {{ data.email }}</p>

    <p>
        <strong>{{ 'Message :'|trans }}</strong><br>
        {{ data.message | nl2br }}
    </p>
{% endblock %}
