<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		{% if header is not defined or header != false %}
			<thead class="table-light">
				<tr>
					<th>{{ 'Article'|trans }}</th>
					<th>{{ 'Comment'|trans }}</th>
					<th>{{ 'Status'|trans }}</th>
					<th></th>
				</tr>
			</thead>
		{% endif %}
		<tbody>
			{% for revise in rows %}
				<tr>
					<td>
						{% if revise.status == 1 %}
							{% set link = path(revise.target) %}
							<a href="{{ link }}" target="_blank" class="text-inherit">
								<div class="d-flex align-items-center">
									<div>
										<img src="{{ revise.target.imageName ? asset(revise.target.getImagePath) : revise.target.getImagePlaceholder }}" alt="{{ revise.target.title }}" class="img-4by3-lg rounded">
									</div>
									<div class="ms-3">
										<h4 class="mb-1 text-primary-hover">
											{{ revise.target.title }}
										</h4>
										<span>
											{{ 'Published the'|trans }}
											{{ revise.createdAt | format_date('long') }}
										</span>
									</div>
								</div>
							</a>
						{% else %}
							{% set link = path('revise', {id: revise.target.id}) %}
							<a href="{{ link }}" target="_blank" class="text-inherit">
								<div class="d-flex align-items-center">
									<div>
										<img src="{{ revise.target.imageName ? asset(revise.target.getImagePath) : revise.target.getImagePlaceholder }}" alt="{{ revise.target.title }}" class="img-4by3-lg rounded">
									</div>
									<div class="ms-3">
										<h4 class="mb-1 text-primary-hover">
											{{ revise.target.title }}
										</h4>
										<span>
											{{ 'Published the'|trans }}
											{{ revise.createdAt | format_date('long') }}
										</span>
									</div>
								</div>
							</a>
						{% endif %}
					</td>
					<td>
						{% if revise.comment %}
							<p class="mb-0 text-small text-muted fs-6">{{ revise.comment }}</p>
						{% endif %}
					</td>
					<td>
						{% if revise.status == -1 %}
							<span class="badge-dot bg-danger me-1 d-inline-block align-middle"></span>
							{{ 'Rejected'|trans }}
						{% elseif revise.status == 0 %}
							<span class="badge-dot bg-warning me-1 d-inline-block align-middle"></span>
							{{ 'Pending'|trans }}
						{% else %}
							<span class="badge-dot bg-success me-1 d-inline-block align-middle"></span>
							{{ 'Accepted'|trans }}
						{% endif %}
					</td>
					<td>
						{% if revise.status != 1 %}
							{% set link = path('revise', {id: revise.target.id}) %}
							<span class="dropdown dropstart">
								<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
									<i class="bi bi-three-dots-vertical"></i>
								</a>
								<span class="dropdown-menu" aria-labelledby="Dropdown1" style="">
									<span class="dropdown-header">{{ 'Settings'|trans }}</span>
									<a class="dropdown-item" href="{{ link }}">
										<i class="bi bi-pencil dropdown-item-icon"></i>
										{{ 'Edit'|trans }}
									</a>
									{{ include('dashboard/shared/content/_delete_form.html.twig', {revise: revise}) }}
								</span>
							</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
