<div class="card border-0 mb-4">
    <div class="card-header">
        <h4 class="mb-0">{{ pagetitle }} "{{ category.name }}"</h4>
    </div>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
        <div class="card-body">
            {{ form_widget(form) }}
            <div class="col-12 pt-2">
                <button type="submit" class="btn btn-primary me-4">
                    {{ button_label|default('Sauvegarder') }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
