{% extends 'admin.html.twig' %}

{% set pagetitle = 'Toutes les catégories' %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "current":(pagetitle) }] %}
                {% include "global/admin-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    <a href="{{ path('dashboard_admin_category_new') }}" class="btn btn-outline-secondary">Créer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card mb-4">
            <div class="card-header border-bottom-0">
                <form class="d-flex align-items-center">
                    <span class="position-absolute ps-3 search-icon">
                        <i class="fe fe-search"></i>
                    </span>
                    <input type="search" class="form-control ps-6" placeholder="Rechercher des catégories">
                </form>
            </div>
            <div class="table-responsive border-0 overflow-y-hidden">
                <table class="table mb-0 text-nowrap table-centered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>{{ knp_pagination_sortable(categories, '#', 'c.id') }}</th>
                            <th>{{ knp_pagination_sortable(categories, 'Nom', 'c.name') }}</th>
                            {# <th>Recettes</th> #}
                            <th>Couleur</th>
                            <th>Mise à jour</th>
                            <th>Actions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            {% set link = path('dashboard_admin_category_edit', { id : category.id }) %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>
                                    <a href="{{ link }}" class="text-inherit">
                                        <div class="d-flex align-items-center">
                                            <div class="ms-3">
                                                <h4 class="mb-1 text-primary-hover">{{ category.name }}</h4>
                                                <span>
                                                    Ajouter le {{ category.createdAt ? category.createdAt | formater_datetime() : '' }}
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                {#  
                                <td>
                                    {{ category.count }}
                                </td>
                                #}
                                <td>
                                    <span class="text-decoration-none" style="color: {{ category.color }}">{{ category.name }}</span>
                                </td>
                                <td>{{ category.updatedAt ? category.updatedAt | date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a class="btn btn-outline-warning btn-sm" href="{{ link }}">
                                        Modifier
                                    </a>
                                    {{ include('dashboard/admin/category/_delete_form.html.twig') }}
                                </td>
                                <td>
                                    <span class="dropdown dropstart">
                                        <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <span class="dropdown-menu" aria-labelledby="courseDropdown1" style="">
                                            <span class="dropdown-header">Settings</span>
                                            <a class="dropdown-item" href="#">
                                                <i class="bi bi-0-circle dropdown-item-icon"></i>
                                                Reject with Feedback
                                            </a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                {{ knp_pagination_render(categories, null, {}, {'align': 'center'}) }}
            </div>
        </div>
    </div>
{% endblock %}
