{% extends 'admin.html.twig' %}

{% set pagetitle = 'Manage help center articles'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "current":(pagetitle) }] %}
                {% include "global/admin-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    <a href="{{ path('dashboard_admin_help_center_article_new') }}" class="btn btn-primary me-2">{{ 'Create'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {#  
    <div class="row justify-content-md-between mb-4 mb-xl-0 gx-3">
        <div class="col-xl-2 col-lg-4 col-md-6 col-12">
            <div class="mb-lg-4 mb-2">
                <input type="search" name="keyword" value="{{ app.request.get('keyword') }}" class="form-control" placeholder="{{ 'Search...'|trans }}">
            </div>
        </div>
        <div class="col-xxl-1 col-lg-2 col-md-6 col-12">
            <select class="form-select">
                <option value="">{{ "Select an option"|trans }}</option>
                <option value="In Progress">In Progress</option>
                <option value="Pending">Pending</option>
                <option value="Modified">Modified</option>
                <option value="Finished">Finished</option>
                <option value="Cancel">Cancel</option>
            </select>
        </div>
    </div>
    #}
    <div class="p-4 row justify-content-md-between mb-4 mb-xl-0 gx-3">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <form class="d-flex align-items-center">
                <span class="position-absolute ps-3 search-icon">
                    <i class="bi bi-search"></i>
                </span>
                <input type="search" name="keyword" value="{{ app.request.get('keyword') }}" class="form-control ps-6" placeholder="{{ 'Search...'|trans }}">
            </form>
        </div>
        <div class="col-6 col-lg-3">
            <select class="form-select">
                <option selected="">{{ "Select an option"|trans }}</option>
                <option value="1">Shipped</option>
                <option value="2">Cancelled</option>
                <option value="3">Return</option>
            </select>
        </div>
        <div class="col-6 col-lg-3">
            <select class="form-select">
                <option selected="">{{ "Select an option"|trans }}</option>
                <option value="1">Shipped</option>
                <option value="2">Cancelled</option>
                <option value="3">Processing</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-1">
                        {{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}
                    </h4>
                    <p class="mb-0"></p>
                </div>
                {% if rows.getTotalItemCount > 0 %}
                    {% include "dashboard/admin/helpCenter/articles/manage-articles-table.html.twig" with {rows: rows} %}
                    <div class="card-footer">
                        {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
                    </div>
                {% else %}
                    <div class="card-footer">
                        {% include "global/message.html.twig" with { type: "dark", message: ('No articles found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
