{% extends 'admin.html.twig' %}

{% set pagetitle = 'Homepage settings'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "current":(pagetitle) }] %}
                {% include "global/admin-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    <a href="" class="btn btn-primary me-2">{{ 'Create'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="mb-0">{{ pagetitle }}</h4>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.content) }}
                        <div id="recipes">
                            {{ form_row(form.recipes) }}
                        </div>
                        <div id="restaurants">
                            {{ form_row(form.restaurants) }}
                        </div>
                        <div id="custom">
                            {{ form_row(form.customBackgroundFile) }}
                            <div class="mb-6 mb-lg-8">
                                <h5 class="mb-3">{{ 'Main hero background (910x995)'|trans }}</h5>
                                <img src="{{ homepageherosetting.customBackgroundName ? asset(homepageherosetting.getCustomBackgroundPath) : homepageherosetting.getCustomBackgroundPlaceholder }}" alt="img" class="img-4by3-lg rounded">
                            </div>
                            {{ form_row(form.customBlockOneFile) }}
                            <div class="mb-6 mb-lg-8">
                                <h5 class="mb-3">{{ 'Main image one (241x154)'|trans }}</h5>
                                <img src="{{ homepageherosetting.CustomBlockOneName ? asset(homepageherosetting.getCustomBlockOnePath) : homepageherosetting.getCustomBlockOnePlaceholder }}" alt="img" class="img-4by3-lg rounded">
                            </div>
                            {{ form_row(form.customBlockTwoFile) }}
                            <div class="mb-6 mb-lg-8">
                                <h5 class="mb-3">{{ 'Main image two (241x154)'|trans }}</h5>
                                <img src="{{ homepageherosetting.CustomBlockTwoName ? asset(homepageherosetting.getCustomBlockTwoPath) : homepageherosetting.getCustomBlockTwoPlaceholder }}" alt="img" class="img-4by3-lg rounded">
                            </div>
                            {{ form_row(form.customBlockThreeFile) }}
                            <div class="mb-6 mb-lg-8">
                                <h5 class="mb-3">{{ 'Main image three (241x154)'|trans }}</h5>
                                <img src="{{ homepageherosetting.CustomBlockThreeName ? asset(homepageherosetting.getCustomBlockThreePath) : homepageherosetting.getCustomBlockThreePlaceholder }}" alt="img" class="img-4by3-lg rounded">
                            </div>
                            {{ form_row(form.show_search_box) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("input[name='homepage_hero_setting_form[content]']").change(function () {
                if ($('#homepage_hero_setting_form_content_1').is(':checked')) {
                    $('#recipes').show();
                    $('#restaurants').hide();
                    $('#custom').hide();
                } else if ($('#homepage_hero_setting_form_content_2').is(':checked')) {
                    $('#recipes').hide();
                    $('#restaurants').show();
                    $('#custom').hide();
                } else if ($('#homepage_hero_setting_form_content_3').is(':checked')) {
                    $('#recipes').hide();
                    $('#restaurants').hide();
                    $('#custom').show();
                } else {
                    $('#recipes').hide();
                    $('#restaurants').hide();
                    $('#custom').hide();
                }
            });
            $("input[name='homepage_hero_setting_form[content]']").trigger('change');
        });
    </script>
{% endblock %}
