<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="">
			<tr>
				<th>{{ 'Name'|trans }}</th>
				<th>{{ 'Header'|trans }}</th>
				<th>{{ 'Elements'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for menu in rows %}
				{% set link = path('dashboard_admin_setting_menus_edit', { slug : menu.slug }) %}
				<tr>
					<td>{{ menu.name }}</td>
					<td>{{ menu.header }}</td>
					<td>{{ menu.menuElements | length }}</td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
								<a class="dropdown-item" href="{{ link }}">
									<i class="bi bi-pencil dropdown-item-icon"></i>
									{{ 'Edit'|trans }}
								</a>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
