{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Recipes list page settings'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "dashboard_main": ('Dashboard'|trans), "current":(pagetitle) }] %}
                {% include "global/dashboard-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    {% if is_granted('ROLE_VERIFIED') %}
                        <a href="" class="btn btn-primary me-2">{{ 'Create'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="mb-0">{{ pagetitle }}</h4>
                </div>
                <div class="card-body">
                    <div>
                        {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                    </div>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation', 'name': 'recipes_list_page_settings'} }) }}
                        {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
