<div class="modal fade {% if recipedate.hasSeatingPlan %}has-seating-plan{% endif %}" id="buy-subscriptions-modal-recipeDate-{{ recipedate.reference }}" tabindex="-1" role="dialog" aria-labelledby="buy-subscriptions-modal-recipeDate-{{ recipedate.reference }}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buy-subscriptions-modal-recipeDate-{{ recipedate.reference }}">
                    {% if recipedate.hasSeatingPlan %}
                        {{ "Pick your seats"|trans }}
                    {% else %}
                        {{ "Subscriptions"|trans }}
                    {% endif %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="mb-3 fw-bold">{{ recipedate.recipe.name }}</h6>
                <p class="mb-0 fs-4">{{ recipedate.startdate | localizeddate('full', 'none', app.request.locale, date_timezone, date_format) }}</p>
                <p class="mb-0 fs-4">
                    {% if recipedate.venue %}
                        {{ recipedate.venue.name }}: {{ recipedate.venue.stringifyAddress }}
                    {% else %}
                        {{ "Online"|trans }}
                    {% endif %}
                </p>
                {% if recipedate.hasSeatingPlan %}
                    <div class="mb-3">
                        {% include "dashboard/sShared/venue/seatingPlans/seating-plan-seats.htms.twig" with {seatingPlan: recipedate.seatingPlan} %}
                    </div>
                {% endif %}
                <div class="table-responsive table-card">
                    <table class="table mb-0 text-nowrap">
                        <tbody>
                            {% for subscription in recipedate.subscriptions %}
                                {% if subscription.isActive %}
                                    <tr class="bg-gray">
                                        <td class="border-top-white">
                                            <div>
                                                {{ subscription.name }}
                                                {% if subscription.description %}
                                                    <i class="bi bi-exclamation-circle text-primary ms-2" data-bs-toggle="tooltip" title="{{ subscription.description }}"></i>
                                                {% endif %}
                                                {% set recipeSubscriptionInCartSum = app.user.isRecipesubscriptionInCart(subscription) %}
                                                {% if recipeSubscriptionInCartSum %}
                                                    <i class="bi bi-cart-plus ms-2 animated infinite flash text-danger" data-bs-toggle="tooltip" title="{{ "You have added %subscriptions% subscription(s) to your cart"|trans({"%subscriptions%": recipeSubscriptionInCartSum}) }}"></i>
                                                {% endif %}
                                                {% set validSubscriptionReservationsQuantitySumForUser = subscription.getValidSubscriptionReservationsQuantitySum(app.user) %}
                                                {% if validSubscriptionReservationsQuantitySumForUser %}
                                                    <i class="bi bi-hourglass ms-2 animated infinite flash text-danger" data-bs-toggle="tooltip" title="{{ "%subscriptions% subscription(s) are still reserved for you, please wait until the reservation expires at %expirationDate% in order to purchase more subscriptions"|trans({"%subscriptions%": validSubscriptionReservationsQuantitySumForUser, "%expirationDate%":  subscription.getValidSubscriptionReservationExpirationDate(app.user) | ago}) }}"></i>
                                                {% endif %}
                                                {% set paidOrderElementsQuantitySum = subscription.getOrderElementsQuantitySum(1, app.user) %}
                                                {% if paidOrderElementsQuantitySum %}
                                                    <i class="bi bi-ticket ms-2 animated infinite flash text-info" data-bs-toggle="tooltip" title="{{ "You have already bought %subscriptions% subscription(s)"|trans({"%subscriptions%": paidOrderElementsQuantitySum}) }}"></i>
                                                {% endif %}
                                            </div>
                                            {% if not subscription.isOnSale %}
                                                <span class="badge bg-{{ subscription.stringifyStatusClass }} mt-1">
                                                    {{ subscription.stringifyStatus|trans }}
                                                </span>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                            <div class="mt-1">
                                                {{ subscription.isFree ? "Free"|trans : ((settings['currency_position'] == 'left' ? settings['currency_symbol'] : '') ~ subscription.getSalePrice() ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '')) }}
                                                {% if subscription.promotionalprice and not subscription.isFree %}
                                                    <del class="price-old">{{ (settings['currency_position'] == 'left' ? settings['currency_symbol'] : '') ~ subscription.getPrice() ~ (settings['currency_position'] == 'right' ? settings['currency_symbol'] : '') }}</del>
                                                {% endif %}
                                            </div>
                                            {% if subscription.salesstartdate %}
                                                <div class="clearfix"></div>
                                                {% if subscription.salesstartdate | date("Y/m/d H:i") > "now" | date("Y/m/d H:i") %}
                                                    <small class="text-danger fs-4 mt-1">
                                                        {{ "Sales start in"|trans }}
                                                        <span class="countdown" data-count-down-to="{{ subscription.salesstartdate | date('Y/m/d H:i') }}"></span>
                                                    </small>
                                                {% else %}
                                                    <small class="text-success fs-4 mt-1">
                                                        {{ "Sales started on"|trans }}
                                                        {{ subscription.salesstartdate | localizeddate('full', 'none', app.request.locale, date_timezone, date_format) }}
                                                    </small>
                                                {% endif %}
                                            {% endif %}
                                            {% if subscription.salesenddate and subscription.salesstartdate | date("Y/m/d H:i") <= "now" | date("Y/m/d H:i") %}
                                                <div class="clearfix"></div>
                                                {% if subscription.salesenddate | date("Y/m/d H:i") < "now" | date("Y/m/d H:i") %}
                                                    <small class="text-danger fs-4 mt-1">
                                                        {{ "Sales ended on"|trans }}
                                                        <span>{{ subscription.salesenddate | localizeddate('full', 'none', app.request.locale, date_timezone, date_format) }}</span>
                                                    </small>
                                                {% else %}
                                                    <small class="text-danger fs-4 mt-1">
                                                        {{ "Sales end in"|trans }}
                                                        <span class="countdown" data-count-down-to="{{ subscription.salesenddate | date('Y/m/d H:i') }}"></span>
                                                    </small>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="border-top-white text-right">
                                            <input type="text" class="form-control touchspin-integer bg-white recipedate-subscription-qte" name="{{ subscription.reference }}" data-subscription-id="{{ subscription.id }}" data-min="0" data-max="{{ subscription.getMaxSubscriptionsForSaleCount(app.user) }}" 
                                            {% if recipeSubscriptionInCartSum or validSubscriptionReservationsQuantitySumForUser or (not subscription.isOnSale) %}disabled{% endif %}>
                                            {% if '1' == settings["show_subscriptions_left_on_cart_modal"] %}
                                                <span class="badge bg-info mt-2">
                                                    {{ subscription.getSubscriptionsLeftCount }} 
                                                    {{ "subscriptions left"|trans }}
                                                </span>
                                            {% endif %}
                                            {% if subscription.subscriptionspercreator %}
                                                <span class="badge bg-info ms-3 mt-2">
                                                    {{ subscription.subscriptionspercreator }} 
                                                    {{ "subscriptions per creator"|trans }}
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Close"|trans }}</button>
                {% if not recipe.hasTwoOrMoreRecipeDatesOnSale %}
                    <button type="button" id="add-to-cart-button" class="btn btn-primary {% if recipedate.hasSeatingPlan %}recipe-date-has-seating-plan{% endif %}">
                        {{ "Add to cart"|trans }}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
