{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'My scanners'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
	<div class="card mb-4">
		<div class="d-lg-flex justify-content-between align-items-center card-header border-bottom-0">
			<div class="mb-3 mb-lg-0">
				<h3 class="mb-0">{{ pagetitle }}</h3>
				<span>{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</span>
			</div>
			<div>
				<a href="{{ path('dashboard_restaurant_scanner_new') }}" class="btn btn-outline-primary btn-sm">
					{{ 'Create'|trans }}
				</a>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6 pe-md-0 mb-2 mb-lg-0">
                    <form>
                        <ul class="list-inline">
                            <li class="list-inline-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ "Search"|trans }}</a>
                                <div class="dropdown-menu dropdown-menu-arrow p-3" style="min-width:300px;max-width:500px;">
                                    <label for="username">{{ "Username"|trans }}</label>
                                    <input id="username" name="username" type="text" class="form-control" value="{{ app.request.get('username') }}">
                                </div>
                            </li>
                            <li class="list-inline-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ "Enabled"|trans }}</a>
                                <div class="dropdown-menu dropdown-menu-arrow p-3" style="min-width:450px;max-width:550px;">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="enabled-all" name="enabled" value="all">
                                        <label class="custom-control-label" for="enabled-all">{{ 'All'|trans }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="enabled-yes" name="enabled" value="1">
                                        <label class="custom-control-label" for="enabled-yes">{{ 'Enabled only'|trans }}</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="enabled-no" name="enabled" value="0">
                                        <label class="custom-control-label" for="enabled-no">{{ 'Disabled only'|trans }}</label>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item ml-3">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bi bi-search"></i>
                                </button>
                            </li>
                        </ul>
                    </form>
				</div>
				<div class="col-lg-6 col-md-6 pe-md-0 mb-2 mb-lg-0">
					<select class="form-select">
						<option value="">{{ "Select an option"|trans }}</option>
						<option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "desc"|trans ~ ')', "u.createdAt", {"direction": "desc", "criteria": "u.createdAt"}) }}</option>
						<option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "asc"|trans ~ ')', "u.createdAt", {"direction": "asc", "criteria": "u.createdAt"}) }}</option>
					</select>
				</div>
			</div>
		</div>
		{% if rows.getTotalItemCount > 0 %}
			{% include "dashboard/restaurant/scanner/manage-scanners-table.html.twig" with {rows: rows} %}
		{% else %}
			<div class="card-footer">
				{% include "global/message.html.twig" with { type: "dark", message: ('No scanners found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if (getURLParameter('isVerified')) {
                $('input[type="radio"][name="isVerified"][value="' + getURLParameter('isVerified') + '"]').attr("checked", "checked");
            }
        });
    </script>
{% endblock %}
