{% extends 'page.html.twig' %}

{% set bodyClass = 'bg-white' %}
{% set pagetitle = 'Checkout'|trans %}
{% block title pagetitle %}

{% block pageheader %}
    <section class="py-4 py-lg-6 bg-primary">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                    <div class="d-lg-flex align-items-center justify-content-between">
                        <div class="mb-4 mb-lg-0">
                            <h1 class="text-white mb-1">{{ pagetitle }}</h1>
                            <p class="mb-0 text-white lead"></p>
                        </div>
                        <div>
                            <a href="" class="btn btn-white">Back to Order</a>
                            <a href="" class="btn btn-dark">{{ 'Save'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <section class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="mb-0">{{ "Order Summary"|trans }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-card">
                                <table class="table mb-0 text-nowrap">
                                    <thead class="table-light">
                                        <tr>
                                            <th>{{ "Recipe / Subscription"|trans }}</th>
                                            <th>{{ "Price"|trans }}</th>
                                            <th>{{ "Quantity"|trans }}</th>
                                            <th>{{ "Subtotal"|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for orderelement in order.orderelements %}
                                            <tr>
                                                <td>
                                                    <div class="d-flex">
                                                        <div>
                                                            {% include "global/recipe-preview-horizontal.html.twig" with { recipesubscription:
                                                            orderelement.recipesubscription } %}
                                                        </div>
                                                        <div class="ms-4 mt-2 mt-lg-0">
                                                            {% if orderelement.reservedSeats and orderelement.reservedSeats | length > 0 %}
                                                                <h4 class="mb-1 text-primary-hover">{{ "Reserved seats"|trans }}</h4>
                                                                <div>
                                                                    {% for reservedSeat in orderelement.reservedSeats %}
                                                                        <span>
                                                                            <span class="text-dark fw-medium">
                                                                                {{ services.stringifySeatLabel(reservedSeat) }}
                                                                            </span>
                                                                        </span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h4 class="mb-0">
                                                        {% if orderelement.recipesubscription.recipedate.recipe.isFree %}
                                                            {{ "Free"|trans }}
                                                        {% else %}
                                                            {% if orderelement.recipesubscription.recipedate %}
                                                                {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ orderelement.recipesubscription.getSalePrice }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </h4>
                                                </td>
                                                <td>
                                                    {{ orderelement.quantity }}
                                                </td>
                                                <td>
                                                    <h4 class="mb-0">
                                                        {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ orderelement.getPrice }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                                                    </h4>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                        {{ form_widget(form._token) }}
                        {{ form_widget(form.orderReference, { value: order.reference }) }}
                        <div class="card mb-3 mb-lg-0">
                            <div class="card-header">
                                <h4 class="mb-0">{{ "Optional creator information"|trans }}</h4>
                            </div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-12 col-md-4">
                                        {{ form_label(form.firstname, null, {'label_attr': {'class': 'not-required'}}) }}
                                        {{ form_widget(form.firstname) }}
                                        {{ form_errors(form.firstname) }}
                                    </div>
                                    <div class="col-12 col-md-4">
                                        {{ form_label(form.lastname, null, {'label_attr': {'class': 'not-required'}}) }}
                                        {{ form_widget(form.lastname) }}
                                        {{ form_errors(form.lastname) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="card mb-3 mb-lg-0">
                            <div class="card-body">
                                <div class="p-5">
                                    <h4 class="fw-bold mb-4"></h4>
                                    <ul class="list-group list-group-flush mb-0">
                                        <li class="list-group-item px-0 d-flex justify-content-between fs-5 text-dark fw-medium">
                                            <span>{{ "Subscriptions"|trans }} :</span>
                                            <span>
                                                {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ order.getOrderElementsPriceSum() }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                                            </span>
                                        </li>
                                        <li class="list-group-item px-0 d-flex justify-content-between fs-5 text-dark fw-medium">
                                            <span>{{ "Fees"|trans }} :</span>
                                            <span>
                                                {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ order.getTotalFees() }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                                            </span>
                                        </li>
                                        <li class="list-group-item px-0 d-flex justify-content-between fs-5 text-dark fw-medium">
                                            <span>{{ "Total"|trans }} :</span>
                                            <span>
                                                {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ order.getOrderElementsPriceSum(true) }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% if order.getOrderElementsPriceSum(true) > 0 %}
                            <button type="submit" class="btn btn-primary mt-6" id="checkout_submit">
                                {{ "Confirm payment and place order"|trans }}
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-primary mt-6" id="checkout_submit">
                                {{ "Register creators"|trans }}
                            </button>
                        {% endif %}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="card border-0 mb-3">
                        <div class="p-5 text-center">
                            {% set secondsLeft = 0 %}
                            {% for orderElement in order.orderelements %}
                                {% for subscriptionReservation in orderElement.subscriptionsReservations if not subscriptionReservation.isExpired %}
                                    {% set dateInterval = subscriptionReservation.expiresAt|date_modify("+"~ settings.getSetting('checkout_timeleft') ~" second").diff(date("now")) %}
                                    {% set secondsLeft = dateInterval | date("%i") * 60 + dateInterval|date("%s") %}
                                {% endfor %}
                            {% endfor %}

                            {% if secondsLeft > 0 %}
                                {% include 'global/message.html.twig' with { type: 'warning',icon: 'bi bi-hourglass-split', message: '%mins% left before subscriptions are released'|trans({"%mins%" : "<span class='checkout-timer' data-seconds-left='"~secondsLeft~"'></span>"}) } %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
