{% extends 'admin.html.twig' %}

{% set pagetitle = 'Dashboard'|trans %}
{% block title pagetitle %}

{% block content %}
	<div class="row">
		<div class="col-xl-3 col-lg-6 col-md-12 col-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between mb-3 lh-1">
						<div>
							<span class="fs-6 text-uppercase fw-semibold ls-md">{{ "Users"|trans }}</span>
						</div>
						<div>
							<span class="bi bi-person-check fs-3 text-primary"></span>
						</div>
					</div>
					<h2 class="fw-bold mb-1">{{ setting.getUsers({"roles": "user", "count": true, "isVerified": true}).getQuery().getSingleScalarResult() }}</h2>
					<span class="text-success fw-semibold">
						<i class="bi bi-graph-up-arrow me-1"></i>
						+{{ setting.getUsers({"roles": "user", "count": true, "isVerified": true}).getQuery().getSingleScalarResult() }}
					</span>
					<span class="ms-1 fw-medium">{{ "Enabled users"|trans }}</span>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12 col-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between mb-3 lh-1">
						<div>
							<span class="fs-6 text-uppercase fw-semibold ls-md">{{ "Users"|trans }}</span>
						</div>
						<div>
							<span class="bi bi-person-slash fs-3 text-primary"></span>
						</div>
					</div>
					<h2 class="fw-bold mb-1">{{ setting.getUsers({"roles": "user", "count": true, "isVerified": false}).getQuery().getSingleScalarResult() }}</h2>
					<span class="text-danger fw-semibold">
						<i class="bi bi-graph-down-arrow me-1"></i>
						+{{ setting.getUsers({"roles": "user", "count": true, "isVerified": false}).getQuery().getSingleScalarResult() }}
					</span>
					<span class="ms-1 fw-medium">{{ "Disabled users"|trans }}</span>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12 col-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between mb-3 lh-1">
						<div>
							<span class="fs-6 text-uppercase fw-semibold ls-md">{{ "Users"|trans }}</span>
						</div>
						<div>
							<span class="bi bi-person-lock fs-3 text-primary"></span>
						</div>
					</div>
					<h2 class="fw-bold mb-1">{{ setting.getUsers({"roles": "user", "count": true, "isSuspended": true}).getQuery().getSingleScalarResult() }}</h2>
					<span class="text-success fw-semibold">
						<i class="bi bi-graph-up-arrowp me-1"></i>
						+{{ setting.getUsers({"roles": "user", "count": true, "isSuspended": true}).getQuery().getSingleScalarResult() }}
					</span>
					<span class="ms-1 fw-medium">{{ "Suspended users"|trans }}</span>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-12 col-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-between mb-3 lh-1">
						<div>
							<span class="fs-6 text-uppercase fw-semibold ls-md">{{ "Users"|trans }}</span>
						</div>
						<div>
							<span class="bi bi-person-check fs-3 text-primary"></span>
						</div>
					</div>
					<h2 class="fw-bold mb-1">22,786</h2>
					<span class="text-success fw-semibold">
						<i class="bi bi-graph-up-arrow me-1"></i>
						+200
					</span>
					<span class="ms-1 fw-medium">Instructor</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		{% set rows = setting.getUsers({"isVerified": "all", "limit": 3}).getQuery().getResult() %}
		{% if rows | length > 0 %}
			<div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-4">
				<div class="card h-100">
					<div class="card-header d-flex align-items-center justify-content-between card-header-height">
						<h4 class="mb-0">{{ 'Users'|trans }}</h4>
						<a href="{{ path('dashboard_admin_user_index') }}" class="btn btn-outline-secondary btn-sm">
							{{ 'View all'|trans }}
						</a>
					</div>
					<div class="card-body">
						{% include "dashboard/admin/user/manage-users-table.html.twig" with {rows: rows} %}
					</div>
				</div>
			</div>
		{% endif %}
		{% set testimonials = setting.getTestimonials({"isOnline": "all", "limit": 3}).getQuery().getResult() %}
		{% if testimonials | length > 0 %}
			<div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-4">
				<div class="card h-100">
					<div class="card-header d-flex align-items-center justify-content-between card-header-height">
						<h4 class="mb-0">{{ 'Testimonials'|trans }}</h4>
						<a href="{{ path('dashboard_admin_testimonial_index') }}" class="btn btn-outline-secondary btn-sm">
							{{ 'View all'|trans }}
						</a>
					</div>
					<div class="card-body">
						{% include "dashboard/admin/testimonials/manage-testimonials-table.html.twig" with {testimonials: testimonials} %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="row">
		{% if revises is not empty %}
			<div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-4">
				<div class="card h-100">
					<div class="card-header d-flex align-items-center justify-content-between card-header-height">
						<h4 class="mb-0">{{ 'Revisions'|trans }}</h4>
						<a href="#" class="btn btn-outline-secondary btn-sm">{{ 'View all'|trans }}</a>
					</div>
					<div class="card-body">
						<div class="table-responsive overflow-y-hidden">
							<table class="table mb-0 text-nowrap table-hover table-centered">
								<thead class="">
									<tr>
										<th>{{ 'Article'|trans}}</th>
										<th>{{ 'Author'|trans }}</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for revise in revises %}
										{% set link = path('dashboard_admin_revise_show', { id : revise.id }) %}
										<tr>
											<td>
												<a href="{{ link }}" class="text-inherit">
													<div class="d-flex align-items-center">
														<div class="ms-3">
															<h4 class="mb-1 text-primary-hover">
																{{ revise.target.title }}
															</h4>
															<span>
																{{ 'Published the'|trans }}
																{{ revise.createdAt ? revise.createdAt | format_date('long') }}
															</span>
														</div>
													</div>
												</a>
											</td>
											<td>
												{{ revise.author.username }}
											</td>
											<td>
												<div class="dropdown dropstart">
													<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="bi bi-three-dots-vertical"></i>
													</a>
													<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
														<span class="dropdown-header">{{ 'Settings'|trans }}</span>
														<a class="dropdown-item" href="{{ link }}">
															<i class="bi bi-pencil dropdown-item-icon"></i>
															{{ 'Edit'|trans }}
														</a>
													</div>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if recipes is not empty %}
			<div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-4">
				<div class="card h-100">
					<div class="card-header d-flex align-items-center justify-content-between card-header-height">
						<h4 class="mb-0">{{ 'Recipes'|trans }}</h4>
						<a href="{{ path('dashboard_admin_recipe_index') }}" class="btn btn-outline-secondary btn-sm">
							{{ 'View all'|trans }}
						</a>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							{% for recipe in recipes %}
								{% set link = path('dashboard_admin_recipe_edit', { id : recipe.id }) %}
								<li class="list-group-item px-0 {{ loop.first ? 'pt-0' }}">
									<div class="row">
										<div class="col-md-3 col-12 mb-3 mb-md-0">
											<a href="{{ link }}">
												<img src="{{ recipe.imageName ? asset(recipe.getImagePath) : recipe.getImagePlaceholder }}" alt="{{ recipe.title }}" class="img-fluid rounded">
											</a>
										</div>
										<div class="col-md-8 col-10">
											<a href="{{ link }}">
												<h5 class="text-primary-hover">{{ recipe.title }}</h5>
											</a>
											<div class="d-flex align-items-center">
												{% include "global/user-avatar.html.twig" with { user: app.user, type: "xs", class: "me-2" } %}
												<span class="fs-6">User</span>
											</div>
										</div>
										<div class="col-1 col-auto d-flex justify-content-center">
											<span class="dropdown dropstart">
												<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="bi bi-three-dots-vertical"></i>
												</a>
												<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
													<span class="dropdown-header">{{ 'Settings'|trans }}</span>
													<a class="dropdown-item" href="{{ link }}">
														<i class="bi bi-pencil dropdown-item-icon"></i>
														{{ 'Edit'|trans }}
													</a>
													<a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-recipe-delete-form').submit();" class="dropdown-item">
														<i class="bi bi-trash dropdown-item-icon"></i>
														{{ 'Delete'|trans }}
													</a>
													<form id="js-recipe-delete-form" action="{{ path('dashboard_admin_recipe_delete', {id: recipe.id}) }}" method="post" class="">
														<input type="hidden" name="_token" value="{{ csrf_token('recipe_deletion_' ~ recipe.id) }}">
														<input type="hidden" name="_method" value="DELETE">
													</form> 
												</div>
											</span>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
		{% if reports is not empty %}
			<div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-4">
				<div class="card h-100">
					<div class="card-header card-header-height d-flex align-items-center">
						<h4 class="mb-0">{{ 'Reports'|trans }}</h4>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush list-timeline-activity">
							{% for report in reports %}
								<li class="list-group-item px-0 pt-0 border-0 mb-2">
									<div class="row">
										<div class="col-auto">
											<div class="avatar avatar-md avatar-indicators avatar-online">
												<img alt="avatar" src="{{ asset('images/avatar/avatar-1.jpg') }}" class="rounded-circle">
											</div>
										</div>
										<div class="col ms-n2">
											<h4 class="mb-0 h5">
												<strong>
													<i class="bi bi-person me-2"></i> {{ report.author.username }}
												</strong> {{ 'reported'|trans }}
												<strong>
													<a href="{{ path('dashboard_admin_user_index', {q: report.target.author.id}) }}">
														<i class="bi bi-person me-2"></i> {{ report.target.author.username }}
													</a>
												</strong> {{ 'on'|trans }}
												<a href="{{ path(report.target) }}">
													{{ report.recipe ? report.recipe.title : report.review.recipe.title }}
												</a>
											</h4>
											<p class="mb-1">{{ report.reason }}</p>
											<span class="fs-6">
												{{ report.createdAt ? report.createdAt | format_date('long') }}
											</span>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
