{% if app.request.locale == "ar" %}
    {% set locale = "en" %}
{% else %}
    {% set locale = app.request.locale %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ recipe.title }}: {{ "Creators list"|trans({}, "messages", locale) }}</title>
        <style>
            table, th, td {
                padding: 10px;
                border: 1px solid #aaa;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>

        <h2 style="text-align: center;">{{ recipe.translate(locale).name }}</h2>

        {% for recipeDate in recipe.recipedates %}
            <p style="text-align: center;">
                {{ recipeDate.startdate | localizeddate('full', 'none', app.request.locale, date_timezone, date_format) }}
                {% if recipeDate.venue %} - {{ recipeDate.venue.translate(locale).name }}{% endif %}
            </p>
            <table width="100%">
                <thead>
                    <tr>
                        <th style="width:5%;"></th>
                        <th>{{ "Last name"|trans({}, "messages", locale) }}</th>
                        <th>{{ "First name"|trans({}, "messages", locale) }}</th>
                        <th>{{ "Quantity"|trans({}, "messages", locale) }}</th>
                        <th>{{ "Subscription"|trans({}, "messages", locale) }}</th>
                        <th>{{ "Payment"|trans({}, "messages", locale) }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        {% for orderElement in order.orderelements if (orderElement.recipesubscription.recipedate == recipeDate) %}
                            <tr>
                                <td><input type="radio"/></td>
                                <td>{{ orderElement.order.user.lastname }}</td>
                                <td>{{ orderElement.order.user.firstname }}</td>
                                <td>{{ orderElement.quantity }}</td>
                                <td>{{ orderElement.recipesubscription.name }}</td>
                                <td>{{ "#" ~ orderElement.order.reference }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </body>
</html>
