<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
        {% if header is not defined or header != false %}
            <thead class="table-light">
                <tr>
                    <th>{{ 'Reference'|trans }}</th>
                    <th>{{ 'Restaurant / Recipe / Date / Subscription '|trans }}</th>
                    {% if not is_granted("ROLE_POINTOFSALE") and not is_granted("ROLE_CREATOR") %}
                        <th>{{'Creator / POS'|trans}}</th>
                    {% endif %}
                    <th>{{ 'Order date'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
        {% endif %}
		<tbody>
			{% for order in rows %}
                {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                    {% set link = path('dashboard_admin_order_details', { reference : order.reference }) %}
                {% elseif is_granted("ROLE_RESTAURANT") %}
                    {% set link = path('dashboard_restaurant_order_details', { reference : order.reference }) %}
                {% elseif is_granted("ROLE_POINTOFSALE") %}
                    {% set link = path('dashboard_pointofsale_order_details', { reference : order.reference }) %}
                {% elseif is_granted("ROLE_CREATOR") %}
                    {% set link = path('dashboard_creator_order_details', { reference : order.reference }) %}
                {% endif %}
				<tr>
                    <td>
                        {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                            <a href="{{ link }}" target="_blank" class="text-inherit">
                                {{ order.reference }}
                            </a>
                        {% elseif is_granted("ROLE_RESTAURANT") %}
                            <a href="{{ link }}" target="_blank" class="text-inherit">
                                {{ order.reference }}
                            </a>
                        {% elseif is_granted("ROLE_POINTOFSALE") %}
                            <a href="{{ link }}" target="_blank" class="text-inherit">
                                {{ order.reference }}
                            </a>
                        {% elseif is_granted("ROLE_CREATOR") %}
                            <a href="{{ link }}" target="_blank" class="text-inherit">
                                {{ order.reference }}
                            </a>
                        {% endif %}
                    </td>
                    <td>

                    </td>
                    {% if not is_granted("ROLE_POINTOFSALE") and not is_granted("ROLE_CREATOR") %}
                        <td>
                            {% if is_granted('ROLE_ADMIN_APPLICATION') %}
                                <span title="{{ "User information"|trans }}" data-toggle="tooltip" data-title="{{ "User information"|trans }}" data-url="{{ path('dashboard_admin_user_information', { slug : order.user.slug }) }}" class="ajax-loading">{% include "global/user-avatar.html.twig" with { user: order.user } %} 
                                    {{ order.user.getCrossRoleName }}
                                </span>
                            {% else %}
                                {% include "global/user-avatar.html.twig" with { user: order.user } %}
                                {{ order.user.getCrossRoleName }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        {{ order.createdAt | localizeddate('full', 'non', app.request.locale, date_timezone, date_format) }}
                    </td>
                    <td>
                        <span class="badge bg-{{ order.getStatusClass }}-soft">{{ order.stringifyStatus|trans }}</span>
                        {% if not is_granted("ROLE_CREATOR") %}
                            {% if order.deletedAt %}
                                <span class="badge bg-danger-soft">
                                    <i class="bi bi-alarm"></i> {{ "Deleted"|trans }}
                                </span>
                            {% endif %}
                        {% endif %}
                    </td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
                                {% if order.status == 1 %}
                                    <a class="dropdown-item" href="{{ path('dashboard_subscriptions_print', { reference: order.reference }) }}">
                                        <i class="bi bi-eye dropdown-item-icon"></i>
                                        {{ 'Print subscriptions'|trans }}
                                    </a>
                                {% endif %}
                                {% if order.status == -2 or order.status == 1 %}

                                {% endif %}
                                {% if is_granted('ROLE_ADMIN_APPLICATION') %}
                                    <a class="dropdown-item" href="{{ link }}">
                                        <i class="bi bi-file-invoice dropdown-item-icon"></i>
                                        {{ 'Details'|trans }}
                                    </a>
                                    {% if order.status == 1 %}

                                    {% endif %}
                                    {% if order.status == 0 or order.status == 1 %}

                                    {% endif %}
                                    {% if order.status == 0 and not order.deletedAt and order.paymentGateway and order.paymentGateway.factoryName == "offline" %}

                                    {% endif %}
                                    {% if order.deletedAt %}

                                    {% else %}

                                    {% endif %}
                                {% elseif is_granted("ROLE_RESTAURANT") %}
                                    <a class="dropdown-item" href="{{ link }}">
                                        <i class="bi bi-file-invoice dropdown-item-icon"></i>
                                        {{ 'Details'|trans }}
                                    </a>
                                    {% if order.status == 0 and not order.deletedAt and order.paymentGateway and order.paymentGateway.factoryName == "offline" %}

                                    {% endif %}
                                {% elseif is_granted("ROLE_POINTOFSALE") %}
                                    <a class="dropdown-item" href="{{ link }}">
                                        <i class="bi bi-file-invoice dropdown-item-icon"></i>
                                        {{ 'Details'|trans }}
                                    </a>
                                {% elseif is_granted("ROLE_CREATOR") %}
                                    <a class="dropdown-item" href="{{ link }}">
                                        <i class="bi bi-file-invoice dropdown-item-icon"></i>
                                        {{ 'Details'|trans }}
                                    </a>
                                    {% if not order.deletedAt %}
                                        {% if order.status == 0 %}
                                            <a class="dropdown-item" href="{{ path('dashboard_creator_checkout', { orderReference : order.reference }) }}">
                                                <i class="bi bi-money-check dropdown-item-icon"></i>
                                                {{ 'Checkout'|trans }}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="card-footer">
		{{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
	</div>
</div>

{% for order in rows %}
    {% if is_granted('ROLE_RESTAURANT') and not order.deletedAt %}

    {% endif %}
    {% if is_granted('ROLE_CREATOR') and not order.deletedAt %}

    {% endif %}
    {% if order.status == -2 or order.status == 1 %}

    {% endif %}
{% endfor %}
