{% extends 'dashboard.html.twig' %}

{% if is_granted('ROLE_ADMIN_APPLICATION') %}
    {% set pagetitle = 'Manage orders'|trans %}
{% elseif is_granted('ROLE_RESTAURANT') %}
    {% set pagetitle = 'Creators'|trans %}
{% elseif is_granted("ROLE_CREATOR") or is_granted('ROLE_USER') %}
    {% set pagetitle = 'My subscriptions'|trans %}
{% elseif is_granted("ROLE_POINTOFSALE") %}
    {% set pagetitle = 'My orders'|trans %}
{% endif %}

{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header border-bottom-0">
            <h3 class="mb-0">{{ pagetitle }}</h3>
            {% if not is_granted('ROLE_CREATOR')  %}
                <span class="mb-3">{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</span>
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 pe-md-0 mb-2 mb-lg-0">
                        <select class="form-select">
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "desc"|trans ~ ')', "o.createdAt", {"direction": "desc", "criteria": "o.createdAt"}) }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "asc"|trans ~ ')', "o.createdAt", {"direction": "asc", "criteria": "o.createdAt"}) }}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 pe-md-0 mb-2 mb-lg-0">
                        <a class="fs-5 text-dark fw-semibold collapsed" data-bs-toggle="collapse" href="#search-filters" role="button" aria-expanded="false" aria-controls="search-filters">
                            {{ "Toggle display the search filters"|trans }}
                            <span class="float-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-2 mb-lg-0">
                        <div class="collapse show" id="search-filters">
                            <form>
                                <div class="row">
                                    <div class="col-12 col-sm-4 text-start mb-4">
                                        <div class="mt-3">
                                            <label for="reference" class="visually-hidden">{{ "Reference"|trans }}</label>
                                            <input id="reference" name="reference" type="text" class="form-control">
                                        </div>
                                    </div>
                                    {% if is_granted("ROLE_POINTOFSALE") %}
                                        <div class="col-12 col-sm-4 text-start mb-4">
                                            <div class="mt-3">
                                                <label for="recipedate" class="visually-hidden">
                                                    {{ "Recipe date"|trans }}
                                                    <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="{{ "Select a specific recipe date"|trans }}"></i>
                                                </label>
                                                <input id="recipedate" name="recipedate" type="text" class="form-control autocomplete" data-url-list="{{ path('dashboard_pointofsale_get_recipedates') }}" data-minimum-input-length="0">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-12 col-sm-4 text-start mb-4">
                                            <div class="mt-3">
                                                <label for="recipe" class="visually-hidden">
                                                    {{ "Recipe"|trans }}
                                                </label>
                                                <input id="recipe" name="recipe" type="text" class="form-control autocomplete" data-url-list="{{ is_granted('ROLE_ADMIN_APPLICATION') ? path('get_recipes', { isOnline: "all", elapsed: "all" }) : path('get_recipes', { restaurant: app.user.restaurant.slug, isOnline: "all", elapsed: "all" }) }}" data-minimum-input-length="0">
                                            </div>
                                        </div>
                                        {% if app.request.get('recipe') %}
                                            <div class="col-12 col-sm-4 text-start mb-4">
                                                <div class="mt-3">
                                                    <label for="recipedate" class="visually-hidden">
                                                        {{ "Recipe date"|trans }}
                                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="{{ "Select a specific recipe date"|trans }}"></i>
                                                    </label>
                                                    <input id="recipedate" name="recipedate" type="text" class="form-control autocomplete" data-url-list="{{ path('get_recipedates_by_recipe', { recipeSlug : app.request.get('recipe') }) }}" data-minimum-input-length="0">
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if app.request.get('recipe') and app.request.get('recipedate') %}
                                            <div class="col-12 col-sm-4 text-start mb-4">
                                                <div class="mt-3">
                                                    <label for="recipesubscription" class="visually-hidden">
                                                        {{ "Recipe subscription"|trans }}
                                                        <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="{{ "Select a specific recipe subscription"|trans }}"></i>
                                                    </label>
                                                    <input id="recipesubscription" name="recipesubscription" type="text" class="form-control autocomplete" data-url-list="{{ path('get_recipesubscriptions_by_recipedate', { recipeSlug : app.request.get('recipe'), recipeDateReference : app.request.get('recipedate') }) }}"  data-minimum-input-length="0">
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                                        <div class="col-12 col-sm-4 text-start mb-4">
                                            <div class="mt-3">
                                                <label for="restaurant" class="visually-hidden">
                                                    {{ "Restaurant"|trans }}
                                                    <i class="fas fa-info-circle" data-bs-toggle="tooltip" title="{{ "All orders for an restaurant"|trans }}"></i>
                                                </label>
                                                <input id="restaurant" name="restaurant" type="text" class="form-control autocomplete" data-url-list="{{ path('get_restaurants') }}" data-minimum-input-length="0">
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-12 col-sm-4 text-start mb-4">
                                        <div class="mt-3">
                                            <label for="datefrom" class="visually-hidden">{{ "From date"|trans }}</label>
                                            <input id="datefrom" name="datefrom" type="text" class="form-control datetimepicker">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 text-start mb-4">
                                        <div class="mt-3">
                                            <label for="dateto" class="visually-hidden">{{ "Until date"|trans }}</label>
                                            <input id="dateto" name="dateto" type="text" class="form-control datetimepicker">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 text-left mb-4">
                                        <button type="submit" class="btn btn-outline-primary">{{ "Search"|trans }}</button>
                                        <button type="reset" class="btn btn-outline-secondary">{{ "Reset"|trans }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 text-lg-end">
                        <a href="#" class="btn btn-outline-secondary btn-icon" download="">
                            <i class="fe fe-download"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if not is_granted('ROLE_CREATOR') %}
            <div class="card-body">
                <form class="row gx-3">
                    <div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
                        <input type="search" class="form-control" placeholder="{{ 'Search...'|trans }}">
                    </div>
                    <div class="col-lg-3 col-md-5 col-12">
                        <select class="form-select">
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "desc"|trans ~ ')', "o.createdAt", {"direction": "desc", "criteria": "o.createdAt"}) }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "asc"|trans ~ ')', "o.createdAt", {"direction": "asc", "criteria": "o.createdAt"}) }}</option>
                        </select>
                    </div>
                </form>
            </div>
        {% endif %}
        {% if rows.getTotalItemCount %}
            {% include "dashboard/shared/order/manage-orders-table.html.twig" with {rows: rows} %}
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('No orders found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if (getURLParameter("reference")) {
                $("#reference").val("{{ app.request.get('reference') }}");
            }

            if (getURLParameter("recipe")) {
                var url = "{{ path('get_recipe', { slug : "recipeslug", isOnline: "all", elapsed: "all" }) }}";
                url = url.replace("recipeslug", getURLParameter("recipe"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_recipe').select2('data', {id: data.slug, text: data.text});
                    $('#recipe').val(data.slug).change();
                });
            }

            if (getURLParameter("user")) {
                var url = "{{ path('get_user', { slug : "slug" }) }}";
                url = url.replace("slug", getURLParameter("user"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_user').select2('data', {id: data.slug, text: data.text});
                    $('#user').val(data.slug).change();
                });
            }

            if (getURLParameter("restaurant")) {
                var url = "{{ path('get_restaurant', { slug : "slug" }) }}";
                url = url.replace("slug", getURLParameter("restaurant"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_restaurant').select2('data', {id: data.slug, text: data.text});
                    $('#restaurant').val(data.slug).change();
                });
            }

            if (getURLParameter("recipedate")) {
                var url = "{{ path('get_recipedate', { reference : "reference" }) }}";
                url = url.replace("reference", getURLParameter("recipedate"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_recipedate').select2('data', {id: data.id, text: data.text});
                    $('#recipedate').val(data.id).change();
                });
            }

            if (getURLParameter("recipesubscription")) {
                var url = "{{ path('get_recipesubscription', { reference : "reference" }) }}";
                url = url.replace("reference", getURLParameter("recipesubscription"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_recipesubscription').select2('data', {id: data.id, text: data.text});
                    $('#recipesubscription').val(data.id).change();
                });
            }

            if (getURLParameter("datefrom")) {
                $("#datefrom").val("{{ app.request.get('datefrom') }}");
            }

            if (getURLParameter("dateto")) {
                $("#dateto").val("{{ app.request.get('dateto') }}");
            }

            if (getURLParameter('status') != "null") {
                $('input[type="radio"][name="status"][value="' + getURLParameter('status') + '"]').attr("checked", "checked");
            }

            if (getURLParameter('paymentgateway') != "null") {
                $('input[type="radio"][name="paymentgateway"][value="' + getURLParameter('paymentgateway') + '"]').attr("checked", "checked");
            }
        });
    </script>
{% endblock %}
