{% extends 'dashboard.html.twig' %}

{% if is_granted('ROLE_ADMIN_APPLICATION') %}
    {% set pagetitle = 'Manage orders'|trans %}
{% elseif is_granted('ROLE_RESTAURANT') %}
    {% set pagetitle = 'Creators'|trans %}
{% elseif is_granted("ROLE_CREATOR") %}
    {% set pagetitle = 'My subscriptions'|trans %}
{% elseif is_granted("ROLE_POINTOFSALE") %}
    {% set pagetitle = 'My orders'|trans %}
{% endif %}

{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                {% if not is_granted('ROLE_CREATOR') %}
                    <span>{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</span>
                {% endif %}
            </div>
            {% if is_granted('ROLE_VERIFIED') %}
                <div>
                    <a href="" class="btn btn-outline-primary btn-sm">
                        {{ 'Create'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% if not is_granted('ROLE_CREATOR') %}
            <div class="card-body">
                <form class="row gx-3">
                    <div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
                        <input type="search" class="form-control" placeholder="{{ 'Search...'|trans }}">
                    </div>
                    <div class="col-lg-3 col-md-5 col-12">
                        <select class="form-select">
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "desc"|trans ~ ')', "o.createdAt", {"direction": "desc", "criteria": "o.createdAt"}) }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "asc"|trans ~ ')', "o.createdAt", {"direction": "asc", "criteria": "o.createdAt"}) }}</option>
                        </select>
                    </div>
                </form>
            </div>
        {% endif %}
        {% if rows.getTotalItemCount %}
            {% include "dashboard/shared/order/seatingPlans/manage-orders-table.html.twig" with {rows: rows} %}
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('No orders found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            if (getURLParameter("reference")) {
                $("#reference").val("{{ app.request.get('reference') }}");
            }

            if (getURLParameter("recipe")) {
                var url = "{{ path('get_recipe', { slug : "recipeslug", isOnline: "all", elapsed: "all" }) }}";
                url = url.replace("recipeslug", getURLParameter("recipe"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_recipe').select2('data', {id: data.slug, text: data.text});
                    $('#recipe').val(data.slug).change();
                });
            }

            if (getURLParameter("user")) {
                var url = "{{ path('get_user', { slug : "slug" }) }}";
                url = url.replace("slug", getURLParameter("user"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_user').select2('data', {id: data.slug, text: data.text});
                    $('#user').val(data.slug).change();
                });
            }

            if (getURLParameter("restaurant")) {
                var url = "{{ path('get_restaurant', { slug : "slug" }) }}";
                url = url.replace("slug", getURLParameter("restaurant"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_restaurant').select2('data', {id: data.slug, text: data.text});
                    $('#restaurant').val(data.slug).change();
                });
            }

            if (getURLParameter("recipedate")) {
                var url = "{{ path('get_recipedate', { reference : "reference" }) }}";
                url = url.replace("reference", getURLParameter("recipedate"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_recipedate').select2('data', {id: data.id, text: data.text});
                    $('#recipedate').val(data.id).change();
                });
            }

            if (getURLParameter("recipesubscription")) {
                var url = "{{ path('get_recipesubscription', { reference : "reference" }) }}";
                url = url.replace("reference", getURLParameter("recipesubscription"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_recipesubscription').select2('data', {id: data.id, text: data.text});
                    $('#recipesubscription').val(data.id).change();
                });
            }

            if (getURLParameter("datefrom")) {
                $("#datefrom").val("{{ app.request.get('datefrom') }}");
            }

            if (getURLParameter("dateto")) {
                $("#dateto").val("{{ app.request.get('dateto') }}");
            }

            if (getURLParameter('status') != "null") {
                $('input[type="radio"][name="status"][value="' + getURLParameter('status') + '"]').attr("checked", "checked");
            }

            if (getURLParameter('paymentgateway') != "null") {
                $('input[type="radio"][name="paymentgateway"][value="' + getURLParameter('paymentgateway') + '"]').attr("checked", "checked");
            }
        });
    </script>
{% endblock %}
