{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Edit your restaurant profile'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header border-bottom-0">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span></span>
            </div>
            <div>
                <a href="" class="btn btn-outline-primary btn-sm">
                    {{ 'Create'|trans }}
                </a>
            </div>
        </div>
        <div class="card-body">
            <div>
                {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                {% include "global/message.html.twig" with { type: 'dark', icon: 'bi bi-exclamation-circle', message: ('<a href="'~ path('restaurant', {'slug': app.user.restaurant.slug}) ~'">' ~ 'Click here'|trans ~ '</a> ' ~ 'to preview your profile'|trans) } %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_widget(form._token) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
