{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Reports'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header border-bottom-0">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span>{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</span>
            </div>
            {% if is_granted('ROLE_VERIFIED') %}
                <div>
                    <a href="" class="btn btn-outline-primary btn-sm">
                        {{ 'Create'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% if rows.getTotalItemCount %}
            <div class="card-body">
                <form class="row gx-3">
                    <div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
                        <input type="search" class="form-control" placeholder="{{ 'Search...'|trans }}">
                    </div>
                    <div class="col-lg-3 col-md-5 col-12">
                        <select class="form-select">
                            <option value="">Date Created</option>
                            <option value="Newest">Newest</option>
                            <option value="High Rated">High Rated</option>
                            <option value="Law Rated">Law Rated</option>
                            <option value="High Earned">High Earned</option>
                        </select>
                    </div>
                </form>
            </div>
            {% include "dashboard/shared/reports/manage-reports-table.html.twig" with {rows: rows} %}
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('No recipe dates found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if (getURLParameter("reference")) {
                var url = "{{ path('get_recipedate', { reference : "reference" }) }}";
                url = url.replace("reference", getURLParameter("reference"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_reference').select2('data', {id: data.id, text: data.text});
                    $('#reference').val(data.id).change();
                });
            }
            if (getURLParameter("recipe")) {
                var url = "{{ path('get_recipe', { slug : "recipeslug", published: "all", elapsed: "all" }) }}";
                url = url.replace("recipeslug", getURLParameter("recipe"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_recipe').select2('data', {id: data.slug, text: data.text});
                    $('#recipe').val(data.slug).change();
                });
            }
            if (getURLParameter("restaurant")) {
                var url = "{{ path('get_restaurant', { slug : "slug" }) }}";
                url = url.replace("slug", getURLParameter("restaurant"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_restaurant').select2('data', {id: data.slug, text: data.text});
                    $('#restaurant').val(data.slug).change();
                });
            }
        });
    </script>
{% endblock %}
