<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="table-light">
			<tr>
				<th>{{ 'Reference'|trans }}</th>
				<th>{{ 'Recipe date'|trans }}</th>
                {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                    <th>{{'Restaurant'|trans}}</th>
                {% endif %}
				<th>{{ 'Subscriptions sold'|trans }}</th>
				<th>{{ 'Net sales'|trans }}</th>
                {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                    <th>{{'Subscription fees'|trans}}</th>
                {% endif %}
				<th>{{ 'Percentage cut'|trans }}</th>
				<th>{{ 'Status'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for recipeDate in rows %}

				<tr>
					<td>{{ recipeDate.reference }}</td>
                    <td>
						{{ recipeDate.recipe.name }} 
						{{ recipeDate.startdate | localizeddate('full', 'non', app.request.locale, date_timezone, date_format) }}
					</td>
                    {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                        <td>
                            {{ recipeDate.recipe.restaurant.name }}
                        </td>
                    {% endif %}
					<td>{{ recipeDate.getOrderElementsQuantitySum }}</td>
                    <td>
                        {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ recipeDate.getRestaurantPayoutAmount() }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                    </td>
                    {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                        <td>
                            {{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ recipeDate.getTotalTicketFees() }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}
                        </td>
                    {% endif %}
                    <td>
                        <b>{{ settings['currency_position'] == 'left' ? settings['currency_symbol'] : '' }}{{ recipeDate.getTicketPricePercentageCutSum() }}{{ settings['currency_position'] == 'right' ? settings['currency_symbol'] : '' }}</b>
                    </td>
					<td>
                        <span class="badge-dot bg-{{ recipeDate.stringifyStatusClass }} me-1 d-inline-block align-middle"></span>
						{{ recipeDate.stringifyStatus|trans }}
					</td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
								{% if is_granted("ROLE_RESTAURANT") %}
									<a class="dropdown-item" href="{{ path('dashboard_restaurant_recipe_index', {slug: recipeDate.recipe.slug}) }}" target="_blank">
										<i class="bi bi-calendar dropdown-item-icon"></i>
										{{ 'Manage recipe'|trans }}
									</a>
									<a class="dropdown-item" href="{{ path('dashboard_restaurant_recipe_date_statistics_index', {recipeSlug: recipeDate.recipe.slug, recipeDateReference: recipeDate.reference}) }}" target="_blank">
										<i class="bi bi-bar-chart-line dropdown-item-icon"></i>
										{{ 'View detailed statistics'|trans }}
									</a>
									<a class="dropdown-item" href="{{ path('dashboard_restaurant_orders', {recipe: recipeDate.recipe.slug, recipedate: recipeDate.reference}) }}" target="_blank">
										<i class="bi bi-cart3 dropdown-item-icon"></i>
										{{ 'Orders'|trans }}
									</a>
									{% if recipeDate.payoutRequested() %}
										<a class="dropdown-item" href="{{ path('dashboard_restaurant_payout_requests', {recipedate: recipeDate.reference}) }}" target="_blank">
											<i class="bi bi-currency-dollar dropdown-item-icon"></i>
											{{ 'Payout requests'|trans }}
										</a>
									{% endif %}
								{% elseif is_granted("ROLE_ADMIN_APPLICATION") %}
									<a class="dropdown-item" href="{{ path('dashboard_admin_recipe_index', {slug: recipeDate.recipe.slug}) }}" target="_blank">
										<i class="bi bi-calendar dropdown-item-icon"></i>
										{{ 'Manage recipe'|trans }}
									</a>
									<a class="dropdown-item" href="{{ path('dashboard_admin_recipe_date_statistics_index', {recipeSlug: recipeDate.recipe.slug, recipeDateReference: recipeDate.reference}) }}" target="_blank">
										<i class="bi bi-bar-chart-line dropdown-item-icon"></i>
										{{ 'View detailed statistics'|trans }}
									</a>
									<a class="dropdown-item" href="{{ path('dashboard_admin_orders', {recipe: recipeDate.recipe.slug, recipedate: recipeDate.reference}) }}" target="_blank">
										<i class="bi bi-cart3 dropdown-item-icon"></i>
										{{ 'Orders'|trans }}
									</a>
									{% if recipeDate.payoutRequested() %}
										<a class="dropdown-item" href="{{ path('dashboard_admin_payout_requests', {recipedate: recipeDate.reference}) }}" target="_blank">
											<i class="bi bi-currency-dollar dropdown-item-icon"></i>
											{{ 'Payout requests'|trans }}
										</a>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="card-footer">
		{{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
	</div>
</div>
