<div {{ attributes }}>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
        {{ form_widget(form._token) }}
        {{ form_errors(form) }}
        <div class="mb-3 col-12 col-md-12">
            {{ form_row(form.currentPassword) }}
        </div>
        <div class="mb-3 col-12 col-md-12">
            {{ form_row(form.newPassword.first) }}
        </div>
        <div class="mb-3 col-12 col-md-12">
            {{ form_row(form.newPassword.second) }}
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">{{ 'Apply changes'|trans }}</button>
        </div>
        <div class="col-12 mt-4">
            <p class="mb-0">
                {{ "Can't remember your current password?"|trans }}
                <a href="{{ path('forgot_password_request') }}">
                    {{ 'Reset your password by email'|trans }}
                </a>
            </p>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>

{{ component('change_password', {class: 'mt-5', user: user, form: form}) }}
