{% extends 'dashboard.html.twig' %}

{% set activerd = 'edit' %}
{% set pagetitle = 'Editer mon profil' %}
{% block title pagetitle %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Détails du profil</h3>
            <p class="mb-0">Vous avez le contrôle total pour gérer les paramètres de votre propre compte.</p>
        </div>
        <div class="card-body">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center mb-4 mb-lg-0">
                    <img src="{{ asset('images/avatar/avatar-1.jpg') }}" id="img-uploaded" class="avatar-xl rounded-circle" alt="avatar">
                    <div class="ms-3">
                        <h4 class="mb-0">Votre avatar</h4>
                        <p class="mb-0">PNG ou JPG ne dépassant pas 800 px de large et de haut.</p>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Mise à jour</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Supprimer</a>
                </div>
            </div>
            <hr class="my-5">
            <div>
                <h4 class="mb-0">Détails personnels</h4>
                <p class="mb-4">Modifier vos informations personnelles et votre adresse.</p>
                {{ form_start(formEditProfile, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_errors(formEditProfile) }}
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditProfile.firstname) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditProfile.lastname) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditProfile.username) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditProfile.email) }}
                    </div>
                    {% if is_granted("ROLE_TEAM") %}
                        <div class="mb-3 col-12 col-md-6">
                            {{ form_row(formEditProfile.designation) }}
                        </div>
                        <div class="mb-3 col-12 col-md-12">
                            {{ form_row(formEditProfile.about) }}
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit" name="action" value="profile">Appliquer les changements</button>
                    </div>
                {{ form_end(formEditProfile, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h3 class="mb-0">Sécurité</h3>
            <p class="mb-0">Modifiez les paramètres de votre compte et modifiez votre mot de passe ici.</p>
        </div>
        <div class="card-body">
            <h4 class="mb-0">Adresse e-mail</h4>
            <p>
                Votre adresse e-mail actuelle est
                <span class="text-success">{{ user.email }}</span>
            </p>
            {#  
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row needs-validation'} }) }}
                {{ form_errors(form) }}
                <div class="mb-3 col-lg-6 col-md-12 col-12">
                    {{ form_row(form.email) }}
                    <button type="submit" class="btn btn-primary mt-2">Appliquer les changements</button>
                </div>
            {{ form_end(form) }}
            #}
            <hr class="my-5">
            <div>
                <h4 class="mb-0">Editer mon mot de passe</h4>
                <p>
                    Nous vous enverrons une confirmation par e-mail lors de la modification de votre mot de passe, veuillez donc attendre cet e-mail après l'avoir soumis..
                </p>
                {{ form_start(formEditPassword, {'attr': {'novalidate': 'novalidate', 'class': 'row needs-validation'} }) }}
                    {{ form_errors(formEditPassword) }}
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="mb-3">
                            {{ form_row(formEditPassword.currentPassword) }}
                        </div>
                        <div class="mb-3 password-field">
                            {{ form_row(formEditPassword.newPassword.first) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(formEditPassword.newPassword.second) }}
                        </div>
                        <button type="submit" name="action" value="password" class="btn btn-primary">Appliquer les changements</button>
                        <div class="col-6"></div>
                    </div>
                    <div class="col-12 mt-4">
                        <p class="mb-0">
                            Impossible de me souvenir de votre mot de passe actuel?
                            <a href="{{ path('forgot_password_request') }}">
                                Réinitialisez votre mot de passe par e-mail
                            </a>
                        </p>
                    </div>
                {{ form_end(formEditPassword, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h3 class="mb-0">Profils sociaux</h3>
            <p class="mb-0">Ajoutez les liens de votre profil social dans les comptes sociaux ci-dessous.</p>
        </div>
        <div class="card-body">
            <div>
                {{ form_start(formEditSocial, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                    {{ form_errors(formEditSocial) }}
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.externallink) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.externallink) }}
                            <small>{{ form_help(formEditSocial.externallink) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.twitterurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.twitterurl) }}
                            <small>{{ form_help(formEditSocial.twitterurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.instagramurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.instagramurl) }}
                            <small>{{ form_help(formEditSocial.instagramurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.facebookurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.facebookurl) }}
                            <small>{{ form_help(formEditSocial.facebookurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.googleplusurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.googleplusurl) }}
                            <small>{{ form_help(formEditSocial.googleplusurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.linkedinurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.linkedinurl) }}
                            <small>{{ form_help(formEditSocial.linkedinurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.youtubeurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.youtubeurl) }}
                            <small>{{ form_help(formEditSocial.youtubeurl) }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-lg-3 col-lg-6 col-12">
                            <button type="submit" name="action" value="social" class="btn btn-primary">Appliquer les changements</button>
                        </div>
                    </div>


                    {#
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditSocial.externallink) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditSocial.twitterurl) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditSocial.instagramurl) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditSocial.facebookurl) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditSocial.googleplusurl) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditSocial.linkedinurl) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditSocial.youtubeurl) }}
                    </div>
                    <div class="col-12">
                        <button type="submit" name="action" value="social" class="btn btn-primary">Appliquer les changements</button>
                    </div>
                    #}
                {{ form_end(formEditSocial, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h3 class="mb-0">Supprimer votre compte</h3>
            <p class="mb-0">
                {% if user.deletedAt %}
                    Votre compte sera supprimé automatiquement <strong>{{ user.deletedAt | ago }}</strong>
                {% else %}
                    Vous n'êtes pas satisfait du contenu du site ?<br>
                    Ou vous souhaitez supprimer toutes les informations associées à ce compte ?
                {% endif %}
            </p>
        </div>
        <div class="card-body p-4">
            <span class="text-danger h4">Avertissement</span>
            <p>Si vous fermez votre compte, vous serez désabonné de tous vos 0 cours et en perdrez définitivement l'accès.</p>
            {% if user.deletedAt %}
                <form method="post" action="{{ path('dashboard_account_deleted_cancel') }}">
                    <button class="btn btn-danger">
                        Annuler la suppression
                    </button>
                </form>
            {% else %}
                <a href="#" days="5" onclick="event.preventDefault(); confirm('Êtes-vous sûr de bien vouloir supprimer votre compte?') && document.getElementById('js-account-deleted-form').submit();" class="btn btn-danger">Fermer mon compte</a>

                <form id="js-account-deleted-form" action="{{ path('dashboard_main_account') }}" method="post" class="">
                    <input type="hidden" name="_token" value="{{ csrf_token('account_deleted_' ~ user.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
