{% extends 'dashboard.html.twig' %}

{% set activerd = 'edit_change_password' %}
{% set pagetitle = 'Editer mon mot de passe' %}
{% block title pagetitle %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Sécurité</h3>
            <p class="mb-0">Modifiez les paramètres de votre compte et modifiez votre mot de passe ici.</p>
        </div>
        <div class="card-body">
            <h4 class="mb-0">Adresse e-mail</h4>
            <p>
                Votre adresse e-mail actuelle est
                <span class="text-success">{{ user.email }}</span>
            </p>
            {#  
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row needs-validation'} }) }}
                <div class="mb-3 col-lg-6 col-md-12 col-12">
                    {{ form_row(form.email) }}
                    <button type="submit" class="btn btn-primary mt-2">Appliquer les changements</button>
                </div>
            {{ form_end(form) }}
            #}
            <hr class="my-5">
            <div>
                <h4 class="mb-0">{{ pagetitle }}</h4>
                <p>
                    Nous vous enverrons une confirmation par e-mail lors de la modification de votre mot de passe, veuillez donc attendre cet e-mail après l'avoir soumis..
                </p>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row needs-validation'} }) }}
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="mb-3">
                            {{ form_row(form.currentPassword) }}
                        </div>
                        <div class="mb-3 password-field">
                            {{ form_row(form.newPassword.first) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.newPassword.second) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Appliquer les changements</button>
                        <div class="col-6"></div>
                    </div>
                    <div class="col-12 mt-4">
                        <p class="mb-0">
                            Impossible de me souvenir de votre mot de passe actuel?
                            <a href="{{ path('forgot_password_request') }}">
                                Réinitialisez votre mot de passe par e-mail
                            </a>
                        </p>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
