{% extends 'dashboard.html.twig' %}

{% set activerd = 'edit_profile' %}
{% set pagetitle = 'Editer mon profil' %}
{% block title pagetitle %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Détails du profil</h3>
            <p class="mb-0">Vous avez le contrôle total pour gérer les paramètres de votre propre compte.</p>
        </div>
        <div class="card-body">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center mb-4 mb-lg-0">
                    <img src="{{ asset('images/avatar/avatar-1.jpg') }}" id="img-uploaded" class="avatar-xl rounded-circle" alt="avatar">
                    <div class="ms-3">
                        <h4 class="mb-0">Votre avatar</h4>
                        <p class="mb-0">PNG ou JPG ne dépassant pas 800 px de large et de haut.</p>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Mise à jour</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Supprimer</a>
                </div>
            </div>
            <hr class="my-5">
            <div>
                <h4 class="mb-0">Détails personnels</h4>
                <p class="mb-4">Modifier vos informations personnelles et votre adresse.</p>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                    {% if is_granted("ROLE_TEAM") %}
                        <div class="mb-3 col-12 col-md-6">
                            {{ form_row(form.designation) }}
                        </div>
                        <div class="mb-3 col-12 col-md-12">
                            {{ form_row(form.about) }}
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Appliquer les changements</button>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
