{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Edit my profile'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">{{ 'Profile details'|trans }}</h3>
            <p class="mb-0">{{ 'You have full control to manage your own account settings.'|trans }}</p>
        </div>
        <div class="card-body">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center mb-4 mb-lg-0">
                    <img src="{{ asset('images/avatar/avatar-1.jpg') }}" id="img-uploaded" class="avatar-xl rounded-circle" alt="avatar">
                    <div class="ms-3">
                        <h4 class="mb-0">{{ 'Your avatar'|trans }}</h4>
                        <p class="mb-0">{{ 'PNG or JPG no larger than 800 px wide and high.'|trans }}</p>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-outline-secondary btn-sm">{{ 'Update'|trans }}</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">{{ 'Remove'|trans }}</a>
                </div>
            </div>
            <hr class="my-5">
            <div>
                <h4 class="mb-0">{{ 'Personal details'|trans }}</h4>
                <p class="mb-4">{{ 'Change your personal information and address.'|trans }}</p>
                {{ form_start(formEditProfile, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_errors(formEditProfile) }}
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(formEditProfile.firstname) }}
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(formEditProfile.lastname) }}
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        {{ form_row(formEditProfile.username) }}
                    </div>
                    <div class="mb-3 col-12 col-md-12">
                        {{ form_row(formEditProfile.country) }}
                    </div>
                    {#  
                    <div class="mb-3 col-12 col-md-6">
                        {{ form_row(formEditProfile.email) }}
                    </div>
                    #}
                    {% if is_granted("ROLE_TEAM") %}
                        <div class="mb-3 col-12 col-md-6">
                            {{ form_row(formEditProfile.designation) }}
                        </div>
                        <div class="mb-3 col-12 col-md-12">
                            {{ form_row(formEditProfile.about) }}
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit" name="action" value="profile">{{ 'Apply changes'|trans }}</button>
                    </div>
                {{ form_end(formEditProfile, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h3 class="mb-0">{{ 'Security'|trans }}</h3>
            <p class="mb-0">{{ 'Edit your account settings and change your password here.'|trans }}</p>
        </div>
        <div class="card-body">
            <h4 class="mb-0">{{ 'E-mail address'|trans }}</h4>
            <p>
                {{ 'Your current email address is'|trans }}
                <span class="text-success">{{ user.email }}</span>
            </p> 
            {{ form_start(formEditProfile, {'attr': {'novalidate': 'novalidate', 'class': 'row needs-validation'} }) }}
                {{ form_errors(formEditProfile) }}
                <div class="mb-3 col-lg-6 col-md-12 col-12">
                    {{ form_row(formEditProfile.email) }}
                    <button class="btn btn-primary mt-2" type="submit" name="action" value="profile">{{ 'Apply changes'|trans }}</button>
                </div>
            {{ form_end(formEditProfile, {'render_rest': false}) }}
            <hr class="my-5">
            <div>
                <h4 class="mb-0">{{ 'Edit my password'|trans }}</h4>
                <p>
                    {{ 'We will send you an email confirmation when you change your password, so please wait for this email after submitting it.'|trans }}
                </p>
                {{ form_start(formEditPassword, {'attr': {'novalidate': 'novalidate', 'class': 'row needs-validation'} }) }}
                    {{ form_errors(formEditPassword) }}
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="mb-3">
                            {{ form_row(formEditPassword.currentPassword) }}
                        </div>
                        <div class="mb-3 password-field">
                            {{ form_row(formEditPassword.newPassword.first) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(formEditPassword.newPassword.second) }}
                        </div>
                        <button type="submit" name="action" value="password" class="btn btn-primary">{{ 'Apply changes'|trans }}</button>
                        <div class="col-6"></div>
                    </div>
                    <div class="col-12 mt-4">
                        <p class="mb-0">
                            {{ "Can't remember your current password?"|trans }}
                            <a href="{{ path('forgot_password_request') }}">
                                {{ 'Reset your password by email'|trans }}
                            </a>
                        </p>
                    </div>
                {{ form_end(formEditPassword, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h3 class="mb-0">{{ 'Social profiles'|trans }}</h3>
            <p class="mb-0">{{ 'Add your social profile links to the social accounts below.'|trans }}</p>
        </div>
        <div class="card-body">
            <div>
                {{ form_start(formEditSocial, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                    {{ form_errors(formEditSocial) }}
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.externallink) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.externallink) }}
                            <small>{{ form_help(formEditSocial.externallink) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.twitterurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.twitterurl) }}
                            <small>{{ form_help(formEditSocial.twitterurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.instagramurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.instagramurl) }}
                            <small>{{ form_help(formEditSocial.instagramurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.facebookurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.facebookurl) }}
                            <small>{{ form_help(formEditSocial.facebookurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.googleplusurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.googleplusurl) }}
                            <small>{{ form_help(formEditSocial.googleplusurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.linkedinurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.linkedinurl) }}
                            <small>{{ form_help(formEditSocial.linkedinurl) }}</small>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 col-12">
                            <h5>{{ form_label(formEditSocial.youtubeurl) }}</h5>
                        </div>
                        <div class="col-lg-9 col-md-8 col-12">
                            {{ form_widget(formEditSocial.youtubeurl) }}
                            <small>{{ form_help(formEditSocial.youtubeurl) }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-lg-3 col-lg-6 col-12">
                            <button type="submit" name="action" value="social" class="btn btn-primary">{{ 'Apply changes'|trans }}</button>
                        </div>
                    </div>
                {{ form_end(formEditSocial, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h3 class="mb-0">{{ 'Delete your account'|trans }}</h3>
            <p class="mb-0">
                {% if user.deletedAt %}
                    {{ 'Your account will be deleted automatically'|trans }} <strong>{{ user.deletedAt | ago }}</strong>
                {% else %}
                    {{ 'Are you not satisfied with the content of the site?'|trans }}<br>
                    {{ 'Or do you want to delete all information associated with this account?'|trans }}
                {% endif %}
            </p>
        </div>
        <div class="card-body p-4">
            <span class="text-danger h4">{{ 'Warning'|trans }}</span>
            <p>
                {{ 'If you close your account, you will be unsubscribed from all your 0 courses and will permanently lose access to them.'|trans }}
            </p>
            {% if user.deletedAt %}
                <form method="post" action="{{ path('dashboard_account_deleted_cancel') }}">
                    <button class="btn btn-danger">
                        {{ 'Undelete'|trans }}
                    </button>
                </form>
            {% else %}
                <a href="#" days="5" onclick="event.preventDefault(); confirm({{ 'Are you sure you want to delete your account?'|trans }}) && document.getElementById('js-account-deleted-form').submit();" class="btn btn-danger">{{ 'Close my account'|trans }}</a>

                <form id="js-account-deleted-form" action="{{ path('dashboard_account_index') }}" method="post" class="">
                    <input type="hidden" name="_token" value="{{ csrf_token('account_deleted_' ~ user.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
