{% if user.isVerified == false %}
    <form action="{{ path('dashboard_admin_user_verified', {id: user.id}) }}" method="post" class="">
        <button class="dropdown-item" type="submit">
            <i class="bi bi-check dropdown-item-icon"></i>
            {{ 'Confirm'|trans }}
        </button>
    </form>
{% else %}
    <a class="dropdown-item" href="/?_ninja={{ user.email }}">
        <i class="bi bi-incognito dropdown-item-icon"></i>
        {{ 'Ninja'|trans }}
    </a>
{% endif %}
<form action="{{ path('dashboard_admin_user_suspended', {id: user.id}) }}" method="post" onsubmit="return confirm("{{'Are you sure you want to suspend this user ?'|trans }}")">
    <button class="dropdown-item" type="submit" {{ user.premium or user.suspended ? 'disabled' : '' }}>
        <i class="bi bi-person-lock dropdown-item-icon"></i>
        {{ user.suspended ? 'Suspend !'|trans : 'Suspend'|trans }}
    </button>
</form>
