{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Manage users'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "dashboard_main": ('Dashboard' | trans), "current":(pagetitle) }] %}
                {% include "global/dashboard-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    <a href="{{ path('dashboard_admin_user_new') }}" class="btn btn-primary me-2">{{ 'Create'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="p-4 row justify-content-md-between mb-4 mb-xl-0 gx-3">
        <div class="mb-4 mb-xl-0 row gx-3">
            <div class="col-6 col-lg-4">
                <select class="form-select">
                    <option selected="">{{ "Select an option"|trans }}</option>
                    <option value="">{{ knp_pagination_sortable(rows, "Registration date"|trans ~ ' (' ~ "desc"|trans ~ ')', "u.createdAt", {"direction": "desc", "criteria": "u.createdAt"}) }}</option>
                    <option value="">{{ knp_pagination_sortable(rows, "Registration date"|trans ~ ' (' ~ "asc"|trans ~ ')', "u.createdAt", {"direction": "asc", "criteria": "u.createdAt"}) }}</option>
                    <option value="">{{ knp_pagination_sortable(rows, "Last login"|trans ~ ' (' ~ "desc"|trans ~ ')', "u.lastLogin", {"direction": "desc", "criteria": "u.lastLogin"}) }}</option>
                    <option value="">{{ knp_pagination_sortable(rows, "Last login"|trans ~ ' (' ~ "asc"|trans ~ ')', "u.lastLogin", {"direction": "asc", "criteria": "u.lastLogin"}) }}</option>
                </select>
            </div>
            <div class="col-6 col-lg-1">
                <a href="#search-filters" class="btn btn-primary" data-bs-toggle="collapse" title="{{ "Toggle display the search filters"|trans }}" aria-expanded="false" aria-controls="search-filters">
                    <i class="bi bi-search"></i>
                </a>
            </div>
        </div>
        <div id="search-filters" class="col-md-12 col-lg-12 text-center mb-3 mb-lg-0 collapse">
            <form class="mt-3">
                <div class="row">
                    <div class="col-12 col-md-4 text-start mb-4">
                        <label class="form-label" for="role">{{ "Role"|trans }}</label>
                        <select class="form-select select2" id="role" name="role">
                            <option value="all">{{ "All"|trans }}</option>
                            <option value="restaurant">{{ "Restaurant"|trans }}</option>
                            <option value="creator">{{ "Creator"|trans }}</option>
                            <option value="pointofsale">{{ "Point of sale"|trans }}</option>
                            <option value="scanner">{{ "Scanner"|trans }}</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <label class="form-label" for="createdbyrestaurantslug">
                            {{ "Created by restaurant"|trans }} 
                            <i class="bi bi-exclamation-circle" data-bs-toggle="tooltip" title="{{ "Select parent of 'Point of sale' or 'Scanner'"|trans }}"></i>
                        </label>
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0 autocomplete" id="createdbyrestaurantslug" name="createdbyrestaurantslug" data-url-list="{{ path('get_restaurants') }}">
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <label class="form-label" for="restaurantname">{{ "Restaurant name"|trans }}</label>
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="restaurantname" name="restaurantname" value="{{ app.request.get('restaurantname') }}">
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <label class="form-label" for="username">{{ "Username"|trans }}</label>
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="username" name="username" value="{{ app.request.get('username') }}">
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <label class="form-label" for="email">{{ "Email"|trans }}</label>
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="email" name="email" value="{{ app.request.get('email') }}">
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <label class="form-label" for="firstname">{{ "First name"|trans }}</label>
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="firstname" name="firstname" value="{{ app.request.get('firstname') }}">
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <label class="form-label" for="lastname">{{ "Last name"|trans }}</label>
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0" id="lastname" name="lastname" value="{{ app.request.get('lastname') }}">
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <div class="mb-3">
                            <label class="form-label">{{ "Verified"|trans }}</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="isVerified" id="isverified-filter-all" value="all">
                                <label class="form-check-label" for="isverified-filter-all">{{ "All"|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="isVerified" id="isverified-filter-yes" value="1">
                                <label class="form-check-label" for="isverified-filter-yes">{{ "IsVerified only"|trans }}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="isVerified" id="isverified-filter-no" value="0">
                                <label class="form-check-label" for="isverified-filter-no">{{ "Disabled only"|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <label class="form-label" for="countryslug">{{ "Country"|trans }}</label>
                        <input type="text" class="form-control mr-sm-2 mb-2 mb-sm-0 autocomplete" id="countryslug" name="countryslug" data-url-list="{{ path('get_countries') }}">
                    </div>
                    <div class="col-12 col-md-4 text-start mb-4">
                        <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" title="{{ "Search"|trans }}">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="reset" class="btn btn-primary" data-bs-toggle="tooltip" title="{{ "Reset"|trans }}">
                            <i class="bi bi-dash"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-1">
                        {{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}
                    </h4>
                    <p class="mb-0"></p>
                </div>
                {% if rows.getTotalItemCount > 0 %}
                    {% include "dashboard/admin/user/manage-users-table.html.twig" with {rows: rows} %}
                    <div class="card-footer">
                        {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
                    </div>
                {% else %}
                    <div class="card-footer">
                        {% include "global/message.html.twig" with { type: "dark", message: ('No users found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if (getURLParameter("createdbyrestaurantslug")) {
                var url = "{{ path('get_restaurant', { slug : "restaurantslug" }) }}";
                url = url.replace("restaurantslug", getURLParameter("createdbyrestaurantslug"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_createdbyrestaurantslug').select2('data', {id: data.slug, text: data.text});
                    $('#createdbyrestaurantslug').val(data.slug).change();
                });
            }

            if (getURLParameter("countryslug")) {
                var url = "{{ path('get_country', { slug : "countryslug" }) }}";
                url = url.replace("countryslug", getURLParameter("countryslug"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_countryslug').select2('data', {id: data.slug, text: data.text});
                    $('#countryslug').val(data.slug).change();
                });
            }

            if (getURLParameter('role')) {
                $('#role').val(getURLParameter('role')).change();
            }

            if (getURLParameter('isVerified')) {
                $('input[type="radio"][name="isVerified"][value="' + getURLParameter('isVerified') + '"]').attr("checked", "checked");
            }

            if (getURLParameter('countryslug')) {
                $('#countryslug').val(getURLParameter('countryslug'));
            }
        });
    </script>
{% endblock %}
