<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="table-light">
			<tr>
				<th>{{ 'Name application'|trans }}</th>
				<th>{{ 'User / Date'|trans }}</th>
				<th>{{ 'Token'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for application in rows | sort((a, b) => a.name|lower <=> b.name|lower) %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <h4 class="mb-1 text-primary-hover">
                                    {{ application.name }}
                                </h4>
                                <span>
                                    {{ 'Published the'|trans }}
                                    {{ application.createdAt | localizeddate('full', 'none', app.request.locale, date_timezone, date_format) }}
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ application.user.getFullName | lower | capitalize }}
                    </td>
                    <td>
                        {% if application.token %}
                            <span class="badge-dot bg-success me-1 d-inline-block align-middle"></span>
                            <strong>{{ "Token OK"|trans }}</strong>
                            <h4 class="mb-1 h5">
                                <a href="{{ path('dashboard_application_token', { id : application.id }) }}" class="text-inherit">
                                    {{ "Regenerate a token"|trans }}
                                </a>
                            </h4>
                        {% else %}
                            <h4 class="mb-1 h5">
                                <a href="{{ path('dashboard_application_token', { id : application.id }) }}" class="text-inherit">
                                    <span class="badge-dot bg-warning me-1 d-inline-block align-middle"></span>
                                    <strong>{{ "Token NO"|trans }}</strong>
                                    {{ "Generate a token"|trans }}
                                </a>
                            </h4>
                        {% endif %}
                    </td>
                </tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="card-footer">
		{{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
	</div>
</div>
