<div class="card border-0 mb-4">
    <div class="card-header">
        <h4 class="mb-0">
            {{ pagetitle }} 
            {% if app.request.attributes.get('_route') == 'dashboard_admin_post_type_edit' %}
                "{{ type.name }}"
            {% endif %}
        </h4>
    </div>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
        <div class="card-body">
            <div>
                {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
            </div>
            {{ form_widget(form) }}
            <div class="col-12 pt-2">
                <button type="submit" class="{% if type.id %}btn btn-warning{% else %}btn btn-primary{% endif %} me-4">
                    {% if type.id %}{{ 'Update'|trans }}{% else %}{{ 'Save'|trans }}{% endif %}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
