{% extends 'dashboard.html.twig' %}

{% if is_granted('ROLE_ADMIN_APPLICATION') %}
    {% set pagetitle = 'Manage venues' | trans %}
{% else %}
    {% set pagetitle = 'My venues' | trans %}
{% endif %}
{% block title pagetitle %}

{% block content %}
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span>{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</span>
            </div>
            {% if is_granted('ROLE_VERIFIED') %}
                <div>
                    {% if is_granted('ROLE_ADMIN_APPLICATION') %}
                        <a href="{{ path('dashboard_admin_venue_new') }}" class="btn btn-outline-primary btn-sm">
                            {{ 'Create'|trans }}
                        </a>
                    {% elseif is_granted('ROLE_RESTAURANT')  %}
                        <a href="{{ path('dashboard_restaurant_venue_new') }}" class="btn btn-outline-primary btn-sm">
                            {{ 'Create'|trans }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if rows.getTotalItemCount %}
            <div class="card-body">
				<form class="row mb-4 gx-2">
                    <div class="col-xl-5 col-lg-7 col-md-3 col-12 mb-2 mb-lg-0">
                        <input type="search" name="keyword" value="{{ app.request.get('keyword') }}" class="form-control" placeholder="{{ 'Search...'|trans }}">
                    </div>
                    {% if is_granted('ROLE_ADMIN_APPLICATION') %}
                        <div class="col-xl-3 col-lg-2 col-md-3 col-12 mb-2 mb-lg-0">
                            <select class="form-select">
                                <option value="all" name="directory">{{ 'All'|trans }}</option>
                                <option value="1" name="directory">{{ 'Yes'|trans }}</option>
                                <option value="0" name="directory">{{ 'No'|trans }}</option>
                            </select>
                        </div>
                    {% endif %}
                    <div class="col-xl-2 col-lg-2 col-md-3 col-12 mb-2 mb-lg-0">
                        <select class="form-select">
                            <option value="">Rating</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-12 mb-2 mb-lg-0">
                        <select class="form-select" data-placeholder="{{ "Select an option"|trans }}">
                            <option value="">{{ "Sort by"|trans }}</option>
                            {{ knp_pagination_sortable(venues, "Creation date"|trans ~ ' (' ~ "desc"|trans ~ ')', "v.createdAt", {"direction": "desc", "criteria": "v.createdAt"}) }}
                            {{ knp_pagination_sortable(venues, "Creation date"|trans ~ ' (' ~ "asc"|trans ~ ')', "v.createdAt", {"direction": "asc", "criteria": "v.createdAt"}) }}
                        </select>
                    </div>
				</form>
            </div>
            {% include "dashboard/shared/venue/manage-venues-table.html.twig" with {rows: rows} %}
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('No venues found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            if (getURLParameter('directory') != "null") {
                $('input[type="radio"][name="directory"][value="' + getURLParameter('directory') + '"]').attr("checked", "checked");
            }
        });
    </script>
{% endblock %}
