{% extends 'dashboard.html.twig' %}

{# {% form_theme form 'form/jquery.collection.html.twig' %} #}

{% set pagetitle = 'Add a new venue'|trans %}
{% if venue.id %}{% set pagetitle = 'Update the venue'|trans %}{% endif %}
{% block title pagetitle %}

{% block breadcrumb %}
    {% if is_granted('ROLE_ADMIN_APPLICATION') %}
        {% set breadcrumb = [{ "dashboard_admin_venue_index": ('Manage venues'|trans), "current":(pagetitle) }] %}
    {% elseif is_granted('ROLE_RESTAURANT')  %}
        {% set breadcrumb = [{ "dashboard_restaurant_venue_index": ('My venues'|trans), "current":(pagetitle) }] %}
    {% endif %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="mb-0">{{ pagetitle }}</h3>
            <p class="mb-0">{{ ''|trans }}</p>
        </div>
        <div class="card-body">
            <div>
                {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.type) }}
                    {{ form_row(form.amenities) }}
                    {{ form_row(form.seatedguests) }}
                    {{ form_row(form.standingguests) }}
                    {{ form_row(form.neighborhoods) }}
                    {{ form_row(form.pricing) }}
                    {{ form_row(form.availibility) }}
                    {{ form_row(form.foodbeverage) }}
                    {{ form_row(form.quoteform) }}
                    {{ form_row(form.contactemail) }}

                    {{ form_row(form.street) }}
                    {{ form_row(form.street2) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.postalcode) }}
                    {{ form_row(form.state) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.showmap) }}

                    {{ form_row(form.images) }}
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if google_maps_api_key != "" %}
        <script type="text/javascript" src="{{ services.getCurrentRequestProtocol() }}://maps.google.com/maps/api/js?sensor=false&key={{google_maps_api_key}}"></script>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.venue-map').hide();
            function getVenueAddress() {
                var address = '';
                if ($('#venue_translations_en_name').val())
                    address = $('#venue_translations_en_name').val();
                if ($('#venue_street').val())
                    address = address + ' ' + $('#venue_street').val();
                if ($('#venue_street2').val())
                    address = address + ' ' + $('#venue_street2').val();
                if ($('#venue_city').val())
                    address = address + ' ' + $('#venue_city').val();
                if ($('#venue_postalcode').val())
                    address = address + ' ' + $('#venue_postalcode').val();
                if ($('#venue_state').val())
                    address = address + ' ' + $('#venue_state').val();
                if ($('#venue_country').val())
                    address = address + ' ' + $('#venue_country option:selected').text();
                return address;
            }
            $('#venue_street, #venue_street2, #venue_city, #venue_postalcode, #venue_state').blur(function () {
                if (getVenueAddress() != "") {
                    $('.venue-map').attr('src', '{{ services.getCurrentRequestProtocol() }}://maps.google.com/maps?q=' + getVenueAddress() + '&t=&z=13&ie=UTF8&iwloc=&output=embed');
                    $('.venue-map').show();
                }
            });
            $('#venue_country').on("select2-blur", function (e) {
                if (getVenueAddress() != "") {
                    $('.venue-map').attr('src', '{{ services.getCurrentRequestProtocol() }}://maps.google.com/maps?q=' + getVenueAddress() + '&t=&z=13&ie=UTF8&iwloc=&output=embed');
                    $('.venue-map').show();
                }
            });
        {% if venue.id %}
            $('#venue_country').trigger('blur');
        {% endif %}
        {% if google_maps_api_key != "" %}
                $('#venue_save').click(function (e) {
                    if (getVenueAddress() != "") {
                        e.preventDefault();
                        var geocoder = new google.maps.Geocoder();
                        geocoder.geocode({'address': getVenueAddress()}, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                $('#venue_lat').val(results[0].geometry.location.lat());
                                $('#venue_lng').val(results[0].geometry.location.lng());
                            }
                            $('form[name="venue"]').submit();
                        });
                    }
                });
        {% endif %}
            });
    </script>
{% endblock %}
