{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'Creators Check In'|trans %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_scanner_index": ('Recipe list' | trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-12 col-lg-8">
            <div class="box bg-gray h-100">
                {% include "global/recipe-preview-horizontal.html.twig" with { recipedate: recipeDate, hiderestaurant: true } %}
            </div>
        </div>
        <div class="col-12 col-lg-4 p-1">
            <p class="text-center mt-2"><small class="text-muted">{{ "Total creators check-in"|trans }}</small></p>
            <div class="mx-auto chart-circle chart-circle" data-value="{{ recipeDate.getScannedSubscriptionsCount / recipeDate.getOrderElementsQuantitySum }}">
                <div class="chart-circle-value">{{ recipeDate.getTotalCheckInPercentage }}%</div>
            </div>
            <p class="text-center">
                <small class="text-muted font-weight-bold">
                    {{ recipeDate.getScannedSubscriptionsCount }} / {{ recipeDate.getOrderElementsQuantitySum }}
                </small>
            </p>
        </div>
    </div>
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header border-bottom-0">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span></span>
            </div>
            <div>
                <a href="{{ path('dashboard_restaurant_recipe_new') }}" class="btn btn-outline-primary btn-sm">
                    {{ 'Create'|trans }}
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-center mb-4">
                <div class="col">
                    <p class="mb-0">{{ "%resultsCount% creator(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</p>
                </div>
                <div class="col-auto">
                    <div class="d-flex">
                        <div class="ms-3">
                            <label for="sorting" class="visually-hidden">{{ "Sort by"|trans }}</label>
                            <select class="form-select" id="sorting">
                                <option value="">{{ "Select an option"|trans }}</option>
                                <option value="">{{ knp_pagination_sortable(rows, "Order date"|trans ~ ' (' ~ "desc"|trans ~ ')', "t.createdAt", {"direction": "desc", "criteria": "t.createdAt"}) }}</option>
                                <option value="">{{ knp_pagination_sortable(rows, "Order date"|trans ~ ' (' ~ "asc"|trans ~ ')', "t.createdAt", {"direction": "asc", "criteria": "t.createdAt"}) }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <form class="row gx-2 mb-4 mt-3">
                <div class="col-lg-6 col-md-12 col-12 mb-3">
                    <label for="keyword">{{ "Creator name or email, subscription reference, order reference"|trans }}</label>
                    <input id="keyword" name="keyword" type="text" class="form-control" value="{{ app.request.get('keyword') }}">
                </div>
                <div class="col-lg-3 col-md-12 col-12 mb-3">
                    <div class="custom-control custom-checkbox">
                        <input id="checkedin-all" type="radio" name="checkedin" value="all" class="custom-control-input">
                        <label for="checkedin-all" class="custom-control-label">{{ "All"|trans }}</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="checkedin-yes" type="radio" name="checkedin" value="1" class="custom-control-input">
                        <label for="checkedin-yes" class="custom-control-label">{{ "Checked In Only"|trans }}</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="checkedin-no" type="radio" name="checkedin" value="0" class="custom-control-input">
                        <label for="checkedin-no" class="custom-control-label">{{ "Not Checked In Only"|trans }}</label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12 mb-3">
                    <button type="submit" class="btn btn-outline-primary">{{ "Search"|trans }}</button>
                    <button type="reset" class="btn btn-outline-secondary">{{ "Reset"|trans }}</button>
                </div>
            </form>
        </div>
        {% if rows.getTotalItemCount > 0 %}
            {% include "dashboard/scanner/creatorsCheckIn/manage-recipe-date-creators-table.html.twig" with {rows: rows} %}
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('No creators found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if (getURLParameter('checkedin') != "null") {
                $('input[type="radio"][name="checkedin"][value="' + getURLParameter('checkedin') + '"]').attr("checked", "checked");
            }
        });
    </script>
{% endblock %}
