{% extends 'dashboard.html.twig' %}

{% if paymentgateway.id %}
    {% set pagetitle = 'Update your %payoutMethodName% payout method'|trans({'%payoutMethodName%': paymentgateway.name}) %}
{% else %}
    {% if app.request.get('factoryName') == "paypal_rest" %}
        {% set payoutMethodName = "Paypal" %}
    {% elseif app.request.get('factoryName') == "stripe_checkout" %}
        {% set payoutMethodName = "Stripe" %}
    {% endif %}
    {% set pagetitle = 'Set your %payoutMethodName% payout method'|trans({'%payoutMethodName%': payoutMethodName}) %}
{% endif %}
{% block title pagetitle %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                {% set breadcrumb = [{ "dashboard_main": ('Dashboard'|trans), "dashboard_admin_setting_payment": ('Payment settings'|trans),  "current":(pagetitle) }] %}
                {% include "global/dashboard-breadcrumb.html.twig" with breadcrumb %}
                <div>
                    {% if is_granted('ROLE_VERIFIED') %}
                        <a href="{{ path('dashboard_admin_setting_payment') }}" class="btn btn-outline-secondary me-2">
                            {{ 'Return to list'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-12 col-12">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <h4 class="mb-0">
                        {{ pagetitle }}
                    </h4>
                </div>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_widget(form._token) }}
                    {{ form_errors(form) }}
                    <div class="card-body">
                        <div>
                            {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                            {% include "global/message.html.twig" with { type: "info", message: ('Make sure that the currency setting of your payout method matches the one currently used which is %currency%'|trans({'%currency%': settings['currency_ccy']})), icon: "bi bi-exclamation-circle" } %}
                        </div>
                        {{ form_widget(form) }}
                        <div class="col-12 pt-2">
                            <button type="submit" class="btn btn-primary me-4">
                                {{ 'Save'|trans }}
                            </button>
                        </div>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12 col-12"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if (getURLParameter('factoryName') == null) {
                var factoryName = "{{ paymentgateway.factoryName }}";
            } else {
                var factoryName = getURLParameter('factoryName');
            }
            $("#restaurant_payout_payment_gateway_save").click(function (e) {
                e.preventDefault();
                var danger = false;
                if (factoryName == "paypal_rest") {
                    if ($("input[name='restaurant_payout_payment_gateway[config][sandbox]']:checked").val() == undefined || $("#restaurant_payout_payment_gateway_config_client_id").val() == "" || $("#restaurant_payout_payment_gateway_config_client_secret").val() == "") {
                        danger = true;
                    }
                } else if (factoryName == "stripe_checkout") {
                    if ($("#restaurant_payout_payment_gateway_config_publishable_key").val() == "" || $("#restaurant_payout_payment_gateway_config_secret_key").val() == "") {
                        danger = true;
                    }
                }
                if (danger) {
                    showStackBarTop('danger', '', '{{ "Please enter your payout method details"|trans }}');
                } else {
                    $("#restaurant_payout_payment_gateway_save").closest("form").submit();
                }
            });
            $(".payment_config_field").each(function () {
                if ($(this).hasClass(factoryName)) {
                    $(this).closest(".form-group").show();
                } else {
                    $(this).closest(".form-group").hide();
                }
            });
        });
    </script>
{% endblock %}
