{% extends 'base.html.twig' %}

{% block layout %}{{ parent() }} dashboard{% endblock %}

{% block body %}
    {% block header %}
        {% include "global/_header.html.twig" %}
    {% endblock %}
    <main>
        {% block breadcrumb '' %}
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="rounded-top" style="background: url({{ asset('images/background/profile-bg.jpg') }}) no-repeat; background-size: cover; height: 100px"></div>
                        <div class="card px-4 pt-2 pb-4 shadow-sm rounded-top-0 rounded-bottom-0 rounded-bottom-md-2">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                                        <img src="{{ asset('images/avatar/avatar-1.jpg') }}" class="avatar-xl rounded-circle border border-4 border-white position-relative" alt="avatar">
                                        <a href="#" class="position-absolute top-0 end-0" data-bs-toggle="tooltip" data-placement="top" aria-label="Verified" data-bs-original-title="Verified">
                                            <img src="{{ asset('images/svg/checked-mark.svg') }}" alt="checked" height="30" width="30">
                                        </a>
                                    </div>
                                    <div class="lh-1">
                                        <h2 class="mb-0">{{ user.username }}</h2>
                                        <p class="mb-0 d-block">@{{ user.slug }}</p>
                                    </div>
                                </div>
                                <div>
                                    {% if app.request.attributes.get('_route') == 'dashboard_account_profile' %}
                                        <a href="{{ path('dashboard_main_account') }}" class="btn btn-primary d-none d-md-block">
                                            Tableau de bord
                                        </a>
                                    {% elseif app.request.attributes.get('_route') == 'dashboard_account_edit_profile' %}
                                        <a href="{{ path('dashboard_main_account') }}" class="btn btn-primary d-none d-md-block">
                                            Tableau de bord
                                        </a>
                                    {% elseif app.request.attributes.get('_route') == 'dashboard_account_edit_avatar' %}
                                        <a href="{{ path('dashboard_main_account') }}" class="btn btn-primary d-none d-md-block">
                                            Tableau de bord
                                        </a>
                                    {% elseif app.request.attributes.get('_route') == 'dashboard_account_edit_change_password' %}
                                        <a href="{{ path('dashboard_main_account') }}" class="btn btn-primary d-none d-md-block">
                                            Tableau de bord
                                        </a>
                                    {% elseif app.request.attributes.get('_route') == 'dashboard_main_account' %}
                                        <a href="{{ path('dashboard_account_edit_profile') }}" class="btn btn-primary d-none d-md-block">
                                            Paramètre du compte
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-0 mt-md-4">
                    <div class="col-lg-3 col-md-4 col-12">
                        <nav class="navbar navbar-expand-md shadow-sm mb-4 mb-lg-0 sidenav">
                            {% include "dashboard/shared/global/_nav-account.html.twig" %}
                        </nav>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12">
                        {% block content '' %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% block footer %}
        {% include "global/_footer.html.twig" %}
    {% endblock %}
{% endblock %}
