{% extends 'page.html.twig' %}

{% set pagetitle = 'Add your testimonial for %username%'|trans({'%username%': user.username}) %}
{% block title pagetitle %}

{% block pageheader %}
    <section class="py-4 py-lg-6 bg-primary">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                    <div class="d-lg-flex align-items-center justify-content-between">
                        <div class="mb-4 mb-lg-0">
                            <h1 class="text-white mb-1">{{ pagetitle }}</h1>
                            <p class="mb-0 text-white lead">{{ 'Simply fill out the form and create your testimonial.'|trans }}</p>
                        </div>
                        <div>
                            <a href="{{ path('dashboard_creator_testimonial_index') }}" class="btn btn-white">
                                {{ 'My testimonial'|trans }}
                            </a>
                            <a href="{{ path('testimonial') }}" class="btn btn-dark">
                                {{ 'Back to testimonial'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="pb-8">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
                    <div class="mt-5">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                            {{ form_widget(form._token) }}
                            <div class="card mb-3">
                                <div class="card-header border-bottom px-4 py-3">
                                    <h4 class="mb-0">{{ pagetitle }}</h4>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                                    </div>
                                    {{ form_errors(form) }}
                                    <div class="mb-3">
                                        {{ form_row(form.headline) }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form_row(form.slug) }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form_row(form.rating) }}
                                    </div>
                                    <div class="mb-3">
                                        {{ form_row(form.content) }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
