<div class="card mb-4">
    <div class="card-header">
        <h3 class="mb-0">
            {{ pagetitle }}
            {% if app.request.attributes.get('_route') == 'dashboard_account_recipe_edit' %}
                "{{ recipe.title }}"
            {% endif %}
        </h3>
        <p class="mb-0">{{ ''|trans }}</p>
    </div>
    <div class="card-body">
        <div>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                {{ form_errors(form) }}
                {% if app.request.attributes.get('_route') == 'dashboard_account_recipe_edit' %}
                    <div class="mb-3 col-12 col-md-6">
                        <h5 class="mb-3">{{ 'Pictures'|trans }}</h5>
                        <img src="{{ recipe.thumbnail ? asset(recipe.getThumbnailPath) : recipe.getThumbnailPlaceholder }}" alt="{{ recipe.title }}" class="img-4by3-lg rounded">
                    </div>
                {% endif %}
                {{ form_widget(form) }}
                <div class="col-12">
                    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
                        {{ button_label|default('Save'|trans) }}
                    </button>
                    {% if include_back_to_home_link|default(false) %}
                        <a href="{{ path('dashboard_account_recipe_index') }}" class="btn btn-outline-secondary">
                            {{ 'Return to list'|trans }}
                        </a>
                    {% endif %}
                </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
