{% extends 'dashboard.html.twig' %}

{% set pagetitle = 'My favorites'|trans %}
{% block title pagetitle %}

{% block content %}
    <div class="card mb-4">
        {% if rows.getTotalItemCount > 0 %}
            <div class="card-header">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span>{{ ''|trans }}</span>
            </div>
            <div class="card-body">
                <form class="row gx-3">
                    <div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
                        <input type="search" class="form-control" placeholder="{{ 'Search...'|trans }}">
                    </div>
                    <div class="col-lg-3 col-md-5 col-12">
                        <select class="form-select">
                            <option value="">Date Created</option>
                            <option value="Newest">Newest</option>
                            <option value="High Rated">High Rated</option>
                            <option value="Law Rated">Law Rated</option>
                            <option value="High Earned">High Earned</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="table-responsive overflow-y-hidden">
                <table class="table mb-0 text-nowrap table-hover table-centered text-nowrap">
                    <thead class="table-light">
                        <tr>
                            <th>{{ 'Recipe'|trans }}</th>
                            <th>{{ 'Category'|trans }}</th>
                            <th>{{ 'Rating'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recipe in rows %}
                            {% include "global/recipe-table.html.twig" with {recipe: recipe} %}
                        {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer">
                    {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
                </div>
            </div>
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "info", message: ('Add recipes to your favorites by clicking the heart button'|trans), icon: "bi bi-exclamation-circle" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}
