{% extends 'page.html.twig' %}

{% set pagetitle = post.title %}
{% block title pagetitle %}

{% block meta_dynamic_seo %}
	<meta name="description" content="{{ post.content | raw | nl2br | striptags | slice(0, 200) | raw }}..."/>
	{% if post.tags %}
		<meta name="keywords" content="{{ post.title }}, {% for tag in post.tags %} {{ tag }} {{ not loop.last ? ', ' : '' }}{% endfor %}"/>
	{% else %}
		<meta name="keywords" content="{{ settings['website_keywords_' ~ app.request.locale] }}"/>
	{% endif %}
	<meta property="og:title" content="{{ post.title }}"/>
	{# <meta property="og:image" content="{{ app.request.getUriForPath() }}"/> #}
	<meta property="og:description" content="{{ post.content | raw | nl2br | striptags | slice(0, 200) | raw }}..."/>
	<meta property="og:created_time" content="{{ post.createdAt | date('c') }}"/>
	<meta name="twitter:title" content="{{ post.title }}"/>
	{# <meta name="twitter:image" content="{{ app.request.getUriForPath() }}" /> #}
	<meta name="twitter:image:alt" content="{{ post.title }}"/>
	<meta name="twitter:description" content="{{ post.content | raw | nl2br | striptags | slice(0, 200) | raw }}..."/>
{% endblock %}

{% block content %}
    <div class="py-7">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 fw-bold">{{ "Search blog"|trans }}</h1>
                        <p class="lead"></p>
                    </div>
                    <form action="{{ path('post') }}" class="row px-md-8 mx-md-8 needs-validation" novalidate="">
                        <div class="mb-3 col ps-0 ms-2 ms-md-0">
                            <input type="search" name="keyword" class="form-control" placeholder="{{ "Keyword"|trans }}" value="{{ app.request.get('keyword') }}">
                        </div>
                        <div class="mb-3 col-auto ps-0">
                            <button class="btn btn-primary" type="submit">{{ 'Search'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	<section class="py-7 py-lg-8">
		<div class="container mb-lg-8">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">
                    <div class="text-center mb-5">
                        <a href="{{ path('post', { category: post.category.slug }) }}" class="fs-5 fw-semibold d-block mb-4 text-primary">
                            {{ post.category.name }}
                        </a>
                        <h1 class="display-3 fw-bold mb-4">{{ pagetitle }}</h1>
                        <p class="lead"></p>
                        {% if post.readtime %}
                            <span class="mb-3 d-inline-block">{{ post.readtime }} {{ 'Minimum reading'|trans }}</span>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <div class="d-flex align-items-center">
                            {% include "global/user-avatar.html.twig" with { user: post.author, type: "md" } %}
                            <div class="ms-2 lh-1">
                                <h5 class="mb-1">{{ 'Author'|trans }} {{ post.author.username }}</h5>
                                <span class="text-primary">{{ post.author.getRole|trans|raw }}</span>
                            </div>
                        </div>
                        <div>
                            <span class="ms-2">{{ 'Share'|trans }}</span>
                            {% include "global/post-share.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10 col-md-12 col-12 mb-6">
                    <img src="{{ post.imageName ? asset(post.getImagePath) : post.getImagePlaceholder }}" alt="{{ post.title }}" class="img-fluid rounded-3 w-100">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">
                    <div>
                        <div class="mb-4">
                            <p class="lead text-dark">{{ post.content | html_markdown_excerpt(160) }}</p>
                            <p>{{ post.content | html_markdown | nl2br }}</p>
                        </div>
                        <div class="mb-4">
                            <p class="mb-0">{{ 'Published'|trans }} {{ post.createdAt | ago }}</p>
                        </div>
                    </div>
                    <hr class="mt-8 mb-5 ">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <div class="d-flex align-items-center">
                            {% include "global/user-avatar.html.twig" with { user: post.author, type: "md" } %}
                            <div class="ms-2 lh-1">
                                <h5 class="mb-1">{{ 'Author'|trans }} {{ post.author.username }}</h5>
                                <span class="text-primary">{{ post.author.getRole|trans|raw }}</span>
                            </div>
                        </div>
                        <div>
                            <span class="ms-2">{{ 'Share'|trans }}</span>
                            {% include "global/post-share.html.twig" %}
                        </div>
                    </div>
                    <hr class="mt-8 mb-5 ">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <div>
                            <span class="ms-2">{{ 'Tags'|trans }}</span>
                            {% if post.tags %}
                                {% for tag in post.tags|split(',') %}
                                    <a href="{{ path('post', { keyword: tag }) }}" class="btn btn-light btn-xs mb-2">
                                        {{ tag }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <div>
                                <span class="ms-2">{{ 'Suggest a correction'|trans }}</span>
                                <a href="{{ path('revise', {id: post.id}) }}" class="fs-5 fw-semibold mb-4 text-primary">
                                    {{ 'Send'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% set post_comments_enabled = setting.getSettings("post_comments_enabled") %}
                    {% if '0' != settings["post_comments_enabled"] %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="mb-5">
                                <div class="card border">
                                    <div class="card-body p-5">
                                        {{ render(controller('App\\Controller\\PostCommentController::form', {'id': post.id})) }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <div>
                                    <span class="ms-2">{{ 'To publish a comment'|trans }}</span>
                                    <a href="{{ path('login', {'redirect_to': app.request.pathInfo}) }}" class="fs-5 fw-semibold mb-4 text-primary">{{ 'Sign in'|trans }}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <div class="d-lg-flex align-items-center justify-content-between mb-5">
                                <div class="mb-3 mb-lg-0">
                                    <h3 class="mb-0">
                                        {{ comments.getTotalItemCount }} {{ comments.getTotalItemCount > 1 ? "comments"|trans : "comment"|trans }}
                                    </h3>
                                </div>
                                <div></div>
                            </div>
                            {% if comments.getTotalItemCount > 0 %}
                                {% for comment in comments %}
                                    {% if comment.parent == null %}
                                        {% include 'global/comment.html.twig' %}
                                    {% endif %}
                                {% endfor %}
                                {{ knp_pagination_render(comments, null, {}, {'align': 'center'}) }}
                            {% else %}
                                {% include "global/message.html.twig" with { type: "dark", message: ('Be the first to comment on this article.'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
		</div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="my-5">
                        <h2>{{ 'Related posts'|trans }}</h2>
                    </div>
                </div> 
                {% set similarposts = setting.getBlogPosts({"limit": 3, "category": post.category.slug, "otherthan": post.id}).getQuery().getResult() %}
                {% if similarposts | length %}
                    {% for similarpost in similarposts %}
                        {% include "global/post-card.html.twig" with {post: similarpost, thumbnailsize: [241, 241], showdate: 1} %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
	</section>
{% endblock %}
