<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="">
			<tr>
				<th>{{ 'Name'|trans }}</th>
				<th>{{ 'Sections'|trans }}</th>
				<th>{{ 'Total seats'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for seatingPlan in rows %}
                {% set link = path('dashboard_restaurant_venue_seating_plans_edit', { venueSlug : seatingPlan.venue.slug, seatingPlanSlug: seatingPlan.slug }) %}
				<tr>
					<td>{{ seatingPlan.name }}</td>
                    <td>{{ seatingPlan.design.sections|length }}</td>
					<td>{{ seatingPlan.countTotalSeats }}</td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
								<a class="dropdown-item" href="">
									<i class="bi bi-eye dropdown-item-icon"></i>
									{{ 'Details'|trans }}
								</a>
								<a class="dropdown-item" href="{{ path('dashboard_restaurant_venue_seating_plans_duplicate', { venueSlug : seatingPlan.venue.slug, seatingPlanSlug: seatingPlan.slug }) }}">
									<i class="bi bi-eye dropdown-item-icon"></i>
									{{ 'Duplicate'|trans }}
								</a>
                                <a class="dropdown-item" href="{{ link }}">
                                    <i class="bi bi-pencil dropdown-item-icon"></i>
                                    {{ 'Edit'|trans }}
                                </a>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% for seatingPlan in rows %}

{% endfor %}
