{% extends 'dashboard.html.twig' %}

{# {% form_theme form 'form/jquery.collection.html.twig' %} #}

{% set pagetitle = 'Add a new seating plan'|trans %}
{% if venue.id %}{% set pagetitle = 'Update the seating plan'|trans %}{% endif %}
{% block title pagetitle %}

{% block breadcrumb %}
    {% set breadcrumb = [{ "dashboard_restaurant_venue_index": ('My venues'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="mb-0">{{ pagetitle }}</h3>
            <p class="mb-0">{{ ''|trans }}</p>
        </div>
        <div class="card-body">
            <div>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'row gx-3 needs-validation'} }) }}
                    {{ form_errors(form) }}

                    {% include "global/message.html.twig" with { type: "dark", message: ('<ul><li>Make sure to place the stage and the sections within the designer</li><li>Once assigned to an recipe date, a seating plan can not be edited anymore, you can duplicate it and create a new version and apply the desired changes to the duplicated version.</li></ul>'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}

                    <div class="col-12">
                        <div id="seating-plan-designer-container" {% if app.request.get('_route') == 'dashboard_restaurant_venue_seating_plans_edit' %}data-design-to-edit="{{ seatingPlan.design|json_encode() }}"{% endif %} class="ui-widget-content"></div>
                    </div>

                    <div class="col-12">
                        <button id="add-new-section" type="button" class="btn btn-primary">{{ 'Create'|trans }}</button>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
