<div class="seating-plan-preview-wrapper">
    <div class="seating-plan-preview-stage" style="background: {{ seatingPlan.design['stage']['bgColor'] }}; left: {{ seatingPlan.design['stage']['positionX'] }}; top: {{ seatingPlan.design['stage']['positionY'] }};height: {{ seatingPlan.design['stage']['height'] }}px;width: {{ seatingPlan.design['stage']['width'] }}px;transform: rotate({{ seatingPlan.design['stage']['rotationAngle'] }}rad);">
        <h6>{{ seatingPlan.design['stage']['name'] }}</h6>
    </div>

    {% for section in seatingPlan.design['sections'] %}

        {% set relatifSubscription = recipeDate.getSubscriptionBySectionName(section['name']) %}

        {% if relatifSubscription %}
            <div class="seating-plan-preview-section {% if relatifSubscription.active == false or not relatifSubscription.isOnSale %}recipe-subscription-disabled{% endif %}" data-section-id="{{ section['randomId'] }}" data-subscription-reference="{{ relatifSubscription.reference }}" data-toggle="modal" data-target="#section{{ section['randomId'] }}-rows-modal" style="background: {{ section['bgColor'] }}; left: {{ section['positionX'] }}; top: {{ section['positionY'] }};height: {{ section['height'] }}px;width: {{ section['width'] }}px;transform: rotate({{ section['rotationAngle'] }}rad);">
                <span class="seating-plan-section-subscriptions-choosen-indicator d-none" data-toggle="tooltip" title="{{ "Selected subscriptions in this section"|trans }}"></span>
                <h6>{{ section['name'] }}</h6>
            </div>
        {% endif %}

    {% endfor %}
</div>
