<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="">
			<tr>
				<th>#</th>
				<th>{{ 'Title'|trans }}</th>
				<th>{{ 'Slug'|trans }}</th>
				<th>{{ 'Link'|trans }}</th>
				<th>{{ 'Views'|trans }}</th>
				<th>{{ 'Last updated'|trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for page in rows %}
				{% set link = path('dashboard_admin_page_edit', { slug : page.slug }) %}
				<tr>
					<td>{{ page.id }}</td>
					<td>
						<a href="{{ link }}" class="text-inherit">
							<div class="d-flex align-items-center">
								<div class="ms-3">
									<h4 class="mb-1 text-primary-hover">{{ page.title }}</h4>
									<span>
										{{ 'Published the'|trans }}
										{{ page.createdAt ? page.createdAt | format_date('long') : '' }}
									</span>
								</div>
							</div>
						</a>
					</td>
					<td>
						<span class="text-decoration-none">{{ page.slug }}</span>
					</td>
					<td>
						<a href="{{ path('page', { slug : page.slug }) }}" target="_blank">
							{{ path('page', { slug : page.slug }) }}
						</a>
					</td>
					<td>
						<span class="text-decoration-none">{{ page.views }}
							{{ "views"|trans }}
                        </span>
					</td>
					<td>{{ page.updatedAt ? page.updatedAt | ago() : '' }}</td>
					<td>
						<div class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
								<a class="dropdown-item" href="{{ link }}">
									<i class="bi bi-pencil dropdown-item-icon"></i>
									{{ 'Edit'|trans }}
								</a>
								<a href="#" onclick="event.preventDefault(); confirm("{{ 'Are you sure you want to delete this item?'|trans }}") && document.getElementById('js-page-delete-form').submit();" class="dropdown-item">
									<i class="bi bi-trash dropdown-item-icon"></i>
									{{ 'Delete'|trans }}
								</a>
								<form id="js-page-delete-form" action="{# {{ path('dashboard_admin_page_delete', {id: page.id}) }} #}" method="post" class="">
									<input type="hidden" name="_token" value="{{ csrf_token('page_deletion_' ~ page.id) }}">
									<input type="hidden" name="_method" value="DELETE">
								</form>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
