<div class="card border-0 mb-4">
    <div class="card-header">
        <h4 class="mb-0">
            {{ pagetitle }} 
            {% if app.request.attributes.get('_route') == 'dashboard_admin_pricing_edit' %}
                "{{ pricing.title }}"
            {% endif %}
        </h4>
    </div>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
        <div class="card-body">
            {% if app.request.attributes.get('_route') == 'dashboard_admin_pricing_edit' %}
                <div>
                    <h5 class="mb-3">{{ 'Icon'|trans }}</h5>
                    <img src="{{ pricing.thumbnail ? asset(pricing.getThumbnailPath) : pricing.getThumbnailPlaceholder }}" alt="{{ pricing.title }}" class="img-4by3-lg rounded">
                </div>
            {% endif %}
            {{ form_widget(form) }}
            <div class="col-12 pt-2">
                <button type="submit" class="{{ button_css|default("btn btn-primary") }} me-4">
                    {{ button_label|default('Save'|trans) }}
                </button>
                {% if include_back_to_home_link|default(false) %}
                    <a href="{{ path('dashboard_admin_pricing_index') }}" class="btn btn-outline-secondary">
                        {{ 'Return to list'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    {{ form_end(form) }}
</div>
