{% extends 'dashboard.html.twig' %}

{% if is_granted('ROLE_ADMIN_APPLICATION') %}
    {% set pagetitle = 'Manage recipes'|trans %}
{% elseif is_granted('ROLE_RESTAURANT') %}
    {% set pagetitle = 'My recipes'|trans %}
{% endif %}
{% block title pagetitle %}

{% block content %}
    <div class="card mb-4">
        <div class="d-lg-flex justify-content-between align-items-center card-header border-bottom-0">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span>{{ "%resultsCount% result(s) found"|trans({'%resultsCount%': rows.getTotalItemCount}) }}</span>
            </div>
            {% if is_granted('ROLE_RESTAURANT') %}
                <div>
                    <a href="{{ path('dashboard_restaurant_recipe_new') }}" class="btn btn-outline-primary btn-sm">
                        {{ 'Create'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        {% if rows.getTotalItemCount > 0 %}
            <div class="card-body">
                <form class="row gx-3">
                    <div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
                        <input type="search" class="form-control" placeholder="{{ 'Search...'|trans }}">
                    </div>
                    <div class="col-lg-3 col-md-5 col-12">
                        <select class="form-select">
                            <option value="">{{ "Select an option"|trans }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "desc"|trans ~ ')', "r.createdAt", {"direction": "desc", "criteria": "r.createdAt"}) }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Creation date"|trans ~ ' (' ~ "asc"|trans ~ ')', "r.createdAt", {"direction": "asc", "criteria": "r.createdAt"}) }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Popularity"|trans ~ ' (' ~ "desc"|trans ~ ')', "r.views", {"direction": "desc", "criteria": "r.views"}) }}</option>
                            <option value="">{{ knp_pagination_sortable(rows, "Popularity"|trans ~ ' (' ~ "asc"|trans ~ ')', "r.views", {"direction": "asc", "criteria": "r.views"}) }}</option>
                        </select>
                    </div>
                </form>
            </div>
            {% include "dashboard/shared/recipes/manage-recipes-table.html.twig" with {rows: rows} %}
            <div class="card-footer">
                {{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
            </div>
        {% else %}
            <div class="card-footer">
                {% include "global/message.html.twig" with { type: "dark", message: ('No recipe found'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if (getURLParameter("slug")) {
                var url = "{{ (path('get_recipe', { slug : "recipeslug", isOnline: "all", elapsed: "all" }))|raw }}";
                url = url.replace("recipeslug", getURLParameter("slug"));
                $.ajax({
                    type: 'GET',
                    url: url
                }).then(function (data) {
                    $('#fake_slug').select2('data', {id: data.slug, text: data.text});
                    $('#slug').val(data.slug).change();
                });
            }

            if (getURLParameter('category') != "null") {
                $('#category').val(getURLParameter('category')).trigger("change");
            }

            if (getURLParameter('venue') != "null") {
                $('#venue').val(getURLParameter('venue')).trigger("change");
            }

            if (getURLParameter('elapsed') != "null") {
                $('input[type="radio"][name="elapsed"][value="' + getURLParameter('elapsed') + '"]').attr("checked", "checked");
            }

            if (getURLParameter('isOnline') != "null") {
                $('input[type="radio"][name="isOnline"][value="' + getURLParameter('isOnline') + '"]').attr("checked", "checked");
            }
        });
    </script>
{% endblock %}
