<div class="table-responsive overflow-y-hidden">
	<table class="table mb-0 text-nowrap table-hover table-centered">
		<thead class="table-light">
			<tr>
				<th>{{ 'Recipe'|trans }}</th>
				{% if is_granted('ROLE_ADMIN_APPLICATION') %}
					<th>{{ 'Restaurant'|trans }}</th>
				{% endif %}
				<th>{{ 'Category'|trans }}</th>
				<th>{{ 'Rating'|trans }}</th>
				<th>{{ 'Sales'|trans}}</th>
				<th>{{ 'Status'|trans }}</th>
				<th>{{ 'Attendance'|trans}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for recipe in rows %}
				<tr>
					<td>
						{% set link = path('recipe', { slug : recipe.slug }) %}
						<div class="d-flex align-items-center">
							<div>
								<a href="{{ link }}" target="_blank">
									<img src="{{ recipe.imageName ? asset(recipe.getImagePath) : recipe.getImagePlaceholder }}" alt="{{ recipe.title }}" class="rounded img-4by3-lg">
								</a>
							</div>
							<div class="ms-3">
								<h4 class="mb-1 h5">
									<a href="{{ link }}" data-toggle="tooltip" title="{{ "View recipe"|trans }}" target="_blank" class="text-inherit">
										{{ recipe.title }}
									</a>
								</h4>
								<ul class="list-inline fs-6 mb-0">
									<li class="list-inline-item">
										<span class="align-text-bottom">
											<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-clock" viewbox="0 0 16 16">
												<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
												<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
											</svg>
										</span>
										<span>{{ recipe.duration }}</span>
									</li>
									<li class="list-inline-item">
										<svg class="me-1 mt-n1" width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
											<rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
											<rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
										</svg>
										#{{ recipe.reference }}
									</li>
									<li class="list-inline-item">
										<svg class="me-1 mt-n1" width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
											<rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
											<rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
										</svg>
										Beginner
									</li>
								</ul>
							</div>
						</div>
					</td>
					{% if is_granted('ROLE_ADMIN_APPLICATION') %}
						<td>
							<a href="{{ path('restaurant', { slug : recipe.restaurant.slug }) }}" target="_blank" class="text-inherit" data-toggle="tooltip" title="{{ "View restaurant"|trans }}">{{ recipe.restaurant.name }}</a>
						</td>
					{% endif %}
					<td>
						<span class="text-decoration-none" style="color: {{ recipe.category.color | default('') }}">
							{{ recipe.category.name | default('') }}
						</span>
					</td>
					<td>
						<span class="lh-1">
							<span class="text-warning">4.5</span>
							<span class="mx-1 align-text-top">
								<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-star-fill text-warning" viewbox="0 0 16 16">
									<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
								</svg>
							</span>
							(3,250)
						</span>
					</td>
					<td></td>
					<td>
						{% if recipe.isOnline == false %}
							<span class="badge bg-danger-soft">
								<i class="bi bi-eye-slash"></i>
								{{ "Offline"|trans }}
							</span>
						{% else %}
							<span class="badge bg-success-soft">
								<i class="bi bi-eye"></i>
								{{ "Online"|trans }}
							</span>
						{% endif %}
						<span class="badge bg-{{ recipe.stringifyStatusClass }}-soft">{{ recipe.stringifyStatus|trans }}</span>
						{% if recipe.deletedAt %}
							<span class="badge bg-danger-soft">
								<i class="bi bi-alarm"></i>
								{{ "Deleted"|trans }}
							</span>
						{% endif %}
					</td>
					<td>
						<span class="dropdown dropstart">
							<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
								<i class="bi bi-three-dots-vertical"></i>
							</a>
							<span class="dropdown-menu" aria-labelledby="Dropdown1" style="">
								<span class="dropdown-header">{{ 'Settings'|trans }}</span>
								<a class="dropdown-item cursor-pointer" data-bs-toggle="modal" data-bs-target="#recipe-{{ recipe.reference }}-dates">
									<i class="bi bi-pencil fas fa-chart-line fa-fw dropdown-item-icon"></i>
									{{ 'Statistics'|trans }}
								</a>
                                {% if recipe.hasRecipeDateWithSeatingPlan %}
                                    <a class="dropdown-item cursor-pointer" data-bs-toggle="modal" data-bs-target="#recipe-{{ recipe.reference }}-datesWithSeatingPlan">
                                        <i class="bi bi-pencil fas fa-braille fa-fw dropdown-item-icon"></i>
                                        {{ 'View reserved seats'|trans }}
                                    </a>
                                {% endif %}
								{% if is_granted('ROLE_ADMIN_APPLICATION') %}
                                    <a class="dropdown-item ajax-loading" href="{{ path('dashboard_admin_recipe_details', {slug : recipe.slug}) }}">
                                        <i class="bi bi-eye fas fa-file-alt fa-fw dropdown-item-icon"></i>
                                        {{ 'Details'|trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('dashboard_admin_orders', {recipe : recipe.slug, status: 1}) }}">
                                        <i class="bi bi-eye fas fa-users fa-fw dropdown-item-icon"></i>
                                        {{ 'Attendees'|trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('dashboard_admin_review_index', {slug : recipe.slug}) }}">
                                        <i class="bi bi-eye fas fa-star fa-fw dropdown-item-icon"></i>
                                        {{ 'Reviews'|trans }}
                                    </a>
                                    {% if recipe.deletedAt %}
									<a class="dropdown-item" href="{{ path('dashboard_admin_recipe_restore', { slug : recipe.slug }) }}">
										<i class="bi bi-trash-fill dropdown-item-icon"></i>
										{{ 'Restore'|trans }}
									</a>
                                    <a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-recipe-delete-form').submit();" class="dropdown-item">
                                        <i class="bi bi-trash dropdown-item-icon"></i>
                                        {{ 'Delete permanently'|trans }}
                                    </a>
                                    <form id="js-recipe-delete-form" action="{{ path('dashboard_admin_recipe_delete_permanently', { slug : recipe.slug }) }}" method="post" class="">
                                        <input type="hidden" name="_token" value="{{ csrf_token('recipe_deletion_' ~ recipe.slug) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                    </form>
                                    {% else %}
                                        <a class="dropdown-item" href="{{ path('dashboard_admin_recipe_delete', { slug : recipe.slug }) }}">
                                            <i class="bi bi-alarm dropdown-item-icon"></i>
                                            {{ 'Delete'|trans }}
                                        </a>
                                    {% endif %}
								{% elseif is_granted('ROLE_RESTAURANT') %}
                                    {% if not recipe.isFree %}
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#recipe-{{ recipe.reference }}-payout-request">
                                            <i class="bi bi-pencil fas fa-file-invoice-dollar fa-fw dropdown-item-icon"></i>
                                            {{ 'Request payout'|trans }}
                                        </a>
                                    {% endif %}
                                    <a class="dropdown-item ajax-loading" href="{{ path('dashboard_restaurant_recipe_details', {slug : recipe.slug}) }}" data-title="{{ recipe.title }}">
                                        <i class="bi bi-eye fas fa-file-alt fa-fw dropdown-item-icon"></i>
                                        {{ 'Details'|trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('dashboard_restaurant_recipe_edit', {slug : recipe.slug}) }}">
                                        <i class="bi bi-pencil dropdown-item-icon"></i>
                                        {{ 'Edit'|trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('dashboard_restaurant_orders', {recipe : recipe.slug, status: 1}) }}">
                                        <i class="bi bi-eye fas fa-users fa-fw dropdown-item-icon"></i>
                                        {{ 'Attendees'|trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('dashboard_restaurant_review_index', {slug : recipe.slug}) }}">
                                        <i class="bi bi-eye fas fa-star fa-fw dropdown-item-icon"></i>
                                        {{ 'Reviews'|trans }}
                                    </a>
                                    {% if recipe.isOnline == true %}
                                        <a class="dropdown-item" href="{{ path('dashboard_restaurant_recipe_draft', {slug: recipe.slug}) }}">
                                            <i class="bi bi-eye-slash dropdown-item-icon"></i>
                                            {{ "Draft"|trans }}
                                        </a>
                                    {% else %}
                                        <a class="dropdown-item" href="{{ path('dashboard_restaurant_recipe_publish', {slug: recipe.slug}) }}">
                                            <i class="bi bi-eye dropdown-item-icon"></i>
                                            {{ "Publish"|trans }}
                                        </a>
                                    {% endif %}
                                    {% if recipe.deletedAt %}
                                        <a href="#" onclick="event.preventDefault(); confirm('{{ "Are you sure you want to delete this item?"|trans }}') && document.getElementById('js-recipe-delete-form').submit();" class="dropdown-item">
                                            <i class="bi bi-trash dropdown-item-icon"></i>
                                            {{ 'Delete permanently'|trans }}
                                        </a>
                                        <form id="js-recipe-delete-form" action="{{ path('dashboard_restaurant_recipe_delete_permanently', {slug: recipe.slug}) }}" method="post" class="">
                                            <input type="hidden" name="_token" value="{{ csrf_token('recipe_deletion_' ~ recipe.slug) }}">
                                            <input type="hidden" name="_method" value="DELETE">
                                        </form>
                                    {% else %}
                                        <a class="dropdown-item" href="{{ path('dashboard_restaurant_recipe_delete', {slug: recipe.slug}) }}">
                                            <i class="bi bi-alarm dropdown-item-icon"></i>
                                            {{ 'Delete'|trans }}
                                        </a>
                                    {% endif %}
								{% endif %}
							</span>
						</span>
					</td>
				</tr>

                <div class="modal fade" id="recipe-{{ recipe.reference }}-datesWithSeatingPlan" tabindex="-1" role="dialog" aria-labelledby="recipe-{{ recipe.reference }}-datesWithSeatingPlanTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="recipe-{{ recipe.reference }}-datesWithSeatingPlanTitle">
                                    {{ recipe.title }}: {{ "Recipe dates"|trans }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% for recipeDate in recipe.recipedates %}
                                    {% if recipeDate.hasSeatingPlan %}
                                        <div>
                                            <b class="float-start">
                                                {{ recipeDate.startdate|localizeddate('none', 'none', app.request.locale, date_timezone, date_format) }}
                                            </b>
                                            {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                                                <a href="{{ path("dashboard_admin_recipe_date_reservedSeats", {recipeDateReference: recipeDate.reference, recipeSlug: recipe.slug}) }}" class="float-end">
                                                    {{ "View reserved seats"|trans }}
                                                </a>
                                            {% elseif is_granted("ROLE_RESTAURANT") %}
                                                <a href="{{ path("dashboard_restaurant_recipe_date_reservedSeats", {recipeDateReference: recipeDate.reference, recipeSlug: recipe.slug}) }}" class="float-end">
                                                    {{ "View reserved seats"|trans }}
                                                </a>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                    {% endif %}
                                    {% if not loop.last %}<hr>{% endif %}
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Close"|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="recipe-{{ recipe.reference }}-dates" tabindex="-1" role="dialog" aria-labelledby="recipe-{{ recipe.reference }}-datesTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="recipe-{{ recipe.reference }}-datesTitle">
                                    {{ recipe.title }}: {{ "Recipe dates"|trans }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% for recipeDate in recipe.recipedates %}
                                    <div>
                                        <b class="float-start">
                                            {{ recipeDate.startdate|localizeddate('none', 'none', app.request.locale, date_timezone, date_format) }}
                                        </b>
                                        {% if is_granted("ROLE_ADMIN_APPLICATION") %}
                                            <a href="{{ path("dashboard_admin_recipe_date_statistics", {recipeDateReference: recipeDate.reference, recipeSlug: recipe.slug}) }}" class="float-end">
                                                {{ "View stats"|trans }}
                                            </a>
                                        {% elseif is_granted("ROLE_RESTAURANT") %}
                                            <a href="{{ path("dashboard_restaurant_recipe_date_statistics", {recipeDateReference: recipeDate.reference, recipeSlug: recipe.slug}) }}" class="float-end">
                                                {{ "View stats"|trans }}
                                            </a>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    {% if not loop.last %}<hr>{% endif %}
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Close"|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>

				{% if not recipe.isFree %}
                    <div class="modal fade" id="recipe-{{ recipe.reference }}-payout-request" aria-hidden="true" aria-labelledby="recipe-{{ recipe.reference }}-payout-requestLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="recipe-{{ recipe.reference }}-payout-requestLabel">
                                        {{ recipe.title }}: {{ "Payout request"|trans }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {% include "global/message.html.twig" with { type: "dark", message: ('Once the payout request submitted, the recipe date will be locked and the sales will be suspended for the specific recipe date. If you wish, you can wait until the start date of the recipe date before requesting the payout. You can cancel the payout request any time before it is processed'|trans), icon: "bi bi-exclamation-circle", class: "my-2" } %}
                                    <hr>
                                    {% for recipeDate in recipe.recipedates %}
                                        {% if not recipeDate.isFree %}
                                            <div>
                                                <b class="float-start">
                                                    {{ recipeDate.startdate|localizeddate('none', 'none', app.request.locale, date_timezone, date_format) }}
                                                </b>
                                                {% if recipeDate.isFree %}
                                                    <span class="badge bg-info float-end">{{ "Free"|trans }}</span>
                                                {% elseif recipeDate.getSales <= 0 %}
                                                    <span class="badge bg-info float-end">{{ "No sales yet"|trans }}</span>
                                                {% elseif recipeDate.payoutRequested %}
                                                    <a href="{{ path("dashboard_restaurant_payout_requests", {recipedate: recipeDate.reference}) }}" class="float-end">
                                                        <i class="fas fa-file-invoice-dollar"></i> {{ "Payout already requested"|trans }}
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path("dashboard_restaurant_recipe_date_request_payout", {recipeDateReference: recipeDate.reference}) }}" class="float-end">
                                                        <i class="fas fa-file-invoice-dollar"></i> {{ "Request payout"|trans }}
                                                    </a>
                                                {% endif %}
                                                <div class="clearfix"></div>
                                            </div>
                                        {% endif %}
                                        {% if not loop.last %}<hr>{% endif %}
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Close"|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	<div class="card-footer">
		{{ knp_pagination_render(rows, null, {}, {'align': 'center'}) }}
	</div>
</div>
