{% extends 'dashboard.html.twig' %}

{# {% form_theme form 'form/jquery.collection.html.twig' %} #}

{% set pagetitle = 'Add a new recipes'|trans %}
{% if recipe.id %}{% set pagetitle = 'Update the recipe'|trans %}{% endif %}
{% block title pagetitle %}

{% block breadcrumb %}
	{% set breadcrumb = [{ "dashboard_restaurant_recipe_index": ('My recipes'|trans), "current":(pagetitle) }] %}
	{% include "global/breadcrumb.html.twig" with breadcrumb %}
{% endblock %}

{% block content %}
    <div class="card mb-4 {{ "recipe_new" in app.request.get("_route") ? "new-recipe" : "edit-recipe" }}">
        <div class="d-lg-flex justify-content-between align-items-center card-header">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-0">{{ pagetitle }}</h3>
                <span></span>
            </div>
            <div>
                <a href="{{ path('dashboard_restaurant_recipe_index') }}" class="btn btn-outline-primary btn-sm">
                    {{ 'Return to list'|trans }}
                </a>
            </div>
        </div>
        <div class="card-body">
            <div>
                {% include "global/message.html.twig" with { type: "info", icon: "bi bi-exclamation-circle", message: ("The fields preceded with a red * are mandatory"|trans) } %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'} }) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <div id="seating-plans-sections-seats-count" data-seating-plans-sections-seats-count="{{ seatingPlansSectionsSeatsCountArrayJson }}">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {% if recipe.id %}
                {% for recipeDate in recipe.recipedates %}
                    {% if recipeDate.payoutRequested %}
                        $('.recipe-date-reference').each(function () {
                            if ($(this).val() == "{{recipeDate.reference}}") {
                                $(this).closest("fieldset").prop('disabled', true);
                                $(this).closest("fieldset").prepend('<p class="alert alert-danger alert-icon"><i class="fas fa-exclamation-circle"></i> {{ "This recipe date is locked because a payout request has been submitted"|trans }}</p>');
                            }
                        });
                    {% endif %}
                {% endfor %}
                {% for recipeDate in recipe.recipedates %}
                    {% for recipeDateSubscription in recipeDate.subscriptions %}
                        {% if recipeDateSubscription.isOnSale and recipeDateSubscription.getOrderElementsQuantitySum() > 0 %}
                            $('.recipe-date-subscription-reference').each(function () {
                            if ($(this).val() == "{{recipeDateSubscription.reference}}") {
                                $(this).closest("fieldset").find('.recipe-date-subscription-quantity').trigger("touchspin.updatesettings", {min: {{ recipeDateSubscription.getOrderElementsQuantitySum() }}});
                                    $(this).closest("fieldset").find('.recipe-date-subscription-quantity').attr("data-min", {{ recipeDateSubscription.getOrderElementsQuantitySum() }});
                                    }
                                });
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            $(document).on('submit', 'form[name="recipe"]', function () {
                $('form[name="recipe"]').find('fieldset').prop('disabled', false);
            });
        });
    </script>
{% endblock %}
