<div class="mb-4">
	{% include "widget/search-data.html.twig" %}
</div>
<div class="card mb-4 border">
	<div class="card-body p-4">
		<h3>{{ 'Total'|trans }}</h3>
		<div class="mt-3">
            <p>
                {{ "Oh oh ! %totalPosts% messages written so far."|trans({'%totalPosts%' : totalPosts}) }}
            </p>
		</div>
	</div>
</div>
<div class="card mb-4 border">
	<div class="card-body p-4">
		<h3>{{ 'Latest publications'|trans }}</h3>
		<div class="mt-3">
			{% include "widget/posts-data.html.twig" with { posts: latestPosts} only %}
		</div>
	</div>
</div>
<div class="card mb-4 border">
	<div class="card-body p-4">
		<h3>{{ 'Most commented posts'|trans }}</h3>
		<div class="mt-3">
			{% include "widget/posts-data.html.twig" with { posts: mostCommentedPosts} only %}
		</div>
	</div>
</div>
<div class="card mb-4 border">
	<div class="card-body p-4">
		<h3>{{ 'Categories'|trans }}</h3>
		<div class="mt-3">
			{% include "widget/categories-data.html.twig" with { postcategories: postCategories} only %}
		</div>
	</div>
</div>
<div class="card mb-4 border">
	<div class="card-body p-4">
		<h3>{{ 'Archive'|trans }}</h3>
		<div class="mt-3">
			{% include "widget/archive-data.html.twig" %}
		</div>
	</div>
</div>
<div class="card mb-4 border">
	<div class="card-body p-4">
		<h3>{{ 'Keywords'|trans }}</h3>
		<div class="mt-3">
			{% include "widget/keywords-data.html.twig" with { keywords: postKeywords} only %}
		</div>
	</div>
</div>
